
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>General Setting</h1>
<h2>Customer Management</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
        <input id="btn-create" type="button" class="btn btn-info" value="New Customer">
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Customer Name</th>
                    <th>Customer Code</th>
                    <th>Department Code</th>
                    <th>Address Line 1</th>
                    <th>Address Line 2</th>
                    <th>Tel.</th>
                    <th>E-mail</th>
                    <th>Contact Person</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

<div class="iframe">
    <div id="div-iframe" style="margin-top:20px;margin-right:20px;text-align:right">
        <text style="margin-top:20px">Customer Name: </text><input type="text" id='input-name' style='width:300px;margin-top:20px' class='input-sm' placeholder='e.g. Free Country' /><br />
        <text style="margin-top:20px">Customer Code: </text><input type="text" id='input-code' style='width:300px;margin-top:20px' class='input-sm' placeholder='e.g. GRANDGD' /><br />
        <text style="margin-top:20px">Department Code: </text>
        <select id='select-code' style='width:300px;height:30px;margin-top:20px' required='required'>
            <option value='CD'>CD (Clothing Dpt.)</option>
            <option value='FBA'>FBA (Fulfillment by Amazon Dpt.)</option>
        </select><br />
        <text style="margin-top:20px">Address Line 1: </text><input type="text" id='input-firstaddress' style='width:300px;margin-top:20px' class='input-sm' placeholder='Optional' /><br />
        <text style="margin-top:20px">Address Line 2: </text><input type="text" id='input-secondaddress' style='width:300px;margin-top:20px' class='input-sm' placeholder='Optional' /><br />
        <text style="margin-top:20px">Tel: </text><input type="text" id='input-tel' style='width:300px;margin-top:20px' class='input-sm' placeholder='e.g. XXX-XXX-XXXX' /><br />
        <text style="margin-top:20px">Email: </text><input type="text" id='input-email' style='width:300px;margin-top:20px' class='input-sm' placeholder='e.g. customer@domain.com' /><br />
        <text style="margin-top:20px">Contact Person: </text><input type="text" id='input-person' style='width:300px;margin-top:20px' class='input-sm' placeholder='Optional' /><br />


        <button id="btn-add" class="btn btn-primary" style="margin-top:20px">Add</button>
    </div>
</div>

<div class="iframe-wo" style="margin:20px">
    <h1>WO Instruction Template</h1>
    <h2 id="h2-customercode"></h2>
    <button id="btn-detail-create" class="btn btn-primary">Add instruction template</button>
    <div>
        <table id="table-detail" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th style="width:66px">Id</th>
                    <th>Descriptiono</th>
                    <th style="width:180px">Update Date</th>
                    <th style="width:180px">Create By</th>
                    <th style="width:180px">OPERATION</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="iframe-detail">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Description: </text><input id='input-detail-description' style='width:400px' class='input-sm' /><br />
        <text>Apply to all FBA customer</text><input type="checkbox" id="cb-all" /><br />
        <button id="btn-detail-add" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">create</button>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
        
            $(".iframe, .iframe-detail, .iframe-wo").hide();

            var customerCode;
            var index;
            var index_wo;
            var index_detail
            var table;
            var table_wo;
            var url;
            var searchBar;
            var customerId;
            var customerCode;
            var instructionColumnArray = [
                {
                    data: "id",
                    width: "10%",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "description",
                    width: "80%",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "createDate",
                    width: "20%",
                    render: function (data) {
                        return "<text>" + data.toString().substring(0, 10) + "</text>";
                    }
                },
                {
                    data: "createBy",
                    width: "20%",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        return "<button iid='" + data + "' class='btn btn-link btn-detail-edit'>Edit</button><button iid='" + data + "' class='btn btn-link btn-detail-delete'>Delete</button>";
                    }
                }
            ];

            $.ajax({
                type: "GET",
                url: "/api/customermanagement/",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#table").DataTable({
                        data: data,
                        order: [[0, "desc"]],
                        destroy: true,
                        //scrollX: true,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "name",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "customerCode",
                                render: function (data) {
                                    if (data == null)
                                        return "";

                                    customerCode = data;

                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "departmentCode",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "firstAddressLine",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "secondAddressLine",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "telNumber",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "emailAddress",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "contactPerson",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    if (data == "Active")
                                        return "<font color='green'>" + data + "</font>";
                                    else
                                        return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button iid='" + data + "' customercode='" + customerCode + "' class='btn btn-link btn-charge'>Mange Charge Items</button><button iid='" + data + "' class='btn btn-deactive btn-link'>Active/Deactive</button><button iid='" + data + "' customercode='" + customerCode + "' class='btn btn-link btn-wo'>Mange WO Templite</button><button iid='" + data + "' class='btn btn-delete btn-link'>Delete</button>";
                                }
                            },
                        ]
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //打开创建新用户弹窗
            $("#btn-create").click(function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["500px", "550px"],
                    content: $(".iframe")
                });
            })

            //点击Add按钮，添加新的客户
            $("#btn-add").on("click", function () {

                var name = $("#input-name").val().toString();
                var customerCode = $("#input-code").val().toString();
                var departmentCode = $("#select-code option:selected").val().toString();

                var firstAddressLine = $("#input-firstaddress").val().toString();
                var secondAddressLine = $("#input-secondaddress").val().toString();

                var telNumber = $("#input-tel").val().toString();
                var emailAddress = $("#input-email").val().toString();
                var contactPerson = $("#input-person").val().toString();

                $.ajax({
                    type: "POST",
                    url: "/api/customermanagement/?name=" + name + "&customerCode=" + customerCode + "&departmentCode=" + departmentCode + "&firstAddressLine=" + firstAddressLine + "&secondAddressLine=" + secondAddressLine + "&telNumber=" + telNumber + "&emailAddress=" + emailAddress + "&contactPerson=" + contactPerson,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        layer.alert("Success!", function () {
                            window.location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击Edit按钮，编辑客户信息(暂时弹出暂未开放功能)
            $("#table").on("click", ".btn-edit", function () {
                layer.alert("Comming soon!");
            });

            //点击管理收费项目按钮，打开对应客户的收费项目
            $("#table").on("click", ".btn-charge", function () {
                $(window.location).attr('href', '/Customer/ChargeItemLists/?customerId=' + $(this).attr('iid') + "&customerCode=" + $(this).attr('customercode'));
            });

            //点击删除按钮，删除客户
            $("#table").on("click", ".btn-delete", function () {
                var id = $(this).attr("iid");

                $.ajax({
                    type: "DELETE",
                    url: "/api/customermanagement/" + id,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        layer.alert("Delete success!", function () {
                            window.location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击客户的管理WO模板按钮，弹出WO模板页面
            $("#table").on("click", ".btn-wo", function () {
                customerId = $(this).attr('iid');
                customerCode = $(this).parent().parent("tr").children("td").eq(2).children("text").html();
                $("#h2-customercode").html("Customer Code: " + customerCode);
                grandChannel.openiframe(index, ".iframe-wo", "1000px", "800px");

                url = "/api/customermanagement/?customerId=" + customerId;
                grandChannel.getAjaxMiniTable("GET", url, "#table-detail", table_wo, instructionColumnArray, index_wo);
            });

            //点击添加项目按钮，打开一个简易填写界面
            $("#btn-detail-create").on("click", function () {
                grandChannel.openiframe(index_detail, ".iframe-detail", "500px", "150px");
            });

            //点击添加按钮，添加WO指示模板
            $("#btn-detail-add").on("click", function () {
                var description = $("#input-detail-description").val();
                var isAppliedToAll = $("#cb-all").prop("checked");

                if (description != "") {
                    url = "/api/CustomerManagement/?customerId=" + customerId + "&description=" + encodeURIComponent(description) + "&isAppliedToAll=" + isAppliedToAll;

                    $.ajax({
                        type: "POST",
                        url: url,
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (data) {
                            url = "/api/customermanagement/?customerId=" + customerId;
                            grandChannel.getAjaxMiniTable("GET", url, "#table-detail", table_wo, instructionColumnArray, index_wo);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                window.location.reload();
                            });
                        }
                    });
                }
                else
                    alert("Description cannot be empty.");
            });

            //点击指示模板里的删除按钮，删除指定的模板条目
            $("#table-detail").on("click", ".btn-detail-delete", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbainvoicedetail/?chargingItemDetailId=" + id;

                $.ajax({
                    type: "DELETE",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        url = "/api/customermanagement/?customerId=" + customerId;
                        layer.alert("Success!", function () {
                            grandChannel.getAjaxMiniTable("GET", url, "#table-detail", table_wo, instructionColumnArray, index_wo);
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}