
@{
    ViewBag.Title = "FBAClientIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userName = User.Identity.Name.Split('@').First();
    Url.Action("MasterOrder", "FBAController", new { id = "?client=" + userName});
}

<h2>FBAClientIndex</h2>

