
@{
    ViewBag.Title = "FBAInvoiceDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FBA System</h1>
<h2>FBA Invoice Detail Page</h2>
<h2 id="h2-reference">Reference:</h2>
<h2 id="h2-customer">Customer:</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
        <button style="margin-left:20px" class="btn btn-danger" id="btn-save">Save&Close</button>
    </div>
    @*<div>
        <text id="text-billto">BILL TO:</text><br />
        <text id="text-shipto">SHIP TO:</text><br />
        <text id="text-shipdate">SHIP DATE:</text><br />
        <text id="text-shipvia">SHIP VIA:</text>
    </div>*@
    <div style="margin-top:20px;border:double">
        <h2>Charging Item Board</h2>
        <button id="btn-detail-create" class="btn btn-primary">Add charging detail</button>
        <div>
            <table id="table-detail" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
                <thead>
                    <tr>
                        <th style="width:66px">Id</th>
                        <th>Descriptiono</th>
                        <th style="width:180px">Status</th>
                        <th style="width:180px">Create Date</th>
                        <th style="width:180px">Create By</th>
                        <th style="width:180px">OPERATION</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div style="margin-top:20px;border:double">
        <h2>Invoice Detail</h2>
        <div id="div-create">
            <button id="btn-create" class="btn btn-primary">Add charging item</button>
            <button id="btn-download" class="btn btn-primary">Export Excel File</button>
        </div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th style="width:66px">Id</th>
                    <th>ACTIVITY</th>
                    <th>CHARGING TYPE</th>
                    <th>UOM</th>
                    <th>QTY</th>
                    <th>RATE</th>
                    <th>AMOUNT</th>
                    <th>COST</th>
                    <th>InvoiceType</th>
                    <th>Date of Cost</th>
                    <th>MEMO</th>
                    <th>LAST OPERATOR</th>
                    <th style="width:180px">OPERATION</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th colspan="6" style="text-align:right">BALANCE DUE:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="iframe">
    <div id="div-iframe" style="margin-top:20px;margin-right:20px;text-align:right">
        <text id="text-number">Reference #:</text><br />
        <div style="margin-top:20px">
            <text id="text-ordertype">Charging Order Type:</text>
        </div>
        <div id="div-quantity" style="margin-top:20px">
            <text>CTNS: <button id="text-ctns" class="btn btn-link">Cartons</button></text><text style="margin-left:20px">PLTS: <button id="text-plts" class="btn btn-link">PLTS</button></text>
        </div>
        <div id="div-date" style="margin-top:20px">
            <text>Date of Cost: <input id="input-date" type="date" /></text>
        </div>
        <div id="div-type" style="margin-top:20px">
            <text>Select a charging type: </text><select id='select-type' style='width:170px;height:30px' required='required'>
                <option>Loading...</option>
            </select>
        </div>
        <div id="div-name" style="margin-top:20px">
            <text>Charging item name: </text><select id='select-name' style='width:170px;height:30px' required='required'>
                <option>Select a charging type</option>
            </select>
        </div>
        <div id="div-rate" style="margin-top:20px">
            <text>Cost: </text><input type="number" id="input-cost" class="input-sm input-calculator" style='width:80px;height:30px' placeholder="Cost" value="0" />
            <text style="margin-left:20px">Rate: </text><input type="number" id="input-rate" class="input-sm input-calculator" style='width:80px;height:30px' placeholder="Rate" /><text>/</text><text id="text-unit">CTN</text><text style="margin-left:20px">Quantity: <input type="number" id="input-quantity" class="input-sm input-calculator" style='width:80px;height:30px' placeholder="QTY" /></text><br />
        </div>
        <div id="div-description" style="margin-top:20px">
            <text id="text-description">Description:: </text><br />
        </div>
        <div id="div-memo" style="margin-top:20px">
            <text>Memo: <textarea id="input-memo" style='width:170px;height:75px' placeholder="(Optional)"></textarea></text><br />
        </div>
        <div id="div-amount" style="margin-top:20px">
            <text>Amount: <font id="text-amount" color="red"></font></text><br />
        </div>
        <button style="margin-top:20px" id="btn-charge" class='btn btn-primary'>Charge</button>
    </div>
</div>
<div class="iframe-detail">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Description: </text><input id='input-detail-description' style='width:400px' class='input-sm' /><br />
        <button id="btn-detail-add" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">create</button>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            $(".iframe").hide();
            $(".iframe-detail").hide();

            var index;
            var table;
            var tableDetail;
            var chargingType;
            var quantity;
            var customerCode;

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            var customerId = getUrlParameter('customerId');
            var reference = getUrlParameter('reference');
            var invoiceType = getUrlParameter('invoiceType');

            if (invoiceType == "MasterOrder")
                $("#h2-reference").html("Master Order #: " + reference);
            else if (invoiceType == "ShipOrder")
                $("#h2-reference").html("Ship Order #: " + reference);

            //获取客户代码
            $.ajax({
                type: "GET",
                contentType: 'application/json, charset=utf-8',
                dataType: "json",
                url: "/api/fbainvoicedetail/?reference=" + reference + "&invoiceType=" + invoiceType + "&isChargingItemDetail=false",
                success: function (data) {
                    customerCode = data;
                    $("#h2-customer").html("Customer: " +customerCode);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //获取收费项目草表
            $.ajax({
                type: "GET",
                contentType: 'application/json, charset=utf-8',
                dataType: "json",
                url: "/api/fbainvoicedetail/?reference=" + reference + "&invoiceType=" + invoiceType + "&isChargingItemDetail=true",
                success: function (data) {
                    if (tableDetail) {
                        tableDetail.destroy();
                    }
                    tableDetail = $("#table-detail").DataTable({
                        data: data,
                        order: [[0, "desc"]],
                        destroy: true,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "description",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    if (data == "Waiting for charging")
                                        return "<font color='red'>" + data + "</font>";
                                    else
                                        return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "createDate",
                                render: function (data) {
                                    return "<text>" + data.toString().substring(0, 10) + "</text>";
                                }
                            },
                            {
                                data: "createBy",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button iid='" + data + "' class='btn btn-link btn-detail-mark'>Mark</button><button iid='" + data + "' class='btn btn-link btn-detail-delete'>Delete</button>";
                                }
                            }
                        ]
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //获取收费项目细节
            $.ajax({
                type: "GET",
                contentType: 'application/json, charset=utf-8',
                dataType: "json",
                url: "/api/fbainvoicedetail/?reference=" + reference + "&invoiceType=" + invoiceType,
                success: function (data) {
                    if (table) {
                        table.destroy();
                    }

                    table = $("#table").DataTable({
                        data: data,
                        order: [[0, "desc"]],
                        destroy: true,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "activity",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "chargingType",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "unit",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "quantity",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "rate",
                                render: function (data) {
                                    return "<text>$" + data + "</text>";
                                }
                            },
                            {
                                data: "amount",
                                render: function (data) {
                                    return "<text>$" + data + "</text>";
                                }
                            },
                            {
                                data: "cost",
                                render: function (data) {
                                    return "<text>$" + data + "</text>";
                                }
                            },
                            {
                                data: "invoiceType",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "dateOfCost",
                                render: function (data) {
                                    return "<text>" + data.toString().substring(0, 10) + "</text>";
                                }
                            },
                            {
                                data: "memo",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "operator",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    else
                                        return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button iid='" + data + "' class='btn btn-link btn-delete'>Delete</button>";
                                }
                            }
                        ],
                        footerCallback: function (row, data, start, end, display) {

                            var api = this.api(), data;

                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                            };

                            var totalAmount = api
                                .column(6)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            $(api.column(6).footer()).html("<font color='red'>$" + totalAmount + "</font>");
                        }
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //添加收费项目，打开新建弹窗
            $("#btn-create").click(function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["550px", "650px"],
                    content: $(".iframe")
                });
            })

            // Ajax0, GET柜号/PO号、BillTo等信息
            $.ajax({
                type: "GET",
                contentType: "application/json, charset=8-utf",
                dataType: "json",
                url: "/api/FBAInvoiceDetail/?reference=" + reference + "&invoiceType=" + invoiceType + "&ajaxStep=0",
                success: function (data) {
                    $("#text-number").html("Reference: " + reference);
                    $("#text-ordertype").html("Invoice from: " + invoiceType);
                    $("#text-ctns").html(data.cartons);
                    $("#text-plts").html(data.pallets);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //点击数字按钮，将点击的数字自动填入到Quantity中并计算总数

            // Ajax1, 获取该部门该Vendor适用的收费类型
            $.ajax({
                type: "GET",
                url: "/api/FBAinvoiceDetail/?reference=" + reference + "&invoiceType=" + invoiceType + "&ajaxStep=1",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {

                    $("#select-type").find("option:selected").text("");
                    $("#select-type").empty();
                    $("#select-type").append("<option value='empty'>Select a charging type</option>");

                    for (var i = 0; i < data.length; i++) {
                        $("#select-type").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            // Ajax2, 改变下拉菜单的收费类型，获取该收费类型的所有选项
            $("#select-type").on("change", function () {
                chargingType = $("#select-type option:selected").val();

                if (chargingType != "empty")
                {
                    $.ajax({
                        type: "GET",
                        url: "/api/FBAInvoiceDetail/?reference=" + reference + "&invoiceType=" + invoiceType + "&chargingType=" + chargingType,
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (data) {

                            $("#select-name").find("option:selected").text("");
                            $("#select-name").empty();
                            $("#select-name").append("<option value='empty'>Select a charging item</option>");

                            for (var i = 0; i < data.length; i++) {
                                $("#select-name").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                window.location.reload();
                            });
                        }
                    });
                }
            });

            //Ajax3, 选择收费项目，更新新建页面的单位、单价、描述等选项
            $("#select-name").on("change", function () {
                var itemName = $("#select-name").val();

                if(itemName != "empty")
                {
                    $.ajax({
                        type: "GET",
                        url: "/api/FBAinvoiceDetail/?reference=" + reference + "&invoiceType=" + invoiceType + "&itemName=" + encodeURIComponent(itemName),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (data) {
                            $("#input-rate").val(data.rate);
                            $("#text-unit").html(data.unit);
                            $("#text-description").html(data.description);

                            if (data.unit == "CTN")
                            {
                                quantity = $("#text-ctns").html();
                                $("#input-quantity").val(quantity);
                            }
                            else if (data.unit == "PLT")
                            {
                                quantity = $("#text-plts").html();
                                $("#input-quantity").val(quantity);
                            }
                            else
                            {
                                quantity = 0;
                                $("#input-quantity").val(0);
                            }

                            $("#text-amount").html((data.rate * quantity).toFixed(2));
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                window.location.reload();
                            });
                        }
                    });
                }
            });

            //Ajax4, 保存添加该收费项目
            $("#btn-charge").on("click", function () {

                var chargingType = $("#select-type option:selected").val();
                var activity = $("#select-name option:selected").val();
                var dateOfCost = $("#input-date").val();
                var cost = $("#input-cost").val();

                if (dateOfCost == "")
                {
                    alert("Date cannot be empty.");
                }
                else if (chargingType != "empty" && activity != "empty")
                {
                    var unit = $("#text-unit").html();
                    var rate = $("#input-rate").val();
                    var amount = $("#text-amount").html();
                    var quantity = $("#input-quantity").val();
                    var memo = $("#input-memo").val();

                    var obj = {
                        "activity": activity,
                        "chargingType": chargingType,
                        "dateOfCost": dateOfCost,
                        "unit": unit,
                        "rate": rate,
                        "amount": amount,
                        "quantity": quantity,
                        "memo": memo,
                        "cost": cost
                    };

                    $.ajax({
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        url: "/api/fbainvoicedetail/?reference=" + reference + "&invoiceType=" + invoiceType,
                        data: JSON.stringify(obj),
                        success: function () {
                            layer.alert("Add success!", function () {

                                layer.close(layer.index);
                                layer.close(index);

                                $.ajax({
                                    type: "GET",
                                    contentType: 'application/json, charset=utf-8',
                                    dataType: "json",
                                    url: "/api/fbainvoicedetail/?reference=" + reference + "&invoiceType=" + invoiceType,
                                    success: function (data) {
                                        if (table) {
                                            table.destroy();
                                        }

                                        table = $("#table").DataTable({
                                            data: data,
                                            order: [[0, "desc"]],
                                            destroy: true,
                                            scrollCollapse: true,
                                            scrollY: "600px",
                                            iDisplayLength: 100,
                                            columns: [
                                                {
                                                    data: "id",
                                                    render: function (data) {
                                                        return "<text>" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "activity",
                                                    render: function (data) {
                                                        return "<text>" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "chargingType",
                                                    render: function (data) {
                                                        return "<text>" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "unit",
                                                    render: function (data) {
                                                        return "<text>" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "quantity",
                                                    render: function (data) {
                                                        return "<text>" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "rate",
                                                    render: function (data) {
                                                        return "<text>$" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "amount",
                                                    render: function (data) {
                                                        return "<text>$" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "cost",
                                                    render: function (data) {
                                                        return "<text>$" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "invoiceType",
                                                    render: function (data) {
                                                        return "<text>" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "dateOfCost",
                                                    render: function (data) {
                                                        return "<text>" + data.toString().substring(0, 10) + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "memo",
                                                    render: function (data) {
                                                        return "<text>" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "operator",
                                                    render: function (data) {
                                                        if (data == null)
                                                            return "";
                                                        else
                                                            return "<text>" + data + "</text>";
                                                    }
                                                },
                                                {
                                                    data: "id",
                                                    render: function (data) {
                                                        return "<button iid='" + data + "' class='btn btn-link btn-delete'>Delete</button>";
                                                    }
                                                }
                                            ],
                                            footerCallback: function (row, data, start, end, display) {

                                                var api = this.api(), data;

                                                var intVal = function (i) {
                                                    return typeof i === 'string' ?
                                                        i.replace(/[\$,]/g, '') * 1 :
                                                        typeof i === 'number' ?
                                                        i : 0;
                                                };

                                                var totalAmount = api
                                                    .column(6)
                                                    .data()
                                                    .reduce(function (a, b) {
                                                        return intVal(a) + intVal(b);
                                                    }, 0);

                                                $(api.column(6).footer()).html("<font color='red'>" + totalAmount + "</font>");
                                            }
                                        });
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                            window.location.reload();
                                        });
                                    }
                                });
                            });
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                window.location.reload();
                            });
                        }
                    });
                }
            });

            //监控输入的费率和数量，当这两个input变化时改变Amount的值
            $(".input-calculator").on("change", function () {
                var rate = 0;
                var quantity = 0;
                rate = $("#input-rate").val();
                quantity = $("#input-quantity").val();

                var amount = parseFloat((rate * quantity).toFixed(2));

                $("#text-amount").html(amount);
            });

            //Ajax5, 点击删除按钮，删除所选收费项目并自动重新计算总数
            $("#table").on("click", ".btn-delete", function () {
                var id = $(this).attr('iid');

                $.ajax({
                    type: "DELETE",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    url: "/api/invoicedetail/" + id,
                    success: function () {
                        layer.alert("Delete success!", function () {
                            window.location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击下载按钮，下载当前单的所有条目到Excel文件
            $("#btn-download").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/api/fba/FBAReportDonwload/?reference=" + reference + "&invoicetype=" + invoiceType,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success! File will download automatically.");
                        $(window.location).attr('href', "/api/fba/FBAReportDonwload/?fullPath=" + encodeURIComponent(data).toString() + "&prefix=InvoiceReport&suffix=" + encodeURIComponent(".xls"));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击添加收费草表项目按钮，打开一个简易填写界面
            $("#btn-detail-create").on("click", function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["500px", "150px"],
                    content: $(".iframe-detail")
                });
            });

            //点击添加草表按钮，添加草表
            $("#btn-detail-add").on("click", function () {
                var description = $("#input-detail-description").val();

                if (description != "")
                {
                    url = "/api/fbainvoicedetail/?reference=" + reference + "&invoiceType=" + invoiceType + "&description=" + encodeURIComponent(description);

                    SendAjaxMethod("POST", url, {});
                }
            });

            //点击收费草表中的Mark按钮，切换选中对象的收费状态
            $("#table-detail").on("click", ".btn-detail-mark", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbainvoicedetail/?chargingItemDetailId=" + id;

                SendAjaxMethod("PUT", url, {});
            });

            //点击收费草表中的删除按钮，删除选中对象的收费状态
            $("#table-detail").on("click", ".btn-detail-delete", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbainvoicedetail/?chargingItemDetailId=" + id;

                SendAjaxMethod("DELETE", url, {});
            });

            //点击保存并退出按钮，将此单关闭，不可再更改
            $("#btn-save").on("click", function () {
                url = "/api/fba/fbainvoicedetail/?reference=" + reference + "&invoiceType=" + invoiceType;
                SendAjaxMethodAndBack("PUT", url, {});
            });

            function SendAjaxMethod(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!", function () {
                            window.location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function SendAjaxMethodAndBack(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!", function () {
                            $(window.location).attr('href', '/fba/FBAinvoiceDetailReadOnly/?reference=' + reference + "&invoiceType=" + invoiceType + "&invoiceStatus=Closed");
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });

        });
    </script>
}