
@{
    ViewBag.Title = "FBAInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FBA System</h1>
<h2>FBA Inventory Page</h2>
<h2>Grand ID: GRANDID123456</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table-pallet" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Container</th>
                    <th>FBA shmt ID./SKU</th>
                    <th>Amz Ref ID.</th>
                    <th>Pallet Size</th>
                    <th>FBA whse Code</th>
                    <th>How To Deliver</th>
                    <th>Actual GW(KG)</th>
                    <th>Actual CBM</th>
                    <th>Actual Quantity</th>
                    <th>Original Plts</th>
                    <th>Available Plts</th>
                    <th>Picking Plts</th>
                    <th>Shipped Plts</th>
                    <th>Location</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div style="text-align:right">
            <input id="btn-packoption" type="button" class="btn btn-primary" value="Pack selected objects" />
        </div>
    </div>
</div>
<div class="iframe">
    <div style="margin-top:20px">
        <text>Packed Plt Quantity: <input id="input-pltquantity" class="input-sm" style="margin-top:20px" /></text><br />
        <text>Packed Plt Size: <input id="input-pltsize" class="input-sm" style="margin-top:20px" /></text><br />
        <input id="btn-pack" type="button" class="btn btn-primary" style="margin-top:20px" value="Pack" />
    </div>
</div>
