
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FBA System</h1>
<h2>Home Page</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <input id="btn-customer" type="button" class="btn btn-primary" value="Manage customer" />
        <a href="~/fba/MasterOrder/"><input type="button" class="btn btn-primary" value="View All Master Order" /></a>
        <a href="~/shiporder/FBAShipOrder/"><input type="button" class="btn btn-primary" value="View All Ship Order" /></a>
        <a href="~/fba/FBAInventoryIndex"><input type="button" class="btn btn-primary" value="Inventory Report" /></a>
        <a href="~/fba/FBAAddressManagement"><input id="btn-address" type="button" class="btn btn-primary" value="Manage Address Book" /></a>
        <a href="~/fba/storagecharge"><input id="btn-storage" type="button" class="btn btn-primary" value="Calculate storage" /></a>
        <a href="~/Warehouse/Index"><input id="btn-storage" type="button" class="btn btn-primary" value="Warehouse Client" /></a>
        <button id="btn-export" iid="0" class="btn btn-info">导出所有收费汇总表</button>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Contact Tel</th>
                    <th>Contact E-mail</th>
                    <th>Contact Person</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe-export">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Start Date: </text><input id='input-date-start' type="date" style='width:170px' class='input-sm' /><br />
        <text>Close Date: </text><input id='input-date-close' type="date" style='width:170px;margin-top:20px' class='input-sm' /><br />
        <button id="btn-download" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">Download</button>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            $(".iframe-export").hide();

            var index;
            var customerId;
            var table;
            var url;

            $.ajax({
                type: "GET",
                url: "/api/fba/FBAindex/",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                beforeSend: function () {
                    index = layer.msg('Processing...', {
                        icon: 1,
                        shade: 0.01,
                        time: 99 * 1000
                    });
                },
                success: function (data) {
                    layer.close(index);

                    $("#table").DataTable({
                        destroy: true,
                        data: data,
                        scrollCollapse: true,
                        scrollY: "600px",
                        order: [[0, "desc"]],
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "customerCode",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "name",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "telNumber",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "emailAddress",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "contactPerson",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    if (data == "Active")
                                        return "<font color='green'>" + data + "</font>";
                                    else
                                        return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button iid='" + data + "' class='btn btn-info btn-manageorders'>Manage Orders</button><button iid='" + data + "' class='btn btn-info btn-export' style='margin-left:20px'>导出收费汇总表</button>";
                                }
                            },
                        ]
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //点击管理订单，跳转到该用户的订单总览页面
            $("#table").on("click", ".btn-manageorders", function () {
                var customerId = $(this).attr('iid');
                $(window.location).attr('href', '/fba/masterorder/?customerId=' + customerId);
            });

            //点击管理客户，跳转到客户管理页面
            $("#btn-customer").on("click", function () {
                $(window.location).attr('href', '/customer');
            });

            //点击导出收费汇总表按钮，弹出选择导出日期界面
            $("#table").on("click", ".btn-export", function () {
                customerId = $(this).attr('iid');

                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["400px", "250px"],
                    content: $(".iframe-export")
                });
            });

            $("#btn-export").on("click", function () {
                customerId = $(this).attr('iid');

                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["400px", "250px"],
                    content: $(".iframe-export")
                });
            });

            //点击导出收费总表弹窗的下载按钮，下载Excel表格
            $("#btn-download").on("click", function () {
                var startDate = $("#input-date-start").val();
                var closeDate = $("#input-date-close").val();

                if (startDate != "" && closeDate != "")
                {
                    url = "/api/fba/fbaindex/?customerId=" + customerId + "&startDate=" + startDate + "&closeDate=" + closeDate;

                    $.ajax({
                        type: "GET",
                        url: url,
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        beforeSend: function () {
                            layer.close(index);
                            index = layer.msg('Processing...', {
                                icon: 3,
                                shade: 0.01,
                                time: 99 * 1000
                            });
                        },
                        success: function (data) {
                            layer.alert("Success! File will download automatically.");
                            $(window.location).attr('href', "/api/fba/FBAReportDonwload/?fullPath=" + encodeURIComponent(data).toString() + "&prefix=InvoiceReport&suffix=" + encodeURIComponent(".xls"));
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                window.location.reload();
                            });
                        }
                    });
                }
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}