
@{
    ViewBag.Title = "StorageCharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FBA System</h1>
<h2>Charge Template</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
        <input id="btn-create" type="button" class="btn btn-primary" value="Create New Charge Template" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Template Name</th>
                    <th>Customer Code</th>
                    <th>Time Unit</th>
                    <th>Currency</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe">
    <form style="margin:20px;text-align:left">
        <h2>Calculate Storage Fee</h2>
        <fieldset>
            <legend>Set charging time period</legend>
            <div style="text-align:center">
                <text>Start Billing Date: </text><input id='input-lastbillingdate' type="date" style='width:170px' class='input-sm' />
                <text>Close Billing Date: </text><input id='input-currentbillingdate' type="date" style='width:170px' class='input-sm' />
            </div>
        </fieldset>
        <div>
            <fieldset style="float:left;height:170px;width:50%">
                <legend>From old system</legend>
                <div>
                    <input id="upload" type="file" accept="xls/xlsx" />
                    <input id="uploadfile" style="margin-top:10px" type="button" value="Upload & Download Excel File" />
                </div>
            </fieldset>
            <fieldset style="height:170px;text-align:right">
                <legend>From current system</legend>
                <div>
                    <label>P1 Discount: <input type="number" id="input-p1" class="input-sm" style="width:80px" min="0" max="1" value="1" /></label><br />
                    <label>P2 Discount: <input type="number" id="input-p2" class="input-sm" style="width:80px" min="0" max="1" value="1" /></label><br />
                    <input id="input-download" type="button" style="margin-top:5px" value="Download new report" />
                </div>
            </fieldset>
        </div>
    <div>
        <fieldset>
            <legend>Charge method details</legend>
            <table id="table-iframe" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Duration</th>
                        <th id="feepertimeunit">Fee per time unit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
    </div>
    </form>
</div>
<div class="iframe-create">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Template Name: </text><input id='input-templatename' style='width:170px' class='input-sm' placeholder='Template Name' /><br />
        <text>Customer Name: </text><input id='input-customer' style='width:170px' class='input-sm' placeholder='Customer Code' /><br />
        <text>Charge Period: </text>
        <select id="select-timeunit" style="width:170px;height:30px">
            <option value="Day">Day</option>
            <option value="Week">Week</option>
            <option value="Month">Month</option>
        </select><br />
        <text>Select Currancy: </text>
        <select id="select-currency" style="width:170px;height:30px">
            <option value="USD">USD</option>
            <option value="RMB">RMB</option>
            <option value="EUR">EUR</option>
        </select><br />
        <button id="btn-new" class='btn btn-primary'>Create</button>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            $(".iframe").hide();
            $(".iframe-create").hide();
            var index;
            var templateId;
            var customerCode;

            //打开页面出现的默认表格，显示已有模板
            $.ajax({
                type: "GET",
                url: "/api/fba/chargetemplate/",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#table").DataTable({
                        destroy: true,
                        data: data,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "templateName",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "customer",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "timeUnit",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "currency",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button useid='" + data + "' class='btn btn-link btn-use' >Use</button><button editid='" + data + "' class='btn btn-link btn-edit' >Edit</button><button deleteid='" + data + "' class='btn btn-link btn-delete'>Delete</button>";
                                }
                            }
                        ]
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseJSON.exceptionMessage);
                }
            });

            //点击添加收费模板按钮，打开新建收费模板弹窗
            $("#btn-create").on("click", function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["400px", "200px"],
                    content: $(".iframe-create")
                });
            });

            //点击Create按钮，添加数据到数据库
            $("#btn-new").on("click", function () {
                var templateName = $("#input-templatename").val() == "" ? "Default Template" : $("#input-templatename").val().toString();
                var customer = $("#input-customer").val() == "" ? "Default Customer" : $("#input-customer").val().toString();
                var timeUnit = $("#select-timeunit option:selected").val();
                var currency = $("#select-currency option:selected").val();

                var url = "/api/fba/chargetemplate/?templateName=" + templateName + "&customer=" + customer + "&timeunit=" + timeUnit + "&currency=" + currency;

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        alert("Add success!");
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.responseJSON.exceptionMessage);
                        window.location.reload();
                    }
                });
            });

            //点击各行的删除按钮，删除对应的记录
            $("#table").on("click", ".btn-delete", function () {
                templateId = $(this).attr('deleteid');

                $.ajax({
                    type: "DELETE",
                    url: "/api/fba/chargetemplate/?templateId=" + templateId,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        alert("Delete success!");
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.responseJSON.exceptionMessage);
                    }
                });
            });

            //点击编辑按钮，跳转到编辑页面
            $("#table").on("click", ".btn-edit", function () {
                templateId = $(this).attr('editid');
                var timeUnit = $(this).parent().parent("tr").children('td').eq(3).children('text').html();
                var currency = $(this).parent().parent("tr").children('td').eq(4).children('text').html();

                var url = "/fba/chargemethods/?templateId=" + templateId + "&timeUnit=" + timeUnit + "&currency=" + currency;
                $(window.location).attr('href', url);
            });

            //点击使用按钮，弹出上传文件窗口
            $("#table").on("click", ".btn-use", function () {
                templateId = $(this).attr('useid');
                customerCode = $(this).parent().parent("tr").children('td').eq(2).children('text').html();
                var timeUnit = $(this).parent().parent("tr").children('td').eq(3).children('text').html();
                var currency = $(this).parent().parent("tr").children('td').eq(4).children('text').html();
                $("#feepertimeunit").html("Fee/" + timeUnit);

                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["800px", "600px"],
                    content: $(".iframe")
                });

                $.ajax({
                    type: "GET",
                    url: "/api/fba/chargemethod/?templateId=" + templateId,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        $("#table-iframe").DataTable({
                            destroy: true,
                            paging: false,
                            info: false,
                            searching: false,
                            data: data,
                            order: 1,
                            scrollCollapse: true,
                            scrollY: "200px",
                            iDisplayLength: 100,
                            columns: [
                                {
                                    data: "from",
                                    render: function (data) {
                                        if (data == 1) {
                                            return "<text>1st " + timeUnit + "</text>";
                                        }
                                        else if (data == 2) {
                                            return "<text>2nd " + timeUnit + "</text>";
                                        }
                                        else if (data == 3) {
                                            return "<text>3rd " + timeUnit + "</text>";
                                        }
                                        else {
                                            return "<text>" + data + "th " + timeUnit + "</text>";
                                        }
                                    }
                                },
                                {
                                    data: "to",
                                    render: function (data) {
                                        if (data == 1) {
                                            return "<text>1st " + timeUnit + "</text>";
                                        }
                                        else if (data == 2) {
                                            return "<text>2nd " + timeUnit + "</text>";

                                        }
                                        else if (data == 3) {
                                            return "<text>3rd " + timeUnit + "</text>";
                                        }
                                        else {
                                            return "<text>" + data + "th " + timeUnit + "</text>";
                                        }
                                    }
                                },
                                {
                                    data: "duration",
                                    render: function (data) {
                                        if (data == 1) {
                                            return "<text>1 " + timeUnit + "</text>";
                                        }
                                        else {
                                            return "<text>" + data + " " + timeUnit + "s</text>";
                                        }
                                    }
                                },
                                {
                                    data: "fee",
                                    render: function (data) {
                                        if (data == 0) {
                                            return "<text>Free</text>"
                                        }
                                        else {
                                            return "<text>" + data + " " + currency + "</text>";
                                        }
                                    }
                                }
                            ]
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.responseJSON.exceptionMessage);
                    }
                })
            });

            //点击上传&下载按钮上传文件
            $("#uploadfile").on("click", function () {
                var formData = new FormData();
                var files = $("#upload").get(0).files;

                var lastBillingDate = $("#input-lastbillingdate").val();
                var currentBillingDate = $("#input-currentbillingdate").val();

                if (lastBillingDate == "" || currentBillingDate == "") {
                    alert("All the dates are required.");
                }
                else {
                    if (files.length > 0) {
                        formData.append("fileName", files[0]);

                        $.ajax({
                            contentType: false,
                            cache: false,
                            processData: false,
                            type: "POST",
                            url: "/api/fba/chargetemplate/?templateId=" + templateId + "&lastBillingDate=" + lastBillingDate.toString() + "&currentBillingDate=" + currentBillingDate.toString(),
                            data: formData,
                            beforeSend: function () {
                                layer.close(index);

                                layer.msg('Extracting files...', {
                                    icon: 1,
                                    shade: 0.01,
                                    time: 99 * 1000
                                });
                            },
                            success: function () {
                                layer.alert("Upload successed! The file will download automatically.");
                                $(window.location).attr('href', '/api/fba/downloadfile/');
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                    location.reload();
                                });
                            }
                        });
                    }
                    else {
                        alert("Please upload file first.");
                    }
                }

            });

            //点击下载新报告按钮
            $("#input-download").on("click", function () {
                var lastBillingDate = $("#input-lastbillingdate").val();
                var currentBillingDate = $("#input-currentbillingdate").val();
                var p1Disct = $("#input-p1").val();
                var p2Disct = $("#input-p2").val();

                if (lastBillingDate == "" || currentBillingDate == "") {
                    alert("All the dates are required.");
                }
                else {
                    $.ajax({
                        contentType: false,
                        cache: false,
                        processData: false,
                        type: "POST",
                        url: "/api/fba/chargetemplate/?templateId=" + templateId + "&customerCode=" + customerCode + "&lastBillingDate=" + lastBillingDate + "&currentBillingDate=" + currentBillingDate + "&p1Discount=" + p1Disct + "&p2Discount=" + p2Disct,
                        beforeSend: function () {
                            layer.close(index);
                            layer.msg('Processing...', {
                                icon: 1,
                                shade: 0.01,
                                time: 99 * 1000
                            });
                        },
                        success: function (data) {
                            layer.alert("The file will download automatically.");
                            $(window.location).attr('href', '/api/fba/downloadfile/');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                location.reload();
                            });
                        }
                    });
                }
            });

            //限制输入
            $(".input-sm").on("keyup", function () {
                if ($(this).val() > 1)
                    $(this).val(1);
                else if ($(this).val() < 0)
                    $(this).val(0);

            });

            $(".input-sm").on("change", function () {
                if ($(this).val() == "")
                    $(this).val(1);
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}

