
@{
    ViewBag.Title = "WarehouseIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Warehouse Client</h1>
<h2>Outbound Order Management</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th>ORDER ID</th>
                    <th>DPT</th>
                    <th style="width:70px">STATUS</th>
                    <th>ORDER #</th>
                    <th>BOL #</th>
                    <th>PICK #</th>
                    <th>VENDOR</th>
                    <th>ORDER TYPE</th>
                    <th>DEST</th>
                    <th>CTN</th>
                    <th>PLT</th>
                    <th>CARRIER</th>
                    <th style="width:80px">CREATE DATE</th>
                    <th style="width:80px">ETS</th>
                    <th style="width:80px">READY TIME</th>
                    <th style="width:80px">RELEASED DATE</th>
                    <th style="width:60px">RELEASED BY</th>
                    <th style="width:200px">INSTRUCTION</th>
                    <th>eFOLDER</th>
                    <th style="width:300px">OPERATION</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

