
@{
    ViewBag.Title = "InboundLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Warehouse Client</h1>
<h2>Inbound Order Management</h2>

<div class="maincontainer">
    <div style="margin:20px">
        <input id="btn-outboundlog" type="button" class="btn btn-primary" value="View Outbound Log" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th>ORDER ID</th>
                    <th style="width:70px">STATUS</th>
                    <th style="width:150px">STATUS CONTROL</th>
                    <th style="width:200px">OPERATION</th>
                    <th>DPT</th>
                    <th>CUSTOMER</th>
                    <th>TYPE</th>
                    <th>ETA</th>
                    <th>ATA</th>
                    <th>DOCK#</th>
                    <th>CONTAINER #</th>
                    <th>ORG CTN</th>
                    <th>ORG SKU</th>
                    <th>ORG PLT</th>
                    <th>CARRIER</th>
                    <th>LUMPER SVC</th>
                    <th style="width:200px">INSTRUCTION</thstyle="width:200px">
                    <th style="width:80px">PUSH DATE</th>
                    <th style="width:80px">UNLOAD TIME</th>
                    <th style="width:80px">EPT CNTR AVA TIME</th>
                    <th style="width:80px">EPT CNTR OUT TIME</th>
                    <th style="width:200px">OPLOG</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var index;
            var table;
            var url;
            var searchBar = grandChannel.getUrlParameter('search');


            var columnsArray = [
                {
                    data: "id",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "status",
                    render: function (data) {
                        status = data;
                        if (data == "New Created")
                            return "<font color='gray'>" + data + "</font>"
                        else if (data == "Processing" || data == "Pending")
                            return "<font color='red'>" + data + "</font>";
                        else if (data == "Completed")
                            return "<font color='blue'>" + data + "</font>";
                        else if (data == "Received")
                            return "<font color='brown'>" + data + "</font>";
                        else if (data == "Allocated")
                            return "<font color='green'>" + data + "</font>";
                        else
                            return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        if (status == "Processing" || status == "New Created")
                            return "<input type='button' class='btn btn-link btn-fnsreceiving' iid='" + data + "' value='Finish Receiving' />";
                        else if (status == "Received")
                            return "<input type='button' class='btn btn-link btn-fnsallocating' iid='" + data + "' value='Finish Allocating' />";
                        else if (status == "Allocated")
                            return "";
                        else if (status == "Shipped")
                            return "";  
                        else
                            return "";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        if (status == "New Created"|| status == "Processing" || status == "Allocated")
                            return "<input type='button' class='btn btn-link btn-update' iid='" + data + "' value='Update' /><input type='button' class='btn btn-link btn-wo-readonly' iid='" + data + "' value='WO' />";
                        else if (status == "Processing" || status == "Allocated")
                            return "<input type='button' class='btn btn-link btn-fbaadjust' iid='" + data + "' value='Adjust' />";
                        else if (status == "Ready")
                            return "<input type='button' class='btn btn-link btn-fbaview' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-wo-readonly' iid='" + data + "' value='WO' />";
                        else if (status == "Released" || status == "Pending")
                            return "<input type='button' class='btn btn-link btn-fbaview' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-wo-readonly' iid='" + data + "' value='WO' />";
                        else if (status == "Shipped")
                            return "<input type='button' class='btn btn-link btn-fbaview' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-wo-readonly' iid='" + data + "' value='WO' />";
                        else
                            return "";
                    }
                },
                {
                    data: "department",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "customer",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "inboundType",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "eta",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "inboundDate",
                    render: function (data) {
                        return "<text>" + data.substring(0, 10) + "</text>";
                    }
                },
                {
                    data: "dockNumber",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "container",
                    render: function (data) {
                        orderNumber = data;
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "ctns",
                    render: function (data) {
                        return "<font color='green'>" + data + "</font>";
                    }
                },
                {
                    data: "sku",
                    render: function (data) {
                        return "<font color='orange'>" + data + "</font>";
                    }
                },
                {
                    data: "originalPlts",
                    render: function (data) {
                        return "<font color='blue'>" + data + "</font>";
                    }
                },
                {
                    data: "carrier",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "lumper",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "instruction",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "pushTime",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>"
                        return "<text>" + data.substring(0, 10) + "</text>";
                    }
                },
                {
                    data: "unloadTime",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>"
                        return "<text>" + data.substring(0, 10) + "</text>";
                    }
                },
                {
                    data: "availableTime",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>"
                        return "<text>" + data.substring(0, 10) + "</text>";
                    }
                },
                {
                    data: "outTime",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>"
                        return "<text>" + data.substring(0, 10) + "</text>";
                    }
                },
                {
                    data: "updateLog",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                }
            ]
            url = "/api/WarehouseInboundLog/";
            getAjaxTable("GET", url, "#table", table, columnsArray, index, searchBar);

            //点击outbound log按钮，跳转到inbound log管理界面
            $("#btn-outboundlog").on("click", function () {
                $(window.location).attr("href", "/Warehouse/Index");
            });

            function getAjaxTable(methodType, url, tableId, table, columsArray, index, searchBar) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        if (table) {
                            table.destroy();
                        }

                        table = $(tableId).DataTable({
                            data: data,
                            destroy: true,
                            scrollX: true,
                            order: [[14, "desc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: columsArray
                        });

                        var tableSearch = $("#table_filter").children('label').children('input');

                        if (searchBar != undefined) {
                            tableSearch.val(searchBar);
                            table.search(searchBar).draw();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };
        });
    </script>
}