
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Warehouse Client</h1>
<h2>Outbound Order Management</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th>ORDER ID</th>
                    <th style="width:70px">STATUS</th>
                    <th style="width:150px">STATUS CONTROL</th>
                    <th style="width:200px">OPERATION</th>
                    <th>DPT</th>
                    <th>TYPE</th>
                    <th>ORDER #</th>
                    <th>CTN</th>
                    <th>PLT</th>
                    <th>BOL #</th>
                    <th>PICK #</th>
                    <th>VENDOR</th>
                    <th style="width:80px">DEST</th>
                    <th>CARRIER</th>
                    <th style="width:80px">PUSH DATE</th>
                    <th style="width:80px">ETS</th>
                    <th style="width:80px">READY TIME</th>
                    <th style="width:80px">RELEASED DATE</th>
                    <th style="width:200px">INSTRUCTION</th>
                    <th style="width:200px">OPLOG</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe-fbadate">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Select Operation Date: </text><input type="datetime-local" id='input-operationdate' style='width:200px' class='input-sm' /><br />
        <button id="btn-confirm" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">Confirm Ready</button>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var index;
            var table;
            var url;
            var status;
            var orderNumber;
            var shipOrderId;
            var orderId;
            var searchBar = grandChannel.getUrlParameter('search');

            var columnsArray = [
                {
                    data: "id",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "status",
                    render: function (data) {
                        status = data;
                        if (data == "New Created")
                            return "<font color='gray'>" + data + "</font>"
                        else if (data == "Picking")
                            return "<font color='vermilion'>" + data + "</font>";
                        if (data == "New Order")
                            return "<font color='orange'>" + data + "</font>"
                        else if (data == "Processing")
                            return "<font color='red'>" + data + "</font>";
                        else if (data == "Ready")
                            return "<font color='green'>" + data + "</font>";
                        else if (data == "Released")
                            return "<font color='brown'>" + data + "</font>";
                        else if (data == "Shipped")
                            return "<font color='blue'>" + data + "</font>";
                        else
                            return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        if (status == "New Order")
                            return "<input type='button' class='btn btn-link btn-fbadate' iid='" + data + "' value='Start' />";
                        else if (status == "Processing")
                            return "<input type='button' class='btn btn-link btn-fbarevert' iid='" + data + "' value='Stop' /><input type='button' class='btn btn-link btn-fbadate' iid='" + data + "' value='Ready' />";
                        else if (status == "Ready")
                            return "<input type='button' class='btn btn-link btn-fbadate' iid='" + data + "' value='Release' />";
                        else if (status == "Released")
                            return "";
                        else if (status == "Shipped")
                            return "";
                        else
                            return "";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        if (status == "New Order")
                            return "<input type='button' class='btn btn-link btn-fbaview' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-wo' iid='" + data + "' value='WO' />";
                        else if (status == "Processing")
                            return "<input type='button' class='btn btn-link btn-fbaadjust' iid='" + data + "' value='Adjust' /><input type='button' class='btn btn-link btn-wo' iid='" + data + "' value='WO' />";
                        else if (status == "Ready")
                            return "<input type='button' class='btn btn-link btn-fbaview' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-fbacomment' iid='" + data + "' value='Comment' />";
                        else if (status == "Released")
                            return "<input type='button' class='btn btn-link btn-fbaview' iid='" + data + "' value='View' />";
                        else if (status == "Shipped")
                            return "<input type='button' class='btn btn-link btn-fbaview' iid='" + data + "' value='View' />";
                        else
                            return "";
                    }
                },
                {
                    data: "department",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "warehouseOrderType",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "orderNumber",
                    render: function (data) {
                        orderNumber = data;
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "totalCtns",
                    render: function (data) {
                        return "<font color='green'>" + data + "</font>";
                    }
                },
                {
                    data: "totalPlts",
                    render: function (data) {
                        return "<font color='blue'>" + data + "</font>";
                    }
                },
                {
                    data: "bolNumber",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "pickNumber",
                    render: function (data) {
                        if (data == null)
                            return "";
                        else
                            return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "customerCode",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "destination",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "carrier",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "placeTime",
                    render: function (data) {
                        return "<text>" + data.substring(0, 10) + "</text>";
                    }
                },
                {
                    data: "ets",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "readyTime",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>"
                        else
                            return "<text>" + data.toString().substring(0, 10) + " " + data.toString().substring(11, 16) + "</text>";
                    }
                },
                {
                    data: "shipDate",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>"
                        else
                            return "<text>" + data.toString().substring(0, 10) + " " + data.toString().substring(11, 16) + "</text>";
                    }
                },
                {
                    data: "instruction",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "operationLog",
                    render: function (data) {
                        if (data == null)
                            return "";
                        else
                            return "<text>" + data + "</text>";
                    }
                }
            ]
            url = "/api/WarehouseIndex/";
            getAjaxTable("GET", url, "#table", table, columnsArray, index, searchBar);

            //点击FBA订单下的view按钮，查看FBA的运单（只读状态）
            $("#table").on("click", ".btn-fbaview", function () {
                shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                $(window.location).attr('href', "/shiporder/viewfbapickdetail/?shipOrderId=" + shipOrderId);
            });

            //点击FBA订单下的Adjust按钮，打开可以调整的FBA运单（只限调整）
            $("#table").on("click", ".btn-fbaadjust", function () {
                shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                $(window.location).attr('href', "/shiporder/FBAPickDetailAdjustOnly/?shipOrderId=" + shipOrderId)
            });

            //点击FBA订单下的正向状态转换按钮，打开填写日期弹窗
            $("#table").on("click", ".btn-fbadate", function () {
                var button = $(this);
                shipOrderId = button.attr('iid');

                grandChannel.openiframe(index, ".iframe-fbadate", "400px", "150px");
            });

            //填好日期后，点击确认按钮
            $("#btn-confirm").on("click", function () {
                layer.close(index);
                var operationDate = $("#input-operationdate").val();

                if (operationDate != "")
                {
                    url = "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId + "&operationDate=" + operationDate + "&operation=ChangeStatus";
                    grandChannel.sendAjaxMethod("PUT", url, {}, index);
                }
                else {
                    alert("Ship Date cannot be empty.");
                }
            });

            //点击Stop等逆转按钮，逆转状态
            $("#table").on("click", ".btn-fbarevert", function () {
                var id = $(this).attr('iid');
                var date = new Date();
                var today = date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString();

                url = "/api/fba/fbashiporder/?shipOrderId=" + id + "&operationDate=" + today + "&operation=ReverseStatus";
                grandChannel.sendAjaxMethod("PUT", url, {}, index);
            })

            //点击start等正向状态转换按钮，改变状态
            $("#table").on("click", ".btn-fbachangestatus", function () {
                var id = $(this).attr('iid');
                var date = new Date();
                var today = date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString();

                url = "/api/fba/fbashiporder/?shipOrderId=" + id + "&operationDate=" + today + "&operation=ChangeStatus";
                grandChannel.sendAjaxMethod("PUT", url, {}, index);
            })

            function getAjaxTable(methodType, url, tableId, table, columsArray, index, searchBar) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        if (table) {
                            table.destroy();
                        }

                        table = $(tableId).DataTable({
                            data: data,
                            destroy: true,
                            scrollX: true,
                            order: [[0, "desc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: columsArray
                        });

                        var tableSearch = $("#table_filter").children('label').children('input');

                        if (searchBar != undefined) {
                            tableSearch.val(searchBar);
                            table.search(searchBar).draw();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
