
<div class="iframe-wo">
    <h1>Work Order</h1>
    <h2 id="h2-customercode"></h2>

    <div>

    </div>
    <div style="margin-top:20px">
        <table id="table-pickinglist" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Container</th>
                    <th>SKU</th>
                    <th>Pick Ctns</th>
                    <th>Pick Plts</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div style="margin-top:20px">
        <button id="btn-detail-create" class="btn btn-primary">Add charging detail</button>
        <table id="table-wo" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div>
        <text>Comment:</Text><br />
        <textarea id="textarea-comment" style="height:400px;width:600px"></textarea>
    </div>
</div>