
@{
    ViewBag.Title = "FBAShipOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FBA Sytem</h1>
<h2>Shipping Order Page</h2>

<div class="maincontainer">
    <div id="div-create" style="margin:5px">
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
        <button id="btn-create" class="btn btn-primary">Created a new ship order</button>
    </div>
    <div style="margin:5px;float:left">
        <fieldset>
            <legend>Search SKU</legend>
            <input id="input-sku" class="input-sm" />
            <button id="btn-sku" style="margin-left:5px;margin-right:5px" class="btn-primary">Search FBA ID/SKU</button>
        </fieldset>
    </div>
    <div style="margin:5px;float:right">
        <fieldset>
            <legend>Download Schedule</legend>
            <label>From:</label><input id="input-date-from" class="input-sm" type="date" style="margin-left:5px" />
            <label>To:</label><input id="input-date-to" class="input-sm" type="date" style="margin-left:5px" />
            <button id="btn-bydate" class="btn-primary">Download By Date</button>
            <label>Qucik Download:</label>
            <button id="btn-today" class="btn-primary" style="margin-left:5px">Today</button>
            <button id="btn-tomorrow" class="btn-primary" style="margin-left:5px">Tomorrow</button>
            <button id="btn-nextweek" class="btn-primary" style="margin-left:5px">Next 7 Days</button>
        </fieldset>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th style="width:39px">Id</th>
                    <th style="width:70px">Status</th>
                    <th style="width:120px">Ship Order #</th>
                    <th style="width:60px">Batch #</th>
                    <th>Customer Code</th>
                    <th>Sub-customer</th>
                    <th>Destination</th>
                    <th style="width:80px">ETS</th>
                    <th>Total Ctns</th>
                    <th>Total Plts</th>
                    <th style="width:60px">Total Amount</th>
                    <th style="width:60px">Total Cost</th>
                    <th style="width:60px">Net</th>
                    <th style="width:60px">Invoice Status</th>
                    <th style="width:60px">Close Date</th>
                    <th style="width:150px">Status Control</th>
                    <th>eFolder</th>
                    <th style="width:300px">Operation</th>
                    <th style="width:200px">Instruction</th>
                    <th style="width:80px">Create Date</th>
                    <th style="width:80px">Place Date</th>
                    <th style="width:80px">Ready Time</th>
                    <th style="width:80px">Released Date</th>
                    <th style="width:80px">Shipped Date</th>
                    <th style="width:80px">Created By</th>
                    <th style="width:60px">Closed By</th>
                    <th style="width:200px">Log</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe">
    <h1 id="h2-title"></h1>
    <div style="margin:20px;margin-right:0px">
        <fieldset>
            <legend>Required Information</legend>
            <div style="text-align:right;float:left;width:50%">
                <text>Ship Order #: </text><input id='input-shipordernumber' style='width:170px;margin-top:20px' class='input-sm' placeholder='Required' /><br />
                <text>ETS: </text><input id='input-ets' type="date" style='width:170px;margin-top:20px' class='input-sm' /><br />
            </div>
            <div style="text-align:right;float:right;width:50%">
                <text>Customer Code: </text><select id='select-customercode' class="input-sm" style='width:170px;height:30px;margin-top:20px' required='required'>
                    <option value='NULL'>Please select a code</option>
                </select><br />
                <text>Order Type: </text><select id='select-ordertype' class="input-sm" style='width:170px;height:30px;margin-top:20px' required='required'>
                    <option value='Standard'>Standard</option>
                    <option value='Ecommerce'>Ecommerce</option>
                    <option value='LooseCarton'>LooseCarton</option>
                    <option value='Adjustment'>Adjustment</option>
                </select><br />
                <text>Invoice Status: </text><select id='select-invoice' class="input-sm" style='width:170px;height:30px;margin-top:20px' required='required'>
                    <option value='Await'>Await</option>
                    <option value='Closed'>Closed</option>
                </select><br />
            </div>
        </fieldset>
        <fieldset>
            <legend>Additional Information</legend>
            <div style="text-align:right;float:left;width:50%">
                <text>Destination: </text><select class="input-sm" id='select-address' style='width:170px;height:30px;margin-top:20px'></select><br />
                <text>Pick Reference: </text><input id='input-reference' style='width:170px;margin-top:20px' class='input-sm' placeholder='optional' /><br />
                <text>Carrier: </text><input id='input-carrier' style='width:170px;margin-top:20px' class='input-sm' placeholder='optional' /><br />
                <text>Batch #: </text><input id='input-batch' style='width:170px;margin-top:20px' class='input-sm' placeholder='optional' /><br />
                <text>ETS Time Range: </text><input id='input-range' style='width:170px;margin-top:20px' class='input-sm' placeholder="Optional" /><br />
            </div>
            <div style="text-align:right;float:right;width:50%">
                <text>BOL #: </text><input id='input-bol' style='width:170px;margin-top:20px' class='input-sm' placeholder='Optional' /><br />
                <text>Pick #: </text><input id='input-pick' style='width:170px;margin-top:20px' class='input-sm' placeholder='Optional' /><br />
                <text>Sub-customer: </text><input id='input-subcustomer' style='width:170px;margin-top:20px' class='input-sm' placeholder='Optional' /><br />
                <text>PO #: </text><input id='input-po' style='width:170px;margin-top:20px' class='input-sm' placeholder='Optional' /><br />
                <text>Instruction: </text><input id='input-instruction' style='width:170px;margin-top:20px' class='input-sm' placeholder="Optional" /><br />
            </div>
        </fieldset>
        <button id="btn-update" class='btn btn-primary' style="margin-top:20px">Update</button>
        <button id="btn-add" class='btn btn-primary' style="margin-top:20px">Create</button>
    </div>

</div>
<div class="iframe-date">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Select Operation Date: </text><input type="datetime-local" id='input-shipdate' style='width:200px' class='input-sm' /><br />
        <button id="btn-release" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">Confirm Release</button>
        <button id="btn-ship" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">Confirm Ship</button>
    </div>
</div>
<div class="iframe-detail">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Description: </text><input id='input-detail-description' style='width:400px' class='input-sm' /><br />
        <text>Is charging item</text><input type="checkbox" id="cb-charge" /><br />
        <button id="btn-detail-add" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">Create</button>
        <button id="btn-detail-update" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">Update</button>
    </div>
</div>
<div class="iframe-detail-result">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Result: </text><input id='input-detail-result' style='width:400px' class='input-sm' /><br />
        <button id="btn-detail-result" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">Update</button>
    </div>
</div>
<div id="div-efile" style="margin:20px">
    <h2>Manage eFiles</h2>
    <h3 id="h3-reference">Container No.:</h3>
    <div style="margin-top:20px">
        <text style="width:170px;margin-top:20px;margin-right:20px">Name and Type: </text><input id="input-name" style="margin-right:20px" class="input-sm" placeholder="e.g. BOL20190401" /><br />
        <font color="red" style="margin-right:20px">* File name cannot contain any special symbol like ". \ / * ..."</font><br />
        <input type="file" id="input-file" style="width:200px;margin-top:10px;float:left" />
        <button id="btn-upload" style="margin-left:20px;margin-top:5px">Upload</button>
    </div>
    <div style="margin-top:20px">
        <table id="table-efile" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:50px">Id</th>
                    <th>File Name</th>
                    <th>Upload Date</th>
                    <th>Upload By</th>
                    <th>Status</th>
                    <th>Discard By</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@Html.Partial("~/Views/shiporder/_FBAShipOrderPartial.cshtml", null)
@Html.Partial("~/Views/Shared/_readmePartial.cshtml", null)

@section scripts
{
    <script>
        $(document).ready(function () {

            var index;
            var table;
            var tableEfiles;
            var url;
            var status;
            var shipOrder;
            var shipOrderId;
            var chargingDetailId;
            var customerCode;
            var pageId;
            var customerId = getUrlParameter('customerId');
            var invoiceStatus;
            var searchBar = getUrlParameter('search');
            var reference;
            var orderType = "ShipOrder";
            var today = new Date();
            var tomorrow = new Date();
            var nextWeek = new Date();

            tomorrow.setDate(today.getDate() + 1);
            nextWeek.setDate(today.getDate() + 7);

            $("#input-date-from").val(formatDate(today));
            $("#input-date-to").val(formatDate(nextWeek));

            $(".maincontainer, #div-efile").hide();
            $(".btn-wo-operation, #iframe-verifiedinfo, .div-readme").hide();
            $(".iframe, #btn-update, #btn-release, #btn-ship").hide();
            $(".iframe-date").hide();
            $(".iframe-wo, .iframe-wo-office, .iframe-wo-warehouse, .iframe-detail, .iframe-wo-result, .iframe-detail-result").hide();
            $(".div-readme.div-office.div-outbound").show();

            //动态获取Customer数据
            $.ajax({
                type: "GET",
                url: "/api/uppervendor/?departmentCode=FBA",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#select-customercode").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //动态获取地址表数据
            $.ajax({
                type: "GET",
                url: "/api/fbaaddressmanagement/",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#select-address").append("<option value='" + data[i].warehouseCode + "'>" + data[i].warehouseCode + "</option>");
                    }
                    //将地址下拉菜单转变成可编辑下拉菜单
                    $("#select-address").editableSelect({ effects: 'slide' });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });


            if (customerId != undefined) {
                //获取订单列表
                url = "/api/fba/fbashiporder/?customerId=" + customerId;
            }
            else {
                url = "/api/fba/fbashiporder/";
            }

            var columnArray = [
                {
                    data: "id",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "status",
                    render: function (data) {
                        status = data;
                        if (data == "New Created")
                            return "<font color='gray'>" + data + "</font>"
                        else if (data == "Picking")
                            return "<font color='vermilion'>" + data + "</font>";
                        else if (status == "New Order" || status == "Returned Order")
                            return "<font color='orange'>" + data + "</font>"
                        else if (data == "Processing" || data == "Pending" || data == "Updated")
                            return "<font color='red'>" + data + "</font>";
                        else if (data == "Ready")
                            return "<font color='green'>" + data + "</font>";
                        else if (data == "Released")
                            return "<font color='brown'>" + data + "</font>";
                        else if (data == "Shipped")
                            return "<font color='blue'>" + data + "</font>";
                        else
                            return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "shipOrderNumber",
                    render: function (data) {
                        shipOrder = data;
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "batchNumber",
                    render: function (data) {
                        if (data == null || data == "") 
                            return "<text class='text-batch'>N/A</text>";
                        return "<text class='text-batch'>" + data + "</text>";
                    }
                },
                {
                    data: "customerCode",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "subCustomer",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "destination",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "etsTimeRange",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "totalCtns",
                    render: function (data) {
                        return "<font color='green'>" + data + "</font>";
                    }
                },
                {
                    data: "totalPlts",
                    render: function (data) {
                        return "<font color='blue'>" + data + "</font>";
                    }
                },
                {
                    data: "totalAmount",
                    render: function (data) {
                        income = data;
                        return "<font color='gold' style='background-color:black'>$" + parseFloat(data).toFixed(2) + "</font>";
                    }
                },
                {
                    data: "totalCost",
                    render: function (data) {
                        cost = data;
                        return "<font color='gold' style='background-color:black'>$" + parseFloat(data).toFixed(2) + "</font>";
                    }
                },
                {
                    data: "net",
                    render: function (data) {
                        return "<font color='gold' style='background-color:black'>$" + parseFloat(data).toFixed(2) + "</font>";
                    }
                },
                {
                    data: "invoiceStatus",
                    render: function (data) {
                        invoiceStatus = data;
                        return "<text class='text-status'>" + data + "</text>";
                    }
                },
                {
                    data: "closeDate",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'>Open</font>"
                        else
                            return "<font>" + data.substring(0, 10) + "</font>";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        if (status == "New Created")
                            return "<input type='button' class='btn btn-link btn-changestatus' iid='" + data + "' value='Release' />";
                        else if (status == "Picking")
                            //return "<input type='button' class='btn btn-link btn-revert' iid='" + data + "' value='Revert' /><input type='button' class='btn btn-link btn-release' iid='" + data + "' value='Release' /><input type='button' class='btn btn-link btn-wo' iid='" + data + "' value='Push' />";
                            return "<input type='button' class='btn btn-link btn-revert' iid='" + data + "' value='Revert' /><input type='button' class='btn btn-link btn-wo' operation='push' iid='" + data + "' value='Push' />";
                        else if (status == "New Order" || status == "Returned Order")
                            return "<input type='button' class='btn btn-link btn-revert' iid='" + data + "' value='Recall' />";
                        else if (status == "Processing")
                            return "";
                        else if (status == "Pending" || status == "Updated")
                            return "<button class='btn btn-link btn-wo' operation='ready'>Update WO</button>";
                        else if (status == "Ready")
                            return "<input type='button' class='btn btn-link btn-revert' iid='" + data + "' value='Unready' />";
                        else if (status == "Released")
                            return "<input type='button' class='btn btn-link btn-revert' iid='" + data + "' value='Unrelease' /><input type='button' class='btn btn-link btn-ship' iid='" + data + "' value='Ship' />";
                        else if (status == "Shipped")
                            return "";
                        else
                            return "";
                    }
                },
                {
                    data: "shipOrderNumber",
                    render: function (data) {
                        return "<button class='btn btn-link btn-file' reference='" + data + "'>Files</button>";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        if (status == "New Created")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-edit' iid='" + data + "' value='Edit' /><input type='button' class='btn btn-link btn-pick' iid='" + data + "' value='Pick' /><input type='button' class='btn btn-link btn-delete' iid='" + data + "' value='X' />";
                        else if (status == "Picking")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-edit' iid='" + data + "' value='Edit' /><input type='button' class='btn btn-link btn-pick' iid='" + data + "' value='Pick' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' /><input type='button' class='btn btn-link btn-delete' iid='" + data + "' value='X' />";
                        else if (status == "New Order" || status == "Returned Order")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-wo' operation='readonly' iid='" + data + "' value='WO' /><input type='button' class='btn btn-link btn-partialedit' iid='" + data + "' value='Edit' /><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' />";
                        else if (status == "Processing" || status == "Pending")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-wo' operation='readonly' iid='" + data + "' value='WO' /><input type='button' class='btn btn-link btn-partialedit' iid='" + data + "' value='Edit' /><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' />";
                        else if (status == "Ready")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-wo' operation='readonly' iid='" + data + "' value='WO' /><input type='button' class='btn btn-link btn-partialedit' iid='" + data + "' value='Edit' /><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' />";
                        else if (status == "Released")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-wo' operation='readonly' iid='" + data + "' value='WO' /><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' />";
                        else if (status == "Shipped")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-wo' operation='readonly' iid='" + data + "' value='WO' /><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' />";
                        else
                            return "";
                    }
                },
                {
                    data: "instruction",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "createDate",
                    render: function (data) {
                        return "<font>" + data.substring(0, 10) + "</font>";
                    }
                },
                {
                    data: "placeTime",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>";
                        else
                            return "<font>" + data.substring(0, 10) + " " + data.substring(11, 16) + "</font>";
                    }
                },
                {
                    data: "readyTime",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>";
                        else
                            return "<font>" + data.substring(0, 10) + " " + data.substring(11, 16) + "</font>";
                    }
                },
                {
                    data: "releasedDate",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>";
                        else
                            return "<font>" + data.substring(0, 10) + " " + data.substring(11, 16) + "</font>";
                    }
                },
                {
                    data: "shipDate",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>"
                        else
                            return "<font>" + data.substring(0, 10) + " " + data.substring(11, 16) + "</font>";
                    }
                },
                {
                    data: "createBy",
                    render: function (data) {
                        return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "confirmedBy",
                    render: function (data) {
                        if (data == null)
                            return "";
                        else
                            return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "operationLog",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<text>" + data + "</text>";
                    }
                }
            ]
            GetAjaxTable("GET", url, "#table", table, columnArray);

            //点击Tomorrow按钮，下载明日的出库计划表
            $("#btn-tomorrow").on("click", function () {
                var from = formatDate(tomorrow);
                url = '/api/fba/fbashiporder/?fromDate=' + from + "&toDate=" + from + "&operation=Schedule";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fullPath=' + encodeURIComponent(data));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击today按钮，下载今日的出库计划表
            $("#btn-today").on("click", function () {
                var from = formatDate(today);
                url = '/api/fba/fbashiporder/?fromDate=' + from + "&toDate=" + from + "&operation=Schedule";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fullPath=' + encodeURIComponent(data));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击next 7 days按钮，下载接下来七天的出库计划表
            $("#btn-nextweek").on("click", function () {
                var from = formatDate(today);
                var to = formatDate(nextWeek);
                url = '/api/fba/fbashiporder/?fromDate=' + from + "&toDate=" + to + "&operation=Schedule";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fullPath=' + encodeURIComponent(data));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击通过日期下载按钮，下载明日的出库计划表
            $("#btn-bydate").on("click", function () {
                var from = $("#input-date-from").val() == "" ? FormData(today) : $("#input-date-from").val();
                var to = $("#input-date-to").val() == "" ? FormData(tomorrow) : $("#input-date-to").val();
                url = '/api/fba/fbashiporder/?fromDate=' + from + "&toDate=" + to + "&operation=Schedule";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fullPath=' + encodeURIComponent(data));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击Pick按钮，转到该运单的拣货页面
            $("#table").on("click", ".btn-pick", function () {
                shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                //var orderType = $(this).parent().parent("tr").children('td').eq(3).children('text').html();
                //var container = $(this).parent().parent("tr").children('td').eq(5).children('font').html();

                $(window.location).attr('href', "/shiporder/fbapickdetail/?shipOrderId=" + shipOrderId);
            });

            $("#table").on("click", ".btn-view", function () {
                var shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                //var orderType = $(this).parent().parent("tr").children('td').eq(3).children('text').html();
                //var container = $(this).parent().parent("tr").children('td').eq(5).children('font').html();

                $(window.location).attr('href', "/shiporder/viewfbapickdetail/?shipOrderId=" + shipOrderId);
            });

            //点击创建新运单按钮，打开新建运单弹窗
            $("#btn-create").click(function () {
                $("#btn-add").show();
                $("#btn-update").hide();
                $("#h2-title").html("Create Shipping Order");

                //取消禁用
                $("#input-shipordernumber").removeAttr("disabled");

                //重制表单
                $(".input-sm").val("");
                $("#select-customercode option:first").prop("selected", 'selected');
                $("#select-ordertype option:first").prop("selected", 'selected');
                $("#select-invoice option:first").prop("selected", 'selected');

                Openiframe(index, ".iframe", "700px", "700px");
            })

            //点击添加按钮，新建一个新的运单
            $("#btn-add").on("click", function () {
                var shipOrderNumber = $("#input-shipordernumber").val();
                var customerCode = $("#select-customercode option:selected").val();
                var orderType = $("#select-ordertype option:selected").val();
                var destination = $("#select-address").val();
                var pickReference = $("#input-reference").val();
                var invoiceStatus = $("#select-invoice option:selected").val();
                var bol = $("#input-bol").val();
                var subCustomer = $("#input-subcustomer").val();
                var carrier = $("#input-carrier").val();
                var batchNumber = $("#input-batch").val();
                var ets = $("#input-ets").val();
                var timeRange = $("#input-range").val();
                var pickNumber = $("#input-pick").val();
                var purchaseOrderNumber = $("#input-po").val();
                var instruction = $("#input-instruction").val();

                if (shipOrderNumber == "" || ets == "" || customerCode == "NULL") {
                    alert("Ship Order #, ETS and Customer Code are required.");
                }

                else {
                    var obj = {
                        "shipOrderNumber": shipOrderNumber.toString(),
                        "customerCode": customerCode.toString(),
                        "destination": destination.toString(),
                        "pickReference": pickReference.toString(),
                        "orderType": orderType.toString(),
                        "bolNumber": bol.toString(),
                        "invoiceStatus": invoiceStatus.toString(),
                        "subCustomer": subCustomer.toString(),
                        "carrier": carrier.toString(),
                        "ets": ets.toString(),
                        "timeRange": timeRange.toString(),
                        "pickNumber": pickNumber.toString(),
                        "purchaseOrderNumber": purchaseOrderNumber.toString(),
                        "instruction": instruction.toString(),
                        "batchNumber": batchNumber.toString()
                    }
                    $.ajax({
                        type: "POST",
                        url: "/api/fba/fbashiporder/",
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            window.location.reload();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            index = layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                layer.close(index);
                            });
                        }
                    });
                }
            });

            //点击费用按钮，进入收费项目登记页面
            $("#table").on("click", ".btn-fee", function () {

                shipOrderId = shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                var tpStatus = $(this).parent().parent("tr").children('td').eq(13).children('text').html();

                //if ($(this).attr('invoicestatus') == "Closed")
                if (tpStatus == "Closed")
                    $(window.location).attr('href', '/fba/FBAinvoiceDetailReadOnly/?reference=' + $(this).attr('reference') + "&invoiceType=ShipOrder" + "&invoiceStatus=" + $(this).attr('invoicestatus') + "&shipOrderId=" + shipOrderId);
                else
                    $(window.location).attr('href', '/fba/FBAinvoiceDetail/?reference=' + $(this).attr('reference') + "&invoiceType=ShipOrder" + "&invoiceStatus=" + $(this).attr('invoicestatus') + "&shipOrderId=" + shipOrderId);

            });

            //点击BOL按钮，下载有内容的BOL
            $("#table").on("click", ".btn-bol", function () {
                var shipOrderId = $(this).attr('iid');
                url = "/api/fba/fbashipOrder/?shipOrderId=" + shipOrderId + "&operation=BOL";
                SendUploadAjaxMethodAndDownloadFile("GET", url, {});
            });

            //点击逆向按钮，将运单往逆向流程转换状态
            $("#table").on("click", ".btn-revert", function () {
                var id = $(this).attr('iid');
                var date = new Date();
                var today = date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString();

                url = "/api/fba/fbashiporder/?shipOrderId=" + id + "&operationDate=" + today + "&operation=ReverseStatus";
                SendAjaxMethod("PUT", url, {});
            })

            //点击new create状态下的release按钮，将运单状态变为released
            $("#table").on("click", ".btn-changestatus", function () {

                var button = $(this);
                shipOrderId = button.attr('iid');
                $("#btn-ship").hide();
                $("#btn-release").show();

                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["400px", "150px"],
                    content: $(".iframe-date")
                });

                //var id = $(this).attr('iid');
                //var date = new Date();
                //var today = date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString();

                //url = "/api/fba/fbashiporder/?shipOrderId=" + id + "&operationDate=" + today + "&operation=ChangeStatus";
                //SendAjaxMethod("PUT", url, {});
            })

            //填好release日期后，点击确认release按钮,确认release
            $("#btn-release").on("click", function () {

                layer.close(index);
                var releaseDate = $("#input-shipdate").val();

                if (releaseDate != "") {
                    url = "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId + "&operationDate=" + releaseDate + "&operation=Released";
                    SendAjaxMethod("PUT", url, {});
                }
                else {
                    alert("Release Date is required.");
                }
            });

            //点击picking状态下的Release按钮，将运单标记为released
            $("#table").on("click", ".btn-release", function () {
                var id = $(this).attr('iid');
                url = "/api/fba/fbashiporder/?shipOrderId=" + id + "&isRelease=true";
                SendAjaxMethod("PUT", url, {});
            })

            //点击Ship按钮，将运单标记为shipped
            $("#table").on("click", ".btn-ship", function () {
                var button = $(this);
                shipOrderId = button.attr('iid');
                $("#btn-ship").show();
                $("#btn-release").hide();

                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["400px", "150px"],
                    content: $(".iframe-date")
                });
            });

            //填好ship日期后，点击确认发货按钮
            $("#btn-ship").on("click", function () {

                layer.close(index);
                var shipDate = $("#input-shipdate").val();

                if (shipDate != "") {
                    bootbox.confirm("Are you want to ship this order? This operation is unreversed.", function (result) {
                        if (result) {
                            url = "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId + "&operationDate=" + shipDate + "&operation=ChangeStatus";
                            SendAjaxMethod("PUT", url, {});
                        }
                    });
                }
                else {
                    alert("Ship Date must be complete.");
                }
            });

            //Remove Ship Order
            $("#table").on("click", ".btn-delete", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbashiporder/?shipOrderId=" + id;
                SendAjaxMethod("DELETE", url, {});
            });

            //点击文件按钮，打开订单相关文件管理页面
            $("#table").on("click", ".btn-file", function () {
                reference = $(this).attr('reference');
                $("#h3-reference").html("Shipping Order No.: " + reference);
                url = "/api/fba/FBAEfolder/?reference=" + reference + "&orderType=" + orderType;
                var columsArray = [
                    {
                        data: "id",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "customizedFileName",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "uploadDate",
                        render: function (data) {
                            return "<text>" + data.toString().substring(0, 10) + "</text>";
                        }
                    },
                    {
                        data: "uploadBy",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "status",
                        render: function (data) {
                            status = data;
                            if (status == null)
                                return "";
                            else if (status == "Valid")
                                return "<font color='green'>" + data + "</font>";
                            else
                                return "<font color='red'>" + data + "</font>";
                        }
                    },
                    {
                        data: "discardBy",
                        render: function (data) {
                            if (data == null)
                                return "";
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            if (status == "Valid")
                                return "<button class='btn btn-link btn-download' iid='" + data + "'>Download</button><button class='btn btn-link btn-discard' iid='" + data + "'>Discard</button>"
                            else
                                return "<button class='btn btn-link btn-download' iid='" + data + "'>Download</button>"
                        }
                    }
                ];
                //获取当前单的所有相关文件列表
                GetEfilesAjaxTable("GET", url, "#table-efile", tableEfiles, columsArray);
                grandChannel.openiframe(index, "#div-efile", "900px", "600px");
                //$(window.location).attr('href', "/EFolder/FBAEfolder/?reference=" + $(this).attr('reference') + "&orderType=ShipOrder");
            });

            //点击上传按钮，上传文件到服务器
            $("#btn-upload").on("click", function () {

                var fileName = $("#input-name").val();

                if (fileName == "")
                {
                    layer.alert("File name cannot be empty.");
                }
                else
                {
                    var formData = new FormData();
                    var files = $("#input-file").get(0).files;

                    if (files.length > 0) {
                        formData.append("fileName", files[0]);
                        url = "/api/fba/FBAEfolder/?reference=" + reference + "&orderType=" + orderType + "&fileName=" + fileName + "&version=V1";
                        SendUploadAjaxMethod("POST", url, formData);
                    }
                    else {
                        alert("Please choose file first.");
                    }
                }
            });

            //点击下载按钮，下载选中的文件
            $("#table-efile").on("click", ".btn-download", function () {
                $(window.location).attr('href', "/api/fba/FBAEfolder/?fileId=" + $(this).attr('iid'));
            });

            //点击discard按钮，将该文件标记为invalid
            $("#table-efile").on("click", ".btn-discard", function () {
                var fileId = $(this).attr('iid');
                var thisBtn = $(this);
                url = "/api/fba/FBAEfolder/?fileId=" + fileId;
                $.ajax({
                    type: "PUT",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        thisBtn.parent().parent("tr").children('td').eq(4).children('font').html('Invalid');
                        thisBtn.parent().parent("tr").children('td').eq(4).children('font').attr('color', 'red');
                        thisBtn.replaceWith("");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //临时机关，点击invoice Status可以将状态临时改成Await开放状态
            $("#table").on("click", ".text-status", function () {
                $(this).html("Await");
            });

            //点击任何按钮，都将searchBar中的内容保存到url中但不刷新页面
            $("#table").on("click", ".btn", function () {
                tableSearch = $("#table_filter").children('label').children('input').val();

                if (customerId != undefined) {
                    window.history.pushState({}, {}, "/ShipOrder/FBAShipOrder/?customerId=" + customerId + "&search=" + tableSearch);
                }
                else {
                    window.history.pushState({}, {}, "/ShipOrder/FBAShipOrder/?search=" + tableSearch);
                }
            });

            //点击编辑按钮，打开订单编辑页面
            $("#table").on("click", ".btn-edit, .btn-partialedit", function () {
                shipOrderId = $(this).attr('iid');

                //取消禁用
                $("#input-shipordernumber").removeAttr("disabled");

                url = "/api/fba/fbashipOrder/?shipOrderId=" + shipOrderId + "&operation=Update";

                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {

                        layer.close(index);

                        $("#btn-add").hide();
                        $("#btn-update").show();

                        $("#input-shipordernumber").val(data.shipOrderNumber);
                        $("#select-customercode").val(data.customerCode);
                        $("#select-ordertype").val(data.orderType);
                        $("#select-invoice").val(data.invoiceStatus);
                        $("#select-address").val(data.destination);
                        $("#input-subcustomer").val(data.subCustomer);
                        $("#input-reference").val(data.pickReference);
                        $("#input-bol").val(data.bolNumber);
                        $("#input-carrier").val(data.carrier);
                        $("#input-batch").val(data.batchNumber);
                        $("#input-ets").val(data.ets.toString().substring(0, 10));
                        $("#input-range").val(data.etsTimeRange);
                        $("#input-pick").val(data.pickNumber);
                        $("#input-po").val(data.purchaseOrderNumber);
                        $("#input-instruction").val(data.instruction);

                        $("#h2-title").html("Update Shipping Order");
                        Openiframe(index, ".iframe", "700px", "700px");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //对于部分编辑edit的权限，点击edit，锁死shiporderNumber对的输入
            $("#table").on("click", ".btn-partialedit", function () {
                $("#input-shipordernumber").attr("disabled", "disabled");
            });

            //点击更新按钮，更新ship order的信息
            $("#btn-update").on("click", function () {
                var shipOrderNumber = $("#input-shipordernumber").val();
                var customerCode = $("#select-customercode option:selected").val();
                var orderType = $("#select-ordertype option:selected").val();
                var invoiceStatus = $("#select-invoice option:selected").val();
                var destination = $("#select-address").val();
                var subCustomer = $("#input-subcustomer").val();
                var pickReference = $("#input-reference").val();
                var bol = $("#input-bol").val();
                var carrier = $("#input-carrier").val();
                var batchNumber = $("#input-batch").val();
                var ets = $("#input-ets").val();
                var timeRange = $("#input-range").val();
                var pickNumber = $("#input-pick").val();
                var purchaseOrderNumber = $("#input-po").val();
                var instruction = $("#input-instruction").val();

                if (shipOrderNumber == "" || ets == "" || customerCode == "NULL") {
                    alert("Ship Order #, ETS and Customer Code are required.");
                }

                else {
                    var obj = {
                        "shipOrderNumber": shipOrderNumber.toString(),
                        "customerCode": customerCode.toString(),
                        "subCustomer": subCustomer.toString(),
                        "invoiceStatus": invoiceStatus.toString(),
                        "destination": destination.toString(),
                        "pickReference": pickReference.toString(),
                        "orderType": orderType.toString(),
                        "bolNumber": bol.toString(),
                        "carrier": carrier.toString(),
                        "ets": ets.toString(),
                        "timeRange": timeRange.toString(),
                        "pickNumber": pickNumber.toString(),
                        "purchaseOrderNumber": purchaseOrderNumber.toString(),
                        "instruction": instruction.toString(),
                        "batchNumber": batchNumber.toString()
                    }
                    $.ajax({
                        type: "PUT",
                        url: "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId,
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            window.location.reload();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            index = layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                layer.close(index);
                            });
                        }
                    });
                }
            });

            //点击所有与打开wo相关的按钮，根据operation显示/关闭相关按钮
            $("#table").on("click", ".btn-wo", function () {
                customerCode = $(this).parent().parent("tr").children("td").eq(4).children("text").html();
                shipOrderId = $(this).parent().parent("tr").children("td").eq(0).children("text").html();
                reference = $(this).parent().parent("tr").children("td").eq(2).children("text").html();
                var operation = $(this).attr('operation');

                $(".h2-customercode").html("Customer Code: <b><font color='red'>" + customerCode + "</font></b>");
                pageId = ".iframe-wo-office";
                grandChannel.openiframe(index, pageId, "1000px", "800px");

                if (operation == "push") {
                    $(".btn-detail-create, #btn-detail-reset, .btn-push").show();
                    $(".btn-wo-result-status").hide();
                }
                else if (operation == "readonly") {
                    $(".btn-wo-result-status, .btn-detail-create, #btn-detail-reset, .btn-push").hide();
                }
                else if (operation == "ready") {
                    $(".btn-detail-create, #btn-detail-reset, .btn-push").hide();
                    $(".btn-wo-result-status").show();
                }

                GetWorkOrder(shipOrderId, operation);
            });

            //点击添加指示按钮按钮，打开一个简易填写界面
            $(".btn-detail-create").on("click", function () {
                $("#cb-charge").show();

                $("#input-detail-description").val("");
                $("#btn-detail-update").hide();
                $("#btn-detail-add").show();
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["500px", "150px"],
                    content: $(".iframe-detail")
                });
            });

            //点击添加按钮，添加操作指示
            $("#btn-detail-add").on("click", function () {
                var description = $("#input-detail-description").val();
                var isChargingItem = $("#cb-charge").prop("checked");

                if (description != "") {
                    layer.close(index);
                    url = "/api/fbainvoicedetail/?reference=" + reference + "&invoiceType=ShipOrder&description=" + encodeURIComponent(description) + "&isChargingItem=" + isChargingItem;
                    SendAjaxMethodAndRefreshWorkOrder("POST", url, {});
                }
            });

            //点击Reset按钮，重制当前WO的指示（与模板同步）
            $("#btn-detail-reset").on("click", function () {
                url = "/api/fba/fbashiporder/?referenceId=" + shipOrderId + "&orderType=ShipOrder&operation=Reset";
                SendAjaxMethodAndRefreshWorkOrder("PUT", url, {});
            });

            //点击操作指示表中的更新按钮，打开更新界面
            $(".table-wo").on("click", ".btn-detail-update", function () {
                $("#cb-charge").show();
                chargingDetailId = $(this).parent().parent("tr").children("td").eq(0).children("text").html();
                url = "/api/fba/fbashiporder/?chargingDetailId=" + chargingDetailId;
                var pIndex;
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        pIndex = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(pIndex);
                        $("#input-detail-description").val(data.description);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });

                $("#btn-detail-add").hide();
                $("#btn-detail-update").show();
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["500px", "150px"],
                    content: $(".iframe-detail")
                });

            });

            //点击更新按钮，更新操作指示
            $("#btn-detail-update").on("click", function () {
                var description = $("#input-detail-description").val();
                var isChargingItem = $("#cb-charge").prop("checked");

                if (description != "") {
                    layer.close(index);
                    url = "/api/fba/fbashiporder/?chargingDetailId=" + chargingDetailId + "&comment=" + encodeURIComponent(description) + "&isChargingItem=" + isChargingItem + "&operation=UpdateInstruction";

                    SendAjaxMethodAndRefreshWorkOrder("PUT", url, {});
                }
            });

            //点击操作指示表中的删除按钮，删除选中的操作指示
            $(".table-wo").on("click", ".btn-detail-delete", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbainvoicedetail/?chargingItemDetailId=" + id;

                SendAjaxMethodAndRefreshWorkOrder("DELETE", url, {});
            });

            //点击WO中的Push按钮，将订单推送到仓库端
            $(".btn-push").on("click", function () {
                var date = new Date();
                var today = date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString();

                url = "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId + "&operationDate=" + today + "&operation=ChangeStatus";
                SendAjaxMethod("PUT", url, {});
            });

            //点击操作指示表中的更新结果按钮，打开更新结果界面
            $(".table-wo").on("click", ".btn-result", function () {
                chargingDetailId = $(this).parent().parent("tr").children("td").eq(0).children("text").html();
                url = "/api/fba/fbashiporder/?chargingDetailId=" + chargingDetailId;
                var pIndex;
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        pIndex = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(pIndex);
                        $("#input-detail-result").val(data.result);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });

                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["500px", "150px"],
                    content: $(".iframe-detail-result")
                });

            });

            //点击更新按钮，更新操作指示
            $("#btn-detail-result").on("click", function () {
                var description = $("#input-detail-result").val();

                if (description != "") {
                    layer.close(index);
                    url = "/api/fba/fbashiporder/?chargingDetailId=" + chargingDetailId + "&comment=" + encodeURIComponent(description) + "&isChargingItem=true&operation=UpdateResult";
                    SendAjaxMethodAndRefreshWorkOrder("PUT", url, {});
                }
            });

            //点击Return按钮，将订单退回到仓库端，或将订单Mark成Ready
            $(".btn-wo-result-status").on("click", function () {
                if ($(this).val() == "Return")
                    url = "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId + "&operationDate=1992-11-17&operation=ReverseStatus";
                else
                    url = "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId + "&operationDate=1992-11-17&operation=Ready";

                grandChannel.sendAjaxMethod("PUT", url, {}, index);
            });

            //点击confirm按钮，将选中指令标记为处理完成
            $(".table-wo").on("click", ".btn-confirm", function () {
                var chargingItemDetailId = $(this).attr('iid');
                url = "/api/warehouseindex/?chargingItemDetailId=" + chargingItemDetailId + "&operation=Confirm";
                SendAjaxMethodAndRefreshWorkOrder("PUT", url, {});
            });

            //点击搜索FBA ID/SKU，返回所有符合条件的主单
            $("#btn-sku").on("click", function () {
                var sku = $("#input-sku").val();

                if (sku != "") {
                    url = "/api/fbamasterorder/?sku=" + sku + "&orderType=ShipOrder";

                    GetAjaxTable("GET", url, "#table", table, columnArray);
                }
            });

            //点击batch#，进入编辑模式
            $("#table").on("click", ".text-batch", function () {
                var currentBatch = $(this).html();
                var shipOrderId = $(this).parent().parent("tr").children("td").eq(0).children("text").html();
                $(this).replaceWith("<input iid='" + shipOrderId + "' class='input-sm input-batch' style='width:80px' placeholder='" + currentBatch + "' value='" + currentBatch + "'/>");
            });

            //编辑完新batch号码以后，按下回车确认
            $("#table").on("keypress", ".input-batch", function () {

                var shipOrderId = $(this).attr('iid');
                var batchNumber = $(this).val();

                if (batchNumber == "") {
                    batchNumber = $(this).attr('placeholder');
                }

                //按回车，触发事件
                if (event.keyCode == "13") {
                    var thisInput = $(this);
                    $.ajax({
                        type: "PUT",
                        url: "/api/FBAShipOrder/?shipOrderId=" + shipOrderId + "&batchNumber=" + batchNumber,
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            thisInput.replaceWith("<text class='text-batch'>" + batchNumber + "</text>");
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                location.reload();
                            });
                        }
                    });
                }
            });

            //点击WO中的下载WO&Picking List按钮，下载所属文件
            $(".btn-downloadwo").on("click", function () {
                url = "/api/fba/fbapickdetail/?shipOrderId=" + shipOrderId + "&operation=Download";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fullPath=' + encodeURIComponent(data));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            function GetAjaxTable(methodType, url, tableId, table, columsArray) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);

                        $(".maincontainer").show();

                        if (table) {
                            table.destroy();
                        }

                        table = $(tableId).DataTable({
                            data: data,
                            destroy: true,
                            scrollX: true,
                            order: [[0, "desc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: columsArray
                        });

                        var tableSearch = $("#table_filter").children('label').children('input');

                        if (searchBar != undefined) {
                            tableSearch.val(searchBar);
                            table.search(searchBar).draw();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function SendAjaxMethod(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!", function () {
                            window.location.reload();
                        })
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            //function ReturnDownableMenu(id) {
            //    return "<div class='downablemenu'><ul><li>Operation Menu<ul><li><input type='button' class='btn btn-link btn-pick' iid='" + id + "' value='Pick' /></li><li><input type='button' class='btn btn-link btn-download' iid='" + id + "' value='Download BOL' /></li></ul></li></ul></div>"
            //}

            function Openiframe(index, elementId, width, height) {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: [width, height],
                    content: $(elementId)
                });
            };

            function SendUploadAjaxMethodAndDownloadFile(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: false,
                    cache: false,
                    processData: false,
                    data: obj,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success! The BOL will be downloaded automatically.");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fullPath=' + encodeURIComponent(data));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            function GetWorkOrder(shipOrderId, operation) {
                url = "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId + "&operation=WO";

                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        $(".text-place").html(data.placeTime);
                        $(".text-ready").html(data.readyTime);
                        $(".text-ets").html(data.ets);
                        $(".text-pm").html(data.pickMan);
                        $(".text-instructor").html(data.instructor);
                        $(".text-so").html(data.shipOrderNumber);
                        $(".text-reference").html(data.reference);
                        $(".text-destination").html(data.destination);
                        $(".text-carrier").html(data.carrier);
                        $(".text-lot").html(data.lot);
                        $(".text-ctns").html(data.pickableCtns);
                        $(".text-plts").html(data.pickablePlts);
                        $(".text-inventory").html(data.pltsFromInventory);
                        $(".text-new").html(data.newPlts);
                        $(".text-total").html(data.outboundPlts);

                        var plColumnArray = [
                            {
                                data: "order",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "container",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "sku",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "amzRef",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pickableCtns",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pickablePlts",
                                render: function (data) {
                                    if (data != 0)
                                        return "<text>" + data + "</text>";
                                    else
                                        return "";
                                }
                            },
                            {
                                data: "location",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            }
                        ];
                        $(".table-pickinglist").DataTable({
                            data: data.pickingLists,
                            destroy: true,
                            //scrollX: true,
                            order: [[0, "asc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: plColumnArray
                        });

                        var osColumnArray = [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "description",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "comment",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "result",
                                render: function (data) {
                                    if (data == null)
                                        return "";
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "handlingStatus",
                                render: function (data) {
                                    if (data == "New")
                                        return "<font color='blue'>" + data + "</font>";
                                    else if (data == "Pending")
                                        return "<font color='red'>" + data + "</font>";
                                    else if (data == "Updated" || data == "Returned")
                                        return "<font color='Orange'>" + data + "</font>";
                                    else if (data == "Confirmed" || data == "Finished")
                                        return "<font color='green'>" + data + "</font>";
                                    else
                                        return "<font>Invaild Date</font>"
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button iid='" + data + "' class='btn btn-link btn-detail-update'>Update</button><button iid='" + data + "'class='btn btn-result btn-link'>Result</button><button iid='" + data + "' class='btn btn-link btn-detail-delete'>Delete</button>";
                                }
                            }
                        ];
                        table = $(".table-wo").DataTable({
                            data: data.operationInstructions,
                            destroy: true,
                            //scrollX: true,
                            order: [[0, "desc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: osColumnArray
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            }

            function SendAjaxMethodAndRefreshWorkOrder(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: obj,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        GetWorkOrder(shipOrderId, pageId);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function GetEfilesAjaxTable(methodType, url, tableId, table, columsArray) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        if (table) {
                            table.destroy();
                        }

                        table = $(tableId).DataTable({
                            data: data,
                            destroy: true,
                            //scrollX: true,
                            order: [[1, "asc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: columsArray
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function SendUploadAjaxMethod(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: false,
                    cache: false,
                    processData: false,
                    data: obj,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!", function () {
                            url = "/api/fba/FBAEfolder/?reference=" + reference + "&orderType=" + orderType;
                            var columsArray = [
                                {
                                    data: "id",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "customizedFileName",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "uploadDate",
                                    render: function (data) {
                                        return "<text>" + data.toString().substring(0, 10) + "</text>";
                                    }
                                },
                                {
                                    data: "uploadBy",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "status",
                                    render: function (data) {
                                        status = data;
                                        if (status == null)
                                            return "";
                                        else if (status == "Valid")
                                            return "<font color='green'>" + data + "</font>";
                                        else
                                            return "<font color='red'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "discardBy",
                                    render: function (data) {
                                        if (data == null)
                                            return "";
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "id",
                                    render: function (data) {
                                        if (status == "Valid")
                                            return "<button class='btn btn-link btn-download' iid='" + data + "'>Download</button><button class='btn btn-link btn-discard' iid='" + data + "'>Discard</button>"
                                        else
                                            return "<button class='btn btn-link btn-download' iid='" + data + "'>Download</button>"
                                    }
                                }
                            ];
                            //获取当前单的所有相关文件列表
                            GetEfilesAjaxTable("GET", url, "#table-efile", tableEfiles, columsArray);
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            }

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
