
@{
    ViewBag.Title = "FBAShipOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FBA Sytem</h1>
<h2>Ship Order Page</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div id="div-create">
        <button id="btn-create" class="btn btn-primary">Created a new ship order</button>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th style="width:39px">Id</th>
                    <th style="width:70px">Status</th>
                    <th>Ship Order #</th>
                    <th>Customer Code</th>
                    <th>Order Type</th>
                    <th>Destination</th>
                    @*<th>Pick Ref.</th>*@
                    <th style="width:80px">Create date</th>
                    <th style="width:60px">Create By</th>
                    <th style="width:60px">Edit By</th>
                    <th style="width:80px">ETS</th>
                    <th style="width:80px">Shipped Date</th>
                    <th style="width:60px">Shipped By</th>
                    <th style="width:200px">Instruction</th>
                    <th style="width:60px">Total Amount</th>
                    <th style="width:60px">Invoice Status</th>
                    <th style="width:60px">Close Date</thstyle="width:60px">
                    <th style="width:60px">Closed By</th>
                    <th>eFolder</th>
                    <th style="width:300px">Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Ship Order Number: </text><input id='input-shipordernumber' style='width:170px;margin-top:20px' class='input-sm' placeholder='Ship Order Number' /><br />
        <text>Customer Code: </text><select id='select-customercode' class='select-vendor' style='width:170px;height:30px;margin-top:20px' required='required'>
            <option value='NULL'>Please select a code</option>
        </select><br />
        <text>Select Order Type: </text><select id='select-ordertype' style='width:170px;height:30px;margin-top:20px' required='required'>
            <option value='Standard'>Standard</option>
            <option value='Ecommerce'>Ecommerce</option>
        </select><br />
        <text>Destination: </text><input id='input-destination' style='width:170px;margin-top:20px' class='input-sm' placeholder='Destination' /><br />
        <text>Pick Reference: </text><input id='input-reference' style='width:170px;margin-top:20px' class='input-sm' placeholder='Container # (optional)' /><br />
        <text>BOL Number: </text><input id='input-bol' style='width:170px;margin-top:20px' class='input-sm' placeholder='Bill of landing #' /><br />
        <text>Carrier: </text><input id='input-carrier' style='width:170px;margin-top:20px' class='input-sm' placeholder='Carrier Name' /><br />
        <text>ETS: </text><input id='input-ets' type="date" style='width:170px;margin-top:20px' class='input-sm' /><br />
        <text>ETS Time Range: </text><input id='input-range' style='width:170px;margin-top:20px' class='input-sm' placeholder="Optional" /><br />
        <button id="btn-add" class='btn btn-primary' style="margin-top:20px">New ship order</button>
    </div>
</div>
<div class="iframe-ship">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Select ShipDate: </text><input type="datetime-local" id='input-shipdate' style='width:200px' class='input-sm' /><br />
        <button id="btn-ship" class='btn btn-primary' style="margin-top:20px;margin-right:20px;text-align:right">Confirm Ship</button>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var index;
            var table;
            var url;
            var status;
            var shipOrder;
            var shipOrderId;
            var customerId = getUrlParameter('customerId');
            var invoiceStatus;
            var searchBar = getUrlParameter('search');

            $(".iframe").hide();
            $(".iframe-ship").hide();

            //动态获取Customer数据
            $.ajax({
                type: "GET",
                url: "/api/uppervendor/?departmentCode=FBA",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#select-customercode").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            if (customerId != undefined)
            {
                //获取订单列表
                url = "/api/fba/fbashiporder/?customerId=" + customerId;
            }
            else
            {
                url = "/api/fba/fbashiporder/";
            }

            var columnArray = [
                {
                    data: "id",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "status",
                    render: function (data) {
                        status = data;
                        if (data == "Picking")
                            return "<font color='red'>" + data + "</font>";
                        else if (data == "Process")
                            return "<font color='purple'>" + data + "</font>";
                        else if (data == "Shipped")
                            return "<font color='blue'>" + data + "</font>";
                        else if (data == "Ready")
                            return "<font color='green'>" + data + "</font>";
                        else if (data == "Released")
                            return "<font color='orange'>" + data + "</font>";
                        else
                            return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "shipOrderNumber",
                    render: function (data) {
                        shipOrder = data;
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "customerCode",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "orderType",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "destination",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                //{
                //    data: "pickReference",
                //    render: function (data) {
                //        return "<font>" + data + "</font>";
                //    }
                //},
                {
                    data: "createDate",
                    render: function (data) {
                        return "<font>" + data.substring(0, 10) + "</font>";
                    }
                },
                {
                    data: "createBy",
                    render: function (data) {
                        return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "editBy",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "etsTimeRange",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<text>" + data + "</text>";
                    }
                },
                //{
                //    data: "pickDate",
                //    render: function (data) {
                //        if (data == "1969-12-31T16:00:00")
                //            return "<font color='red'>Unpicked</font>"
                //        else
                //            return "<font>" + data.substring(0, 10) + "</font>";
                //    }
                //},
                //{
                //    data: "pickMan",
                //    render: function (data) {
                //        if (data == "Unassigned")
                //            return "<font color='red'>" + data + "</font>";
                //        else
                //            return "<font>" + data + "</font>";
                //    }
                //},
                {
                    data: "shipDate",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'></font>"
                        else
                            return "<font>" + data.substring(0, 10) + " " +data.substring(11, 16) + "</font>";
                    }
                },
                {
                    data: "shippedBy",
                    render: function (data) {
                        if (data == "Unassigned")
                            return "";
                        else
                            return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "instruction",
                    render: function (data) {
                        if (data == null)
                            return "";
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "totalAmount",
                    render: function (data) {
                        return "<font>$" + data + "</font>";
                    }
                },
                {
                    data: "invoiceStatus",
                    render: function (data) {
                        invoiceStatus = data;
                        return "<text class='text-status'>" + data + "</text>";
                    }
                },
                {
                    data: "closeDate",
                    render: function (data) {
                        if (data == "1900-01-01T00:00:00")
                            return "<font color='red'>Open</font>"
                        else
                            return "<font>" + data.substring(0, 10) + "</font>";
                    }
                },
                {
                    data: "confirmedBy",
                    render: function (data) {
                        if (data == null)
                            return "";
                        else
                            return "<font>" + data + "</font>";
                    }
                },
                //{
                //    data: "shippedBy",
                //    render: function (data) {
                //        return "<font>" + data + "</font>";
                //    }
                //},
                {
                    data: "shipOrderNumber",
                    render: function (data) {
                        return "<button class='btn btn-link btn-file' reference='" + data + "'>Files</button>";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        if (status == "New Created")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-pick' iid='" + data + "' value='Pick' /><input type='button' class='btn btn-link btn-release' iid='" + data + "' value='Release' /><input type='button' class='btn btn-link btn-delete' iid='" + data + "' value='X' />";
                        else if (status == "Picking")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-pick' iid='" + data + "' value='Pick' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' /><input type='button' class='btn btn-link btn-delete' iid='" + data + "' value='X' />";
                        else if (status == "New Order")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' />";
                        else if (status == "Processing")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' />";
                        else if (status == "Ready")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' /><input type='button' class='btn btn-link btn-ready' iid='" + data + "' value='Unready' />";
                        else if (status == "Released")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' /><input type='button' class='btn btn-link btn-release' iid='" + data + "' value='Unrelease' /><input type='button' class='btn btn-link btn-ship' iid='" + data + "' value='Ship' />";
                        else if (status == "Shipped")
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-view' iid='" + data + "' value='View' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' />";
                        else
                            return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' invoicestatus='" + invoiceStatus + "'class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-pick' iid='" + data + "' value='Pick' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' /><input type='button' class='btn btn-link btn-delete' iid='" + data + "' value='X' />";
                    }
                }
            ]
            GetAjaxTable("GET", url, "#table", table, columnArray);

            //点击Pick按钮，转到该运单的拣货页面
            $("#table").on("click", ".btn-pick", function () {
                shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                //var orderType = $(this).parent().parent("tr").children('td').eq(3).children('text').html();
                //var container = $(this).parent().parent("tr").children('td').eq(5).children('font').html();

                $(window.location).attr('href', "/shiporder/fbapickdetail/?shipOrderId=" + shipOrderId);
            });

            $("#table").on("click", ".btn-view", function () {
                var shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                //var orderType = $(this).parent().parent("tr").children('td').eq(3).children('text').html();
                //var container = $(this).parent().parent("tr").children('td').eq(5).children('font').html();

                $(window.location).attr('href', "/shiporder/viewfbapickdetail/?shipOrderId=" + shipOrderId);
            });

            //点击创建新运单按钮，打开新建运单弹窗
            $("#btn-create").click(function () {
                Openiframe(index, ".iframe", "400px", "550px");
            })

            //点击添加按钮，新建一个新的运单
            $("#btn-add").on("click", function () {
                var shipOrderNumber = $("#input-shipordernumber").val();
                var customerCode = $("#select-customercode option:selected").val();
                var orderType = $("#select-ordertype option:selected").val();
                var destination = $("#input-destination").val();
                var pickReference = $("#input-reference").val();
                var bol = $("#input-bol").val();
                var carrier = $("#input-carrier").val();
                var ets = $("#input-ets").val();
                var timeRange = $("#input-range").val();

                if (shipOrderNumber == "" || destination == "" || bol == "" || carrier == "" || ets == "" || customerCode == "NULL") {
                    alert("All required fields are required.");
                }

                else {
                    var obj = {
                        "shipOrderNumber": shipOrderNumber.toString(),
                        "customerCode": customerCode.toString(),
                        "destination": destination.toString(),
                        "pickReference": pickReference.toString(),
                        "orderType": orderType.toString(),
                        "bolNumber": bol.toString(),
                        "carrier": carrier.toString(),
                        "ets": ets.toString()
                    }
                    $.ajax({
                        type: "POST",
                        url: "/api/fba/fbashiporder/",
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            window.location.reload();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            index = layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                layer.close(index);
                            });
                        }
                    });
                }
            });

            //点击费用按钮，进入收费项目登记页面
            $("#table").on("click", ".btn-fee", function () {

                shipOrderId = shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                var tpStatus = $(this).parent().parent("tr").children('td').eq(12).children('text').html();

                //if ($(this).attr('invoicestatus') == "Closed")
                if (tpStatus == "Closed")
                    $(window.location).attr('href', '/fba/FBAinvoiceDetailReadOnly/?reference=' + $(this).attr('reference') + "&invoiceType=ShipOrder" + "&invoiceStatus=" + $(this).attr('invoicestatus') + "&shipOrderId=" + shipOrderId);
                else
                    $(window.location).attr('href', '/fba/FBAinvoiceDetail/?reference=' + $(this).attr('reference') + "&invoiceType=ShipOrder" + "&invoiceStatus=" + $(this).attr('invoicestatus') + "&shipOrderId=" + shipOrderId);

            });

            //点击BOL按钮，下载有内容的BOL
            $("#table").on("click", ".btn-bol", function () {
                var shipOrderId = $(this).attr('iid');
                url = "/api/fba/fbashipOrder/?shipOrderId=" + shipOrderId;
                SendUploadAjaxMethodAndDownloadFile("GET", url, {});
            });

            //点击Ready按钮，将运单标记为准备
            $("#table").on("click", ".btn-ready", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbashiporder/?shipOrderId=" + id + "&shipDate=1992-11-17&operation=ChangeStatus";
                SendAjaxMethod("PUT", url, {});
            });

            //点击Ship按钮，将运单标记为shipped
            $("#table").on("click", ".btn-ship", function () {
                var button = $(this);
                shipOrderId = button.attr('iid');

                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["400px", "150px"],
                    content: $(".iframe-ship")
                });
            });

            //填好ship日期后，点击确认发货按钮
            $("#btn-ship").on("click", function () {

                layer.close(index);
                var shipDate = $("#input-shipdate").val();

                if (shipDate != "") {
                    bootbox.confirm("Are you want to ship this order? This operation is unreversed.", function (result) {
                        if (result) {
                            url = "/api/fba/fbashiporder/?shipOrderId=" + shipOrderId + "&shipDate=" + shipDate + "&operation=ShipOrder";
                            SendAjaxMethod("PUT", url, {});
                        }
                    });
                }
                else {
                    alert("Ship Date cannot be empty.");
                }
            });

            //Remove Ship Order
            $("#table").on("click", ".btn-delete", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbashiporder/?shipOrderId=" + id; 
                SendAjaxMethod("DELETE", url, {});
            });

            //点击文件按钮，打开订单相关文件管理页面
            $("#table").on("click", ".btn-file", function () {
                $(window.location).attr('href', "/EFolder/FBAEfolder/?reference=" + $(this).attr('reference') + "&orderType=ShipOrder");
            });

            //临时机关，点击invoice Status可以将状态临时改成Await开放状态
            $("#table").on("click", ".text-status", function () {
                $(this).html("Await");
            });

            //点击任何按钮，都将searchBar中的内容保存到url中但不刷新页面
            $("#table").on("click", ".btn", function () {
                tableSearch = $("#table_filter").children('label').children('input').val();
                if (customerId != undefined)
                {
                    window.history.pushState({}, {}, "/ShipOrder/FBAShipOrder/?customerId=" + customerId + "&search=" + tableSearch);
                }
                else
                {
                    window.history.pushState({}, {}, "/ShipOrder/FBAShipOrder/?search=" + tableSearch);
                }
            });

            function GetAjaxTable(methodType, url, tableId, table, columsArray) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        if (table) {
                            table.destroy();
                        }

                        table = $(tableId).DataTable({
                            data: data,
                            destroy: true,
                            scrollX: true,
                            order: [[0, "desc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: columsArray
                        });

                        var tableSearch = $("#table_filter").children('label').children('input');

                        if (searchBar != undefined) {
                            tableSearch.val(searchBar);
                            table.search(searchBar).draw();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function SendAjaxMethod(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!", function () {
                            window.location.reload();
                        })
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function ReturnDownableMenu(id)
            {
                return "<div class='downablemenu'><ul><li>Operation Menu<ul><li><input type='button' class='btn btn-link btn-pick' iid='" + id + "' value='Pick' /></li><li><input type='button' class='btn btn-link btn-download' iid='" + id + "' value='Download BOL' /></li></ul></li></ul></div>"
            }

            function Openiframe(index, elementId, width, height) {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: [width, height],
                    content: $(elementId)
                });
            };

            function SendUploadAjaxMethodAndDownloadFile(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: false,
                    cache: false,
                    processData: false,
                    data: obj,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success! The BOL will be downloaded automatically.");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fullPath=' + encodeURIComponent(data));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
