
@{
    ViewBag.Title = "FBAShipOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FBA Sytem</h1>
<h2>Ship Order Page</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div id="div-create">
        <button id="btn-create" class="btn btn-primary">Created a new ship order</button>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th style="width:39px">Id</th>
                    <th>Ship Order #</th>
                    <th>Customer Code</th>
                    <th>Order Type</th>
                    <th>Destination</th>
                    <th>Pick Ref.</th>
                    <th>Create date</th>
                    <th>Create By</th>
                    <th>Status</th>
                    <th>Invoice Status</th>
                    <th>Shipp Date</th>
                    <th style="width:250px">Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Ship Order Number: </text><input id='input-shipordernumber' style='width:170px;margin-top:20px' class='input-sm' placeholder='Ship Order Number' /><br />
        <text>Customer Code: </text><select id='select-customercode' class='select-vendor' style='width:170px;height:30px;margin-top:20px' required='required'></select><br />
        <text>Select Order Type: </text><select id='select-ordertype' style='width:170px;height:30px;margin-top:20px' required='required'>
            <option value='Standard'>Standard</option>
            <option value='Ecommerce'>Ecommerce</option>
        </select><br />
        <text>Destination: </text><input id='input-destination' style='width:170px;margin-top:20px' class='input-sm' placeholder='Destination' /><br />
        <text>Pick Reference: </text><input id='input-reference' style='width:170px;margin-top:20px' class='input-sm' placeholder='Container # (optional)' /><br />
        <text>BOL Number: </text><input id='input-bol' style='width:170px;margin-top:20px' class='input-sm' placeholder='Bill of landing #' /><br />
        <text>Carrier: </text><input id='input-carrier' style='width:170px;margin-top:20px' class='input-sm' placeholder='Carrier Name' /><br />
        <text>ETS: </text><input id='input-ets' type="date" style='width:170px;margin-top:20px' class='input-sm' /><br />
        <button id="btn-add" class='btn btn-primary' style="margin-top:20px">New ship order</button>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var index;
            var table;
            var url;
            var shipOrder;
            var customerId = getUrlParameter('customerId');

            $(".iframe").hide();

            //动态获取Customer数据
            $.ajax({
                type: "GET",
                url: "/api/uppervendor/?departmentCode=FBA",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#select-customercode").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            if (customerId != undefined)
            {
                //获取订单列表
                url = "/api/fba/fbashiporder/?customerId=" + customerId;
            }
            else
            {
                url = "/api/fba/fbashiporder/";
            }

            var columnArray = [
                {
                    data: "id",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "shipOrderNumber",
                    render: function (data) {
                        shipOrder = data;
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "customerCode",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "orderType",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "destination",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "pickReference",
                    render: function (data) {
                        return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "createDate",
                    render: function (data) {
                        return "<font>" + data.substring(0, 10) + "</font>";
                    }
                },
                {
                    data: "createBy",
                    render: function (data) {
                        return "<font>" + data + "</font>";
                    }
                },
                //{
                //    data: "pickDate",
                //    render: function (data) {
                //        if (data == "1969-12-31T16:00:00")
                //            return "<font color='red'>Unpicked</font>"
                //        else
                //            return "<font>" + data.substring(0, 10) + "</font>";
                //    }
                //},
                //{
                //    data: "pickMan",
                //    render: function (data) {
                //        if (data == "Unassigned")
                //            return "<font color='red'>" + data + "</font>";
                //        else
                //            return "<font>" + data + "</font>";
                //    }
                //},
                {
                    data: "status",
                    render: function (data) {
                        if (data == "Picking")
                            return "<font color='red'>" + data + "</font>";
                        else if (data == "Shipped")
                            return "<font color='blue'>" + data + "</font>";
                        else if (data == "Ready")
                            return "<font color='green'>" + data + "</font>";
                        else
                            return "<font color='orange'>" + data + "</font>";
                    }
                },
                {
                    data: "invoiceStatus",
                    render: function (data) {
                        return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "shipDate",
                    render: function (data) {
                        if (data == "1970-01-01T00:00:00")
                            return "<font color='red'>Unshipped</font>"
                        else
                            return "<font>" + data.substring(0, 10) + "</font>";
                    }
                },
                //{
                //    data: "shippedBy",
                //    render: function (data) {
                //        return "<font>" + data + "</font>";
                //    }
                //},
                {
                    data: "id",
                    render: function (data) {
                        return "<button reference='" + shipOrder + "' iid='" + data + "' customerid='" + customerId + "' class='btn btn-link btn-fee'>Fee</button><input type='button' class='btn btn-link btn-pick' iid='" + data + "' value='Pick' /><input type='button' class='btn btn-link btn-bol' iid='" + data + "' value='BOL' /><input type='button' class='btn btn-link btn-ready' iid='" + data + "' value='Ready' /><input type='button' class='btn btn-link btn-ship' iid='" + data + "' value='Ship' /><input type='button' class='btn btn-link btn-delete' iid='" + data + "' value='X' />";
                    }
                }
            ]
            GetAjaxTable("GET", url, "#table", table, columnArray);

            //点击Pick按钮，转到该运单的拣货页面
            $("#table").on("click", ".btn-pick", function () {
                var shipOrderId = $(this).parent().parent("tr").children('td').eq(0).children('text').html();
                var orderType = $(this).parent().parent("tr").children('td').eq(3).children('text').html();
                //var container = $(this).parent().parent("tr").children('td').eq(5).children('font').html();

                $(window.location).attr('href', "/shiporder/fbapickdetail/?shipOrderId=" + shipOrderId + "&orderType=" + orderType);
            });

            //点击创建新运单按钮，打开新建运单弹窗
            $("#btn-create").click(function () {
                Openiframe(index, ".iframe", "400px", "550px");
            })

            //点击添加按钮，新建一个新的运单
            $("#btn-add").on("click", function () {
                var shipOrderNumber = $("#input-shipordernumber").val();
                var customerCode = $("#select-customercode option:selected").val();
                var orderType = $("#select-ordertype option:selected").val();
                var destination = $("#input-destination").val();
                var pickReference = $("#input-reference").val();
                var bol = $("#input-bol").val();
                var carrier = $("#input-carrier").val();
                var ets = $("#input-ets").val();

                if (shipOrderNumber == "" || destination == "" || bol == "" || carrier == "" || ets == "") {
                    alert("All required fields are required.");
                }

                else {
                    alert(orderType);
                    var obj = {
                        "shipOrderNumber": shipOrderNumber.toString(),
                        "customerCode": customerCode.toString(),
                        "destination": destination.toString(),
                        "pickReference": pickReference.toString(),
                        "orderType": orderType.toString(),
                        "bolNumber": bol.toString(),
                        "carrier": carrier.toString(),
                        "ets": ets.toString()
                    }
                    $.ajax({
                        type: "POST",
                        url: "/api/fba/fbashiporder/",
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            window.location.reload();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            bootbox.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                window.location.reload();
                            });
                        }
                    });
                }
            });

            //点击费用按钮，进入收费项目登记页面
            $("#table").on("click", ".btn-fee", function () {
                $(window.location).attr('href', '/fba/FBAinvoiceDetail/?reference=' + $(this).attr('reference') + "&invoiceType=ShipOrder");
            })

            //点击BOL按钮，下载有内容的BOL
            $("#table").on("click", ".btn-bol", function () {
                var shipOrderId = $(this).attr('iid');
                url = "/api/fba/fbashipOrder/?shipOrderId=" + shipOrderId;
                SendUploadAjaxMethodAndDownloadFile("GET", url, {});
            });

            //点击Ready按钮，将运单标记为准备
            $("#table").on("click", ".btn-ready", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbashiporder/?shipOrderId=" + id + "&operation=ChangeStatus";
                SendAjaxMethod("PUT", url, {});
            });

            //点击Ship按钮，将运单标记为shipped
            $("#table").on("click", ".btn-ship", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbashiporder/?shipOrderId=" + id + "&operation=ShipOrder";
                SendAjaxMethod("PUT", url, {});
            });

            //Remove Ship Order
            $("#table").on("click", ".btn-delete", function () {
                var id = $(this).attr('iid');

                url = "/api/fba/fbashiporder/?shipOrderId=" + id; 
                SendAjaxMethod("DELETE", url, {});
            });

            function GetAjaxTable(methodType, url, tableId, table, columsArray) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        if (table) {
                            table.destroy();
                        }

                        table = $(tableId).DataTable({
                            data: data,
                            destroy: true,
                            //scrollX: true,
                            order: [[0, "desc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: columsArray
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function SendAjaxMethod(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!", function () {
                            window.location.reload();
                        })
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function ReturnDownableMenu(id)
            {
                return "<div class='downablemenu'><ul><li>Operation Menu<ul><li><input type='button' class='btn btn-link btn-pick' iid='" + id + "' value='Pick' /></li><li><input type='button' class='btn btn-link btn-download' iid='" + id + "' value='Download BOL' /></li></ul></li></ul></div>"
            }

            function Openiframe(index, elementId, width, height) {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: [width, height],
                    content: $(elementId)
                });
            };

            function SendUploadAjaxMethodAndDownloadFile(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: false,
                    cache: false,
                    processData: false,
                    data: obj,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success! The BOL will be downloaded automatically.");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fileName=' + data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
