
@{
    ViewBag.Title = "FBAEFolder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EFolder System</h1>
<h2>FBA EFolder</h2>

<script src="~/Scripts/dropzone.js"></script>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>File Name</th>
                    <th>Upload Date</th>
                    <th>Upload By</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone"></form>
@section scripts
{
    <script>
        $(document).ready(function () {

            var index;
            var table;
            var url;

            var reference = getUrlParameter('reference');
            var orderType = getUrlParameter('orderType');

            url = "/api/fba/FBAEfolder/?reference=" + reference + "&orderType=" + orderType;
            var columsArray = [
                {
                    data: "id",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "fileName",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "uploadDate",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "uploadBy",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        return "<button class='btn btn-link btn-download' iid='" + id + "'>Download</button><button class='btn btn-link btn-delete' iid='" + id + "'>Delete</button>"
                    }
                }
            ];

            GetAjaxTable("GET", url, "#table", table, columsArray);

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            function GetAjaxTable(methodType, url, tableId, table, columsArray) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        if (table) {
                            table.destroy();
                        }

                        table = $(tableId).DataTable({
                            data: data,
                            destroy: true,
                            //scrollX: true,
                            order: [[1, "asc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: columsArray
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function SendAjaxMethod(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success!", function () {
                            window.location.reload();
                        })
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function SendAjaxMethodWithoutReloadPage(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        container = $("#input-inventory-container").val();
                        if (container != "") {
                            GetPickInventoryTable(container, tablePallet, tableCarton);
                            GetPickDetailTable(shipOrderId, table, orderType);
                        }
                        GetPickDetailTable(shipOrderId, table, orderType);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            function GetPickInventoryTable(container, sku, amzRef, warehouseCode, tablePallet, tableCarton) {

                url = "/api/fba/fbainventory/?container=" + container + "&sku=" + sku + "&amzRef=" + amzRef + "&warehouseCode=" + warehouseCode +"&inventoryType=Pallet";
                var palletsColumnArray = [
                        {
                            data: "id",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "status",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "container",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "shipmentId",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "amzRefId",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "palletSize",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "warehouseCode",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "grossWeightPerPlt",
                            render: function (data) {
                                return "<font color='green'>" + data + "</font>";
                            }
                        },
                        {
                            data: "cbmPerPlt",
                            render: function (data) {
                                return "<font color='green'>" + data + "</font>";
                            }
                        },
                        {
                            data: "ctnsPerPlt",
                            render: function (data) {
                                return "<font color='green'>" + data + "</font>";
                            }
                        },
                        {
                            data: "actualQuantity",
                            render: function (data) {
                                return "<font color='orange'>" + data + "</font>";
                            }
                        },
                        {
                            data: "actualPlts",
                            render: function (data) {
                                return "<font color='orange'>" + data + "</font>";
                            }
                        },
                        {
                            data: "availablePlts",
                            render: function (data) {
                                return "<font color='green'>" + data + "</font>";
                            }
                        },
                        {
                            data: "location",
                            render: function (data) {
                                return "<font color='orange'>" + data + "</font>";
                            }
                        },
                        {
                            data: "id",
                            render: function (data) {
                                return "<input type='button' class='btn btn-link btn-inventory-pick' inventorytype='Pallet' iid='" + data + "' value='Pick' /><input type='button' class='btn btn-link btn-inventory-allpick' inventorytype='Pallet' iid='" + data + "' value='All Pick' />";
                            }
                        }
                ]
                GetAjaxTable("GET", url, "#table-pallet", tablePallet, palletsColumnArray);

                url = "/api/fba/fbainventory/?container=" + container + "&sku=" + sku + "&amzRef=" + amzRef + "&warehouseCode=" + warehouseCode + "&inventoryType=Carton";
                var cartonsColumnArray = [
                    {
                        data: "id",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "status",
                        render: function (data) {
                            status = data;
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "container",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "shipmentId",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "amzRefId",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "warehouseCode",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "grossWeightPerCtn",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "cbmPerCtn",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualQuantity",
                        render: function (data) {
                            return "<font color='orange'>" + data + "</font>";
                        }
                    },
                    {
                        data: "availableCtns",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "location",
                        render: function (data) {
                            return "<font color='orange'>" + data + "</font>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            if (status != "InPallet")
                                return "<input type='button' class='btn btn-link btn-inventory-allpick' inventorytype='Carton' iid='" + data + "' locationtype='Carton' value='All Pick' />";
                            else
                                return "";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            if (status != "InPallet")
                                return "<input type='number' class='input-sm input-pickcarton' inventorytype='Carton' iid='" + data + "' locationtype='Carton' placeholder='Input ctn #' />";
                            else
                                return "";
                        }
                    },
                ]
                GetAjaxTable("GET", url, "#table-carton", tableCarton, cartonsColumnArray);
            };

            function GetPickDetailTable(shipOrderId, table) {
                url = "/api/fba/fbapickdetail/?shipOrderId=" + shipOrderId;
                var columnArray = [
                    {
                        data: "id",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "status",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "grandNumber",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "container",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "orderType",
                        render: function (data) {
                            currentType = data;
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "shipmentId",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "amzRefId",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "size",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "howToDeliver",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "warehouseCode",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "actualGrossWeight",
                        render: function (data) {
                            return "<font>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualCBM",
                        render: function (data) {
                            return "<font>" + data + "</font>";
                        }
                    },
                    {
                        data: "ctnsPerPlt",
                        render: function (data) {
                            return "<font>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualQuantity",
                        render: function (data) {
                            return "<font>" + data + "</font>";
                        }
                    },
                    {
                        data: "pltsFromInventory",
                        render: function (data) {
                            return "<font>" + data + "</font>";
                        }
                    },
                    {
                        data: "newPlts",
                        render: function (data) {
                            return "<font>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualPlts",
                        render: function (data) {
                            return "<font>" + data + "</font>";
                        }
                    },
                    {
                        data: "location",
                        render: function (data) {
                            return "<font>" + data + "</font>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            if (currentType == "Standard")
                                return "<button class='btn btn-link btn-view' iid='" + data + "'>View</button>";
                            else
                                return "";
                        }
                    },
                ];
                GetAjaxTable("GET", url, "#table", table, columnArray);
            }

            function Openiframe(index, elementId, width, height) {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: [width, height],
                    content: $(elementId)
                });
            };

            function SendUploadAjaxMethodAndDownloadFile(methodType, url, obj) {
                $.ajax({
                    type: methodType,
                    url: url,
                    contentType: false,
                    cache: false,
                    processData: false,
                    data: obj,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 3,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.alert("Success! The BOL will be downloaded automatically.");
                        $(window.location).attr('href', '/api/fba/downloadfile/?fileName=' + data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            };

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}

