
@{
    ViewBag.Title = "AdjustmentDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Adjustment Detail</h2>

<div>
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Purchase Order</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Adjust</th>
                    <th>Adjust Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table;

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            var poid = getUrlParameter('poid');

            $.ajax({
                type: "GET",
                url: "/api/adjustmentDetail/?poid=" + poid,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if(table)
                    {
                        table.destroy();
                    }
                    table = $("#table").DataTable({
                        destroy: true,
                        data: data,
                        columns: [
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "size",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "adjustment",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "adjustDate",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            }
                        ]
                    });
                },
                error: function () {
                    alert("error!");
                }
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });

        });
    </script>
}