
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Pre-receive Order Overview</h2>

<div class="maincontainer">
    <div>
        <input id="create1" type="button" class="btn btn-group" value="Creat An Empty Work Order" />
        <input id="freecountrymenu" type="button" class="btn btn-primary" value="Free Country Manu" />
        <input id="silkiconmenu" type="button" class="btn btn-info" value="Silk Icon Manu" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Customer Name</th>
                    <th>Created Date</th>
                    <th>Created By</th>
                    <th style="width:95px">Container#</th>
                    <th>Fcs Ctns</th>
                    <th>Rcp Ctns</th>
                    <th>Fcs Pcs</th>
                    <th>Rcp Pcs</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="iframe">
    <div>
        <input id="upload2" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="Upload SILKICON" />
    </div>
    <div>
        <input id="uploadfc" type="button" class="btn btn-default" value="Upload FC" />
    </div>
</div>
<div class="iframe-freecountry">
    <div style="margin-top:10px;text-align:center">
        <input type="button" class="btn btn-primary btn-shiporder" value="Manage ship order" /><br />
        <input id="btn-search" type="button" class="btn btn-primary" value="Search Free Country Inventory" style="margin-top:5px" />
        <input id="btn-pl" type="button" class="btn btn-primary" value="Search Free Country Packing List" style="margin-top:5px" />
    </div>
</div>
<div class="iframe-silkicon">
    <div style="margin-top:15px;text-align:center">
        <input type="button" class="btn btn-info btn-shiporder" value="Manage ship order" /><br />
        <a href="/thirdpartylogistics/generallocmanagement/">
            <input style="margin-top:5px" type="button" class="btn btn-info btn-managelocation" value="Manage general location" />
        </a>
        <a href="/ThirdPartyLogistics/PermanentLocManagement/">
            <input style="margin-top:5px" id="btn-location" type="button" class="btn btn-info" value="Manage Permanent Location" />
        </a>
        <a href="/ThirdPartyLogistics/PurchaseOrderManagement">
            <input style="margin-top:5px" id="btn-po" type="button" class="btn btn-info" value="Manage Purchase Order" />
        </a>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var preId = JSON.stringify(window.location.search.substr(1));
            var index;
            var customer;
            var quantity;

            $(".iframe").hide();
            $(".iframe-freecountry").hide();
            $(".iframe-silkicon").hide();

            $("#table").DataTable({
                ajax: {
                    url: "/api/Inventory",
                    dataSrc: ""
                },
                order: [[0, "desc"]],
                scrollY: "600px",
                //scrollX: true,
                scrollCollapse: true,
                iDisplayLength: 100,
                columns: [
                    {
                        data: "id",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "customerName",
                        render: function (data) {
                            customer = data;
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "creatDate",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "operator",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "containerNumber",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "totalCartons",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualReceivedCtns",
                        render: function (data) {
                            return "<font color='blue'>" + data + "</font>";
                        }
                    },
                    {
                        data: "totalPcs",
                        render: function (data) {
                            quantity = data;
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualReceivedPcs",
                        render: function (data) {
                            return "<font color='blue'>" + data + "</font>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            if (customer == "SILK-ICON")
                                return "<a href='/ThirdPartyLogistics/SIPurchaseOrderOverview/?" + data + "'><button class='btn btn-info'>Manage</button></a><button id='" + data + "' class='btn btn-danger btn-delete'>Delete</button>";
                            else
                                return "<a href='/ThirdPartyLogistics/FCPurchaseOrderOverview/?preid=" + data + "'><button class='btn btn-info'>Manage</button></a><button id='" + data + "' class='btn btn-danger btn-delete'>Delete</button>";
                        }
                    }
                ]
            });

            $("#create1").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/api/Index",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        alert("New Pre-receive Order created success!");
                        window.location.reload();
                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            })

            $("#uploadfile").on("click", function () {
                var formData = new FormData();
                var files = $("#upload2").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/ThirdPartyLogisticsApi",
                    data: formData,
                    beforeSend: function () {
                        layer.close(index);
                        layer.msg('Extracting files...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function () {
                        layer.alert("Extract successed!", function () {
                            location.reload();
                        });
                    },
                    error: function () {
                        layer.alert("An error occured on the server!");
                    }
                });
                $(".iframe").hide();
            });

            $("#uploadfc").on("click", function () {
                var formData = new FormData();
                var files = $("#upload2").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/fcpurchaseorderoverview/",
                    data: formData,
                    beforeSend: function () {
                        layer.close(index);
                        layer.msg('Extracting files...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function () {
                        layer.alert("Extract successed!", function () {
                            location.reload();
                        });
                    },
                    error: function () {
                        layer.alert("An error occured! Please check the file you uploaded matched the unified format.");
                    }
                });
                $(".iframe").hide();
            });

            $("#btn-delete").on("click", function () {
                bootbox.confirm("Are you sure to delete ALL records? All the records will be deleted and this operation is not reversible.", function (result) {
                    if (result) {
                        $.ajax({
                            contentType: false,
                            cache: false,
                            processData: false,
                            type: "DELETE",
                            url: "/api/Inventory",
                            beforeSend: function () {
                                layer.msg('Deleting...', {
                                    icon: 1,
                                    shade: 0.01,
                                    time: 99 * 1000
                                });;
                            },
                            success: function () {
                                layer.alert("Delete successed!", function () {
                                    location.reload();
                                });
                            },
                            error: function () {
                                layer.alert("Error!");
                            }
                        });
                    }
                });
            });

            $("#table").on("click", ".btn-delete", function () {
                var button = $(this);
                var id = button.attr('id');
                var customer = button.parent().parent("tr").children('td').eq(1).children('text').html();
                var url;

                if (customer != "SILK-ICON")
                {
                    url = "/api/fcpurchaseOrderOverview/" + id;

                    bootbox.confirm("Are you sure to delete ALL records? All the records will be deleted and this operation is not reversible.", function (result) {
                        if (result) {
                            $.ajax({
                                contentType: false,
                                cache: false,
                                processData: false,
                                type: "DELETE",
                                url: url,
                                beforeSend: function () {
                                    layer.msg('Deleting...', {
                                        icon: 1,
                                        shade: 0.01,
                                        time: 99 * 1000
                                    });
                                },
                                success: function () {
                                    layer.alert("Delete successed!", function () {
                                        location.reload();
                                    });
                                },
                                error: function () {
                                    layer.alert("Error!");
                                }
                            });
                        }
                    });
                }
                else
                {
                    alert("This feature did not finish yet.");
                }
            });

            //打开FreeCountry菜单弹窗
            $("#freecountrymenu").on("click", function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["20%", "20%"],
                    content: $(".iframe-freecountry")
                });
            });

            //打开SilkIcon菜单弹窗
            $("#silkiconmenu").on("click", function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["20%", "20%"],
                    content: $(".iframe-silkicon")
                });
            });

            $("#btn-search").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/InventorySearch/');
            });

            $("#btn-pl").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/PackingListSearch/');
            });

            $(".btn-shiporder").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/shiporder/');
            });

        });

    </script>
}
