
@{
    ViewBag.Title = "AdminPurchaseOrderOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Purchase Order Overview</h2>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
        <input type="button" class="btn btn-primary btn-upload" value="Upload Packing List" />
        <input type="button" class="btn btn-primary btn-download" value="Download Packing List Template" />
    </div>
    <div id="div-bulk">
        <button class="btn btn-primary btn-bulk">Create Bulk PO Summary</button>
    </div>
    <div>
        <input id="btn-allocate" type="button" class="btn btn-info" value="Allocate location" />
        <input id="btn-location" type="button" class="btn btn-info" value="View inventory" />
        @*<input id="btn-plmanage" type="button" class="btn btn-default btn-info" value="Pick & Ship" />*@
        <input id="btn-rcvall" type="button" class="btn btn-default btn-danger" value="Receiving all without problem." />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th><input id="select-all" type="checkbox" value="0" /></th>
                    <th>Container</th>
                    <th>PO</th>
                    <th>Style</th>
                    <th>Order Type</th>
                    <th>PO Line</th>
                    <th>Customer</th>
                    <th>Quantity</th>
                    <th>Received Pcs</th>
                    <th>Cartons</th>
                    <th>Received Ctns</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div>
        <input id="container" class="input-lg" placeholder="Assign Contrainer number" /> <button id="btn-confirm" class="btn btn-info">Comfirm</button>
    </div>
</div>
<div class="iframe">
    <div>
        <input id="upload2" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="Upload Silk-Icon Replenishment PL" />
    </div>
    <div>
        <input id="uploadregularfile" type="button" class="btn btn-default" value="Upload Silk-Icon Regular PL" />
    </div>
    <div>
        <input id="uploadfc" type="button" class="btn btn-default" value="Upload Free Country PL" />
    </div>
</div>
<div class="iframe-download">
    <div>
        <input id="download-silkicon" type="button" class="btn btn-default" value="Download SI Packing List Template" />
    </div>
    <div>
        <input id="download-freecountry" type="button" class="btn btn-default" value="Download FC Packing List Template" />
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            $(".iframe").hide();
            $(".iframe-download").hide();

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            //从地址栏获取参数
            var preId = getUrlParameter('preid');

            var urlstring = "/api/fcpurchaseorderoverview/" + preId;

            $("#table").DataTable({
                ajax: {
                    url: urlstring,
                    dataSrc: ""
                },
                scrollY: "600px",
                iDisplayLength: 100,
                scrollCollapse: true,
                columns: [
                    {
                        data: "id",
                        render: function (data) {
                            return "<input name='selected' type='checkbox' class='cb-selected' value='"
                                        + data + "' />";
                        }
                    },
                    {
                        data: "container",
                        render: function (data) {
                            return "<a href='/ThirdPartyLogistics/ReceivingReport/?preid=" + preId + "&container=" + data + "'><button class='btn btn-link btn-report'>" + data + "</button></a><br>";
                        }
                    },
                    {
                        data: "purchaseOrder",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "style",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "orderType",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "poLine",
                        render: function (data) {
                            return "<font'>" + data + "</font>";
                        }
                    },
                    {
                        data: "customer",
                        render: function (data) {
                            return "<font color='blue'>" + data + "</font>";
                        }
                    },
                    {
                        data: "quantity",
                        render: function (data) {
                            return "<font color='red'>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualPcs",
                        render: function (data) {
                            return "<font color='red'>" + data + "</font>";
                        }
                    },
                    {
                        data: "cartons",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualCtns",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/ThirdPartyLogistics/fcRegularCartonDetail/?" + data + "'><button class='btn btn-link'>Receiving</button></a><button id='" + data + "' class='btn btn-link btn-delete'>Delete</button><br>"
                        }
                    }
                ]
            });

            //勾选全选选项，则选择所有对象
            $("#select-all").on("click", function () {
                if ($("#select-all").is(":checked")) {
                    $(".cb-selected").prop("checked", true);
                }
                else {
                    $(".cb-selected").prop("checked", false);
                }
            });

            //批量指定货柜号按钮
            $("#btn-confirm").on("click", function () {
                var button = $(this);
                var arr = new Array();
                var container = button.prev().val().toString();

                //将所有被选中的CheckBox的对象的id放到数组中
                $("input:checkbox[name='selected']:checked").each(function (i) {
                    var val = 0;
                    val = $(this).val();
                    arr.push(val);
                });

                if (container == "")
                {
                    alert("Please enter container number!");
                }
                else
                {
                    var obj = {
                        "arr": arr,
                        "container": container,
                        "preId": preId
                    };

                    //指定输入框中的值到所有被选中的对象的Container属性中
                    $.ajax({
                        type: "PUT",
                        url: "/api/fcpurchaseorderoverview/",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(obj),
                        dataType: "json",
                        success: function (data) {
                            alert("Update success!");
                            location.reload();
                        },
                        error: function () {
                            alert("An error occured!");
                        }
                    });
                }
            });

            $("#btn-allocate").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/FCRegularLocationAllocating/?preid=' + preId.toString());
            });

            $("#btn-location").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/FCRegularLocationDetail/?preid=' + preId.toString());
            });

            $("#btn-plmanage").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/PickingListManagement/?preid=' + preId.toString());
            });

            //全装箱单正常收货
            $("#btn-rcvall").on("click", function () {
                $.ajax({
                    type: "PUT",
                    url: "/api/fcreceivingreport/" + preId,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        alert("Success!");
                        window.location.reload();
                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            });

            //打开上传装箱单类型弹窗
            $(".btn-upload").on("click", function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["20%", "20%"],
                    content: $(".iframe")
                });
            });

            //执行上传SILK-ICON的补货订单装箱单
            $("#uploadfile").on("click", function () {
                var formData = new FormData();
                var files = $("#upload2").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/ThirdPartyLogisticsApi/" + preId,
                    data: formData,
                    beforeSend: function () {
                        layer.close(index);
                        layer.msg('Extracting files...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function () {
                        layer.alert("Extract successed!", function () {
                            location.reload();
                        });
                    },
                    error: function () {
                        layer.alert("An error occured on the server!");
                    }
                });
                $(".iframe").hide();
            });

            //执行上传SILK-ICON的Regular订单装箱单
            $("#uploadregularfile").on("click", function () {
                var formData = new FormData();
                var files = $("#upload2").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/SIRegularPL/" + preId,
                    data: formData,
                    beforeSend: function () {
                        layer.close(index);
                        layer.msg('Extracting files...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function () {
                        layer.alert("Extract successed!", function () {
                            location.reload();
                        });
                    },
                    error: function () {
                        layer.alert("An error occured on the server!");
                    }
                });
                $(".iframe").hide();
            });

            //执行上传FC订单的装箱单
            $("#uploadfc").on("click", function () {
                var formData = new FormData();
                var files = $("#upload2").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/fcpurchaseorderoverview/" + preId,
                    data: formData,
                    beforeSend: function () {
                        layer.close(index);
                        layer.msg('Extracting files...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function () {
                        layer.alert("Extract successed!", function () {
                            location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage + " This current uploaded fragmentary packing list will be deleted automatically.", function () {
                            $.ajax({
                                contentType: false,
                                cache: false,
                                processData: false,
                                type: "DELETE",
                                url: "/api/index/" + preId,
                                beforeSend: function () {
                                    layer.msg('Deleting...', {
                                        icon: 1,
                                        shade: 0.01,
                                        time: 99 * 1000
                                    });
                                },
                                success: function () {
                                    layer.alert("The current uploaded packing list has been deleted. Browser will go back to home page of 3rd Party Logistics.", function () {
                                        window.location.reload();
                                    });
                                },
                                error: function () {
                                    layer.alert("Delete failed. Please go back to index and delete this packing list manually. Browser will go back to home page of 3rd Party Logistics.", function () {
                                        window.history.back(-1);
                                    });
                                }
                            });
                        });
                    }
                });
                $(".iframe").hide();
            });

            //删除新加的散货PO
            $("#table").on("click", ".btn-delete", function () {
                var button = $(this);
                //var fcsPcs = button.parent().parent("tr").children('td').eq(7).children('font').html();
                //var isBulkPo = fcsPcs == 0 ? true : false;

                $.ajax({
                    type: "DELETE",
                    url: "/api/fcreceivingreport/" + button.attr('id'),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        alert("Delete success!");
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.responseJSON.exceptionMessage);
                        window.location.reload();
                    }
                });
                
            });

            //点击添加散货PO Summary，出现一系列表单
            $("#div-bulk").on("click", ".btn-bulk", function () {
                var button = $(this);
                button.next().remove();
                button.replaceWith("<div><input id='input-po' style='width:170px' class='input-sm' placeholder='Cut PO' /><input id='input-style' style='width:170px' class='input-sm' placeholder='Style' /><input id='input-ordertype' style='width:250px' class='input-sm' placeholder='Order Type: Solid/In&Out/Replenishment' /><input id='input-poline' style='width:170px' class='input-sm' placeholder='PO Line' /><input id='input-customer' style='width:170px' class='input-sm' placeholder='Customer' /><button class='btn btn-primary btn-update'>Add</button><div>");
            });

            //点击Add按钮，添加数据到数据库，并且关闭刚才出现的散货表单，重新出现“添加散货”按钮，并出现一个撤销按钮
            $("#div-bulk").on("click", ".btn-update", function () {
                var purchaseOrder = $("#input-po").val();
                var style = $("#input-style").val();
                var orderType = $("#input-ordertype").val();
                var poLine = $("#input-poline").val();
                var customer = $("#input-customer").val();

                if (purchaseOrder == "" || style == "" || orderType == "" || poLine == "" || customer == "") {
                    alert("All fields are required.");
                }
                else {
                    var obj = {
                        "preId": preId,
                        "purchaseOrder": purchaseOrder.toString(),
                        "style": style.toString(),
                        "orderType": orderType.toString(),
                        "pOLine": poLine,
                        "customer": customer.toString()
                    };

                    $.ajax({
                        type: "POST",
                        url: "/api/bulkposummary/",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(obj),
                        dataType: "json",
                        success: function () {
                            alert("Add success!");
                            window.location.reload();
                        },
                        error: function () {
                            alert("Add failed.");
                        }
                    });
                }
            });

            //打开下载装箱单模板弹窗
            $(".btn-download").on("click", function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["20%", "20%"],
                    content: $(".iframe-download")
                });
            });

            //下载FC的PL模板
            $("#download-freecountry").on("click", function () {
                $(window.location).attr('href', '/api/fcpurchaseorderoverview/?customer=' + "FreeCountry");
                $(".iframe-template").hide();
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
