
@{
    ViewBag.Title = "CartonDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Carton Details</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>PO#</th>
                    <th>Style#</th>
                    <th>Color</th>
                    <th>C/NO From</th>
                    <th>C/NO To</th>
                    <th>Run Code</th>
                    <th>Dimension</th>
                    <th>G.W./CTN</th>
                    <th>N.W./CTN</th>
                    <th>Location</th>
                    <th>Forecasst Cartons</th>
                    <th>Receipt Cartons</th>
                    <th>Available Cartons</th>
                    <th>Arrival Cartons</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    @*<div>
        <font style="font-weight:bold;font-style:italic;" color="red">
            Received cartons of this Purchase Order:
            <input placeholder="Input total ctns received..." />
            <button id="btn-confirm" class="btn btn-info">
                Confirm
            </button>
        </font>
    </div>*@
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var id = JSON.stringify(window.location.search.substr(1));

            $.ajax({
                type: "POST",
                url: "/api/CartonDetails",
                contentType: 'application/json; charset=utf-8',
                data: id,
                dataType: "json",
                success: function (data, status, xhr) {
                    var inOneCarton = false;

                    $("#table").DataTable({
                        data: data,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "purchaseOrderNumber",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "cartonNumberRangeFrom",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "cartonNumberRangeTo",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "runCode",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "dimension",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "grossWeightPerCartons",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "netWeightPerCartons",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "location",
                                render: function (data) {
                                    return data == null ? "<font>N/A</font>" : "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "sumOfCarton",
                                render: function (data) {
                                    data == 0 ? inOneCarton = true : inOneCarton = false;
                                    return inOneCarton ? "" : "<font color='green'>" + data + "</text>";
                                }
                            },
                            {
                                data: "actualReceived",
                                render: function (data) {
                                    return inOneCarton ? "" : "<font color='green'>" + data + "</text>";
                                }
                            },
                            {
                                data: "available",
                                render: function (data) {
                                    return inOneCarton ? "" : "<font color='green'>" + data + "</text>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return inOneCarton ? "" : "<input id='" + data + "' style='width:30px'></input>" + "<button style='width:30px' class='btn btn-link btn-confirm'>Ok<button>";
                                }
                            }
                        ]
                    });
                }
            });

            $("#table").on("click", ".btn-confirm", function () {
                var button = $(this);
                var value = button.prev().val();
                var id = button.prev().attr("id");

                var arr = new Array(id, value);

                $.ajax({
                    type: "POST",
                    url: "/api/CartonDetailCartons",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(arr),
                    dataType: "json",
                    success: function (data) {
                        location.reload();
                    }
                });

            });

            //$("#btn-confirm").on("click", function () {
            //    var button = $(this);
            //    var value = button.prev().val();
            //    po = JSON.stringify(window.location.search.substr(1));

            //    var obj = { "purchaseOrder": po, "receivedCartons": value };

            //    //此处jsonstring转换有点问题，暂时手动强制转换
            //    jsonStr = "{'purchaseOrder':" + po + ", 'receivedCartons':" + value + "}";

            //    $.ajax({
            //        type: "POST",
            //        url: "/api/cartondetailreceiving/",
            //        contentType: 'application/json; charset=utf-8',
            //        data: jsonStr,
            //        dataType: "json",
            //        success: function (data) {
            //            bootbox.alert("Update success!");
            //            location.replace("/ThirdPartyLogistics/Index");
            //        },
            //        error: function () {
            //            alert("An error occured when updating!");
            //        }
            //    });
            //});
        });
    </script>
}

