
@{
    ViewBag.Title = "FCRegularLocationAllocating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Regular Order Put Away Page</h2>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>PO</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Customer Code</th>
                    <th>Size Bundle</th>
                    <th>Pcs Bundle</th>
                    <th>Status</th>
                    <th>TBA Ctns</th>
                    <th>Cartons</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            //从地址栏获取参数
            var preid = getUrlParameter('preid');

            $.ajax({
                type: "GET",
                url: "/api/FCRegularLocationAllocating/" + preid,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#table").DataTable({
                        data: data,
                        destroy: true,
                        columns: [
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "customer",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "sizeBundle",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pcsBundle",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "toBeAllocatedCtns",
                                render: function (data) {
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<input style='width:50px' id='ctns-" + data + "' type='number' />";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<input style='width:100px' id='loc-" + data + "' /><button style='width:50px' class='btn btn-link btn-allocate' id='" + data + "'>OK</button>";
                                }
                            }
                        ]
                    });
                },
                error: function () {
                    alert("An error occured!");
                }
            });

            // 获取将要打散入库的箱数、库位
            $("#table").on("click", ".btn-allocate", function () {
                var button = $(this);
                var id = button.attr("id");
                var cartons = $("#ctns-" + id.toString()).val();
                var locator = $("#loc-" + id.toString()).val();
                var tbaCtns = button.parent().parent("tr").children('td').eq(7).children('font').html();

                if (cartons == "" || locator == "")
                {
                    alert("Cartons and Location cannot be empty.");
                }
                else if (cartons > tbaCtns)
                {
                    alert("There is not enough cartons to be allocated!");
                }
                else
                {
                    var obj = {
                        "preId": preid,
                        "id": id,
                        "cartons": cartons,
                        "location": locator
                    };

                    //将obj打包传入后端，根据包中内容分解已收货对象
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(obj),
                        url: "/api/FCRegularLocationAllocating/",
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (data) {
                            alert("Success!");
                        },
                        error: function (data) {
                            alert("error!");
                        }
                    });
                }
            });
            
            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
