
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <meta name="description" content="The description of my page" />
</head>
<body>
    <h1>Third-party Logistics Distribution System</h1>
    <h2>Receiving Report</h2>
    <div class="maincontainer">
        <div>
            <button id="download" class="btn btn-primary">Download Excel Receiving Report</button>
        </div>
        <div>
            @*<font id="totalFcsPcs" color="green">Total Receivable Units:</font><br />
            <font id="totalFcsCtns" color="green">Total Receivable Cartons:</font><br />*@
            <h2>Container: <text id="container">SU85P0035FT</text></h2>
            <font id="receiveddate">Received Date:</font><br />
            <font id="vendor">Vender:</font><br />
            <font id="reference">Reference:</font><br />
            <font id="receiptnumber">Recept #:</font><br />
            <font id="remark">Remark:</font><br />
            <font id="totalActualPcs" color="red">Actual Quantity Received:</font><br />
            <font id="totalActualCtns" color="red">Actual Cartons Received:</font>
        </div>
        <div>
            <table id="table" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width:30px">Sequence</th>
                        <th style="width:80px">Range</th>
                        <th style="width:100px">PO</th>
                        <th style="width:120px">Style</th>
                        <th style="width:50px">Customer</th>
                        <th style="width:50px">Color</th>
                        <th style="width:100px">Size</th>
                        <th style="width:80px">Pcs</th>
                        <th style="width:80px">Fcs Qty</th>
                        <th style="width:100px">Inbound Qty</th>
                        <th style="width:80px">Fcs Ctns</th>
                        <th style="width:100px">Inbound Ctns</th>
                        <th style="width:80px">SKU</th>
                        <th style="width:100px">Memo</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th colspan="8" style="text-align:right">Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
<script>
    $(document).ready(function () {

        var table;

        //为DataTable插件服务的函数，用于计算某指定列的和
        jQuery.fn.dataTable.Api.register('sum()', function () {
            return this.flatten().reduce(function (a, b) {
                if (typeof a === 'string') {
                    a = a.replace(/[^\d.-]/g, '') * 1;
                }
                if (typeof b === 'string') {
                    b = b.replace(/[^\d.-]/g, '') * 1;
                }

                return a + b;
            }, 0);
        });

        //解析url中的参数函数
        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        var preId = getUrlParameter('preid');
        var container = getUrlParameter('container');

        $("#container").html(container);

        //获取Container信息
        $.ajax({
            type: "GET",
            url: "/api/container/?container=" + container,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                $("#vendor").html("Vendor: " + data.vendor);
                $("#receiveddate").html("Received Date: " + data.receivedDate);
                $("#reference").html("Reference: " + data.reference);
                $("#receiptnumber").html("Receipt #: " + data.receiptNumber);
                $("#remark").html("Remark: " + data.remark);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseJSON.exceptionMessage);
            }
        });

        var urlstring = "/api/fcreceivingreport/?preid=" + preId + "&container=" + container;

        $.ajax({
            type: "GET",
            url: urlstring,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data, status, xhr) {
                table = $("#table").DataTable({
                    data: data,
                    scrollY: "600px",
                    iDisplayLength: 100,
                    columns: [
                        {
                            data: "index",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "cartonRange",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "purchaseOrder",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "style",
                            render: function (data) {
                                return "<text>" + data + "</text>";
                            }
                        },
                        {
                            data: "customer",
                            render: function (data) {
                                return "<font'>" + data + "</font>";
                            }
                        },
                        {
                            data: "color",
                            render: function (data) {
                                return "<font'>" + data + "</font>";
                            }
                        },
                        {
                            data: "sizeBundle",
                            render: function (data) {
                                return "<font color='blue'>" + data + "</font>";
                            }
                        },
                        {
                            data: "pcsBundle",
                            render: function (data) {
                                return "<font color='blue'>" + data + "</font>";
                            }
                        },
                        {
                            data: "receivableQty",
                            render: function (data) {
                                return "<font color='green'>" + data + "</font>";
                            }
                        },
                        {
                            data: "receivedQty",
                            render: function (data) {
                                //receivedPcs += data;
                                return "<font color='red'>" + data + "</font>";
                            }
                        },
                        {
                            data: "receivableCtns",
                            render: function (data) {
                                return "<font color='green'>" + data + "</font>";
                            }
                        },
                        {
                            data: "receivedCtns",
                            render: function (data) {
                                //receivedCtns += data;
                                return "<font color='red'>" + data + "</font>";
                            }
                        },
                        {
                            data: "sku",
                            render: function (data) {
                                return "<font>" + data + "</font>";
                            }
                        },
                        {
                            data: "memo",
                            render: function (data) {
                                return "<font color='orange'>" + data + "</font>";
                            }
                        },
                        {
                            data: "comment",
                            render: function (data) {
                                return "<font color='red'>" + data + "</font>";
                            }
                        }
                    ],
                    footerCallback: function (row, data, start, end, display) {

                        var api = this.api(), data;

                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                        };

                        var totalFcsQty = api
                            .column(8)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        var totalActualQty = api
                            .column(9)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        var totalFcsCtns = api
                            .column(10)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        var totalAcutalCtns = api
                            .column(11)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        $(api.column(8).footer()).html("<font color='green'>" + totalFcsQty + "</font>");
                        $(api.column(9).footer()).html("<font color='red'>" + totalActualQty+ "</font>");
                        $(api.column(10).footer()).html("<font color='green'>" + totalFcsCtns + "</font>");
                        $(api.column(11).footer()).html("<font color='red'>" + totalAcutalCtns + "</font>");
                        $("#totalActualPcs").html("<font color='red'>Actual Quantity Received:" + totalActualQty + "</font>");
                        $("#totalActualCtns").html("<font color='red'>Actual Cartons Received:" + totalAcutalCtns + "</font>");
                    }
                    //scrollX: true
                    //scrollCollapse: true
                });

                //$("#totalFcsPcs").html("Total Receivable Units: " + table.column(7).data().sum());
                //$("#totalFcsCtns").html("Total Receivable Cartons: " + receivedCtns);

                $("#download").on("click", function () {
                    $(window.location).attr('href', '/api/receivingreportexcel/?preid=' + preId + '&container=' + container);
                });
            }
        });
    });
</script>
