
@{
    ViewBag.Title = "FCRegularLocationDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Regular Order Location Detail</h2>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <font id="orgCtns" color="orange"></font>
        <font id="availableCtns" color="green"></font>
        <font id="pickingCtns" color="red"></font>
        <font id="shippedCtns" color="blue"></font><br />
        <font id="orgPcs" color="orange"></font>
        <font id="availablePcs" color="green"></font>
        <font id="pickingPcs" color="red"></font>
        <font id="shippedPcs" color="blue"></font><br />
    </div>
    <div>
        <input id="btn-all" type="button" class="btn btn-info btn-view" value="View all" />
        <input id="btn-instock" type="button" class="btn btn-info btn-view" value="View stock" />
        <input id="btn-picking" type="button" class="btn btn-default btn-info btn-view" value="View picking" />
        <input id="btn-shipped" type="button" class="btn btn-default btn-info btn-view" value="View shipped" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Container</th>
                    <th>Vendor</th>
                    <th>Status</th>
                    <th>Range</th>
                    <th>PO</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>CC</th>
                    <th>Size</th>
                    <th>Pcs</th>
                    <th>Org Ctns</th>
                    <th>Org Pcs</th>
                    <th>Available Ctns</th>
                    <th>Picking Ctns</th>
                    <th>Shipped Ctns</th>
                    <th>Available Pcs</th>
                    <th>Picking Pcs</th>
                    <th>Shipped Pcs</th>
                    <th>Inbound Date</th>
                    <th>Allocated By</th>
                    <th>Location</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th colspan="10" style="text-align:right">Total:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table;
            var pickingCtns;
            var availableCtns;
            var orgPcs;
            var isPutBack = false;

            //为DataTable插件服务的函数，用于计算某指定列的和
            jQuery.fn.dataTable.Api.register('sum()', function () {
                return this.flatten().reduce(function (a, b) {
                    if (typeof a === 'string') {
                        a = a.replace(/[^\d.-]/g, '') * 1;
                    }
                    if (typeof b === 'string') {
                        b = b.replace(/[^\d.-]/g, '') * 1;
                    }

                    return a + b;
                }, 0);
            });

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            //从地址栏获取参数
            var preid = getUrlParameter('preid');

            $.ajax({
                type: "GET",
                url: "/api/FCRegularLocationDetail/" + preid,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {

                    if (table) {
                        table.destroy();
                    }

                    table = $("#table").DataTable({
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        data: data,
                        destroy: true,
                        columns: [
                            {
                                data: "container",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "vendor",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    if (data == "Picking") {
                                        return "<text style='color:Red'>" + data + "</text>";
                                    }
                                    else if (data == "Shipped") {
                                        return "<text style='color:Blue'>" + data + "</text>";
                                    }
                                    else if (data == "Put Back")
                                    {
                                        return "<text style='color:orange'>" + data + "</text>";
                                    }
                                    else {
                                        return "<text style='color:Green'>" + data + "</text>";
                                    }
                                }
                            },
                            {
                                data: "cartonRange",
                                render: function (data) {
                                    if (data == "Put Back")
                                        isPutBack = true;
                                    else
                                        isPutBack = false;
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "customerCode",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "sizeBundle",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "pcsBundle",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "cartons",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "quantity",
                                render: function (data) {
                                    orgPcs = data;
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "availableCtns",
                                render: function (data) {
                                    availableCtns = data;
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pickingCtns",
                                render: function (data) {
                                    pickingCtns = data;
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "shippedCtns",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "availablePcs",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pickingPcs",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "shippedPcs",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='blue' color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "inboundDate",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "allocator",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "location",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    //当库存剩余为0且没有在拣货，或有在拣货的情况下，隐藏移库按钮
                                    if ((availableCtns == 0 && pickingCtns == 0) || pickingCtns != 0)
                                        return "";
                                    else if (isPutBack)
                                        return "<button style='width:40px' locationid='" + data + "'class='btn btn-link btn-edit'>Edit</button><button style='width:30px' locationid='" + data + "'class='btn btn-link btn-delete'>X</button>";
                                    else
                                        return "<button id='" + data + "'class='btn btn-link btn-relocate'>Relocate</button>";
                                }
                            }
                        ],
                        footerCallback: function (row, data, start, end, display) {

                            var api = this.api(), data;

                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                            };

                            var totalOrgCtns = api
                                .column(10)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalOrgPcs = api
                                .column(11)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalAvaCtns = api
                                .column(12)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalPickingCtns = api
                                .column(13)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalShippedCtns = api
                                .column(14)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                            var totalAvaPcs = api
                                .column(15)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalPickingPcs = api
                                .column(16)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalShippedPcs = api
                                .column(17)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            $(api.column(10).footer()).html("<font color='orange'>" + totalOrgCtns + "</font>");
                            $(api.column(11).footer()).html("<font color='orange'>" + totalOrgPcs + "</font>");
                            $(api.column(12).footer()).html("<font color='green'>" + totalAvaCtns + "</font>");
                            $(api.column(13).footer()).html("<font color='red'>" + totalPickingCtns + "</font>");
                            $(api.column(14).footer()).html("<font color='blue'>" + totalShippedCtns + "</font>");
                            $(api.column(15).footer()).html("<font color='green'>" + totalAvaPcs + "</font>");
                            $(api.column(16).footer()).html("<font color='red'>" + totalPickingPcs + "</font>");
                            $(api.column(17).footer()).html("<font color='blue'>" + totalShippedPcs + "</font>");

                            $("#orgCtns").html("Inbound Cartons: " + totalOrgCtns);
                            $("#orgPcs").html("Inbound Units: " + totalOrgPcs);
                            $("#availableCtns").html("Available Cartons: " + totalAvaCtns);
                            $("#availablePcs").html("Available Units: " + totalAvaPcs);
                            $("#pickingCtns").html("Picking Cartons: " + totalPickingCtns);
                            $("#pickingPcs").html("Picking Units: " + totalPickingPcs);
                            $("#shippedCtns").html("Shipped Cartons:" + totalShippedCtns);
                            $("#shippedPcs").html("Shipped Units:" + totalShippedPcs);

                        }
                    });
                },
                error: function () {
                    alert("error!");
                }
            });

            $(".btn-view").on("click", function () {
                var button = $(this);
                var url = "/api/FCRegularLocationDetail/" + preid;

                if (button.val() == "View all") {
                    url = "/api/FCRegularLocationDetail/" + preid;
                }
                else if (button.val() == "View stock") {
                    url = "/api/FCRegularLocationDetailStock/" + preid;
                }
                else if (button.val() == "View picking") {
                    url = "/api/FCRegularLocationDetailpicking/" + preid;
                }
                else if (button.val() == "View shipped") {
                    url = "/api/FCRegularLocationDetailshipped/" + preid;
                }
                else {
                    alert("Invalid button.");
                }

                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {

                        if (table) {
                            table.destroy();
                        }

                        table = $("#table").DataTable({
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            data: data,
                            destroy: true,
                            columns: [
                                {
                                    data: "container",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "vendor",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "status",
                                    render: function (data) {
                                        if (data == "Picking") {
                                            return "<text style='color:Red'>" + data + "</text>";
                                        }
                                        else if (data == "Shipped") {
                                            return "<text style='color:Blue'>" + data + "</text>";
                                        }
                                        else if (data == "Put Back") {
                                            return "<text style='color:orange'>" + data + "</text>";
                                        }
                                        else {
                                            return "<text style='color:Green'>" + data + "</text>";
                                        }
                                    }
                                },
                                {
                                    data: "cartonRange",
                                    render: function (data) {
                                        if (data == "Put Back")
                                            isPutBack = true;
                                        else
                                            isPutBack = false;
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "purchaseOrder",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "style",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "color",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "customerCode",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "sizeBundle",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "pcsBundle",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "cartons",
                                    render: function (data) {
                                        return "<font color='orange'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "quantity",
                                    render: function (data) {
                                        orgPcs = data;
                                        return "<font color='orange'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "availableCtns",
                                    render: function (data) {
                                        availableCtns = data;
                                        if (data == 0)
                                            return "<font>" + data + "</font>";
                                        else
                                            return "<font color='green'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "pickingCtns",
                                    render: function (data) {
                                        pickingCtns = data;
                                        if (data == 0)
                                            return "<font>" + data + "</font>";
                                        else
                                            return "<font color='red'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "shippedCtns",
                                    render: function (data) {
                                        if (data == 0)
                                            return "<font>" + data + "</font>";
                                        else
                                            return "<font color='blue'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "availablePcs",
                                    render: function (data) {
                                        if (data == 0)
                                            return "<font>" + data + "</font>";
                                        else
                                            return "<font color='green'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "pickingPcs",
                                    render: function (data) {
                                        if (data == 0)
                                            return "<font>" + data + "</font>";
                                        else
                                            return "<font color='red'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "shippedPcs",
                                    render: function (data) {
                                        if (data == 0)
                                            return "<font>" + data + "</font>";
                                        else
                                            return "<font color='blue' color='blue'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "inboundDate",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "allocator",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "location",
                                    render: function (data) {
                                        return "<font color='orange'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "id",
                                    render: function (data) {
                                        //当库存剩余为0且没有在拣货，或有在拣货的情况下，隐藏移库按钮
                                        if ((availableCtns == 0 && pickingCtns == 0) || pickingCtns != 0)
                                            return "";
                                        else if (isPutBack)
                                            return "<button style='width:40px' locationid='" + data + "'class='btn btn-link btn-edit'>Edit</button><button style='width:30px' locationid='" + data + "'class='btn btn-link btn-delete'>X</button>";
                                        else
                                            return "<button id='" + data + "'class='btn btn-link btn-relocate'>Relocate</button>";
                                    }
                                }
                            ],
                            footerCallback: function (row, data, start, end, display) {

                                var api = this.api(), data;

                                var intVal = function (i) {
                                    return typeof i === 'string' ?
                                        i.replace(/[\$,]/g, '') * 1 :
                                        typeof i === 'number' ?
                                        i : 0;
                                };

                                var totalOrgCtns = api
                                    .column(10)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                var totalOrgPcs = api
                                    .column(11)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                var totalAvaCtns = api
                                    .column(12)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                var totalPickingCtns = api
                                    .column(13)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                var totalShippedCtns = api
                                    .column(14)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);
                                var totalAvaPcs = api
                                    .column(15)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                var totalPickingPcs = api
                                    .column(16)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                var totalShippedPcs = api
                                    .column(17)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                $(api.column(10).footer()).html("<font color='orange'>" + totalOrgCtns + "</font>");
                                $(api.column(11).footer()).html("<font color='orange'>" + totalOrgPcs + "</font>");
                                $(api.column(12).footer()).html("<font color='green'>" + totalAvaCtns + "</font>");
                                $(api.column(13).footer()).html("<font color='red'>" + totalPickingCtns + "</font>");
                                $(api.column(14).footer()).html("<font color='blue'>" + totalShippedCtns + "</font>");
                                $(api.column(15).footer()).html("<font color='green'>" + totalAvaPcs + "</font>");
                                $(api.column(16).footer()).html("<font color='red'>" + totalPickingPcs + "</font>");
                                $(api.column(17).footer()).html("<font color='blue'>" + totalShippedPcs + "</font>");

                            }
                        });
                    },
                    error: function () {
                        alert("error!");
                    }
                });
            });

            $("#table").on("click", ".btn-relocate", function () {
                var id = $(this).attr("id");

                $.ajax({
                    type: "DELETE",
                    url: "/api/FCRegularLocationDetail/" + id,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        alert("Success!");
                        window.location.reload();
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            });

            //点击Edit，将当对应的<font>元素(地址)替换成一个<input>元素(输入)，原编辑按钮替换成<button>元素(确认)，并移除X按钮(移除)
            $("#table").on("click", ".btn-edit", function () {
                var locationId = $(this).attr('locationid');
                var locationObj = $(this).parent().parent("tr").children('td').eq(18).children('font');
                var content = $(this).parent().parent("tr").children('td').eq(18).children('font').html();

                $(this).next().remove();
                locationObj.replaceWith("<input style='width:80px' locationid='" + locationId + "' class='input-sm' value='" + content + "' />");
                $(this).replaceWith("<button locationid='" + locationId + "' class='btn btn-link btn-confirm'>Ok</button>");
            });

            //点击确定，将对应的<input>元素中的信息同步至数据库，并复原之前的按钮
            $("#table").on("click", ".btn-confirm", function () {
                var locationId = $(this).attr('locationid');
                var inputObj = $(this).parent().parent("tr").children('td').eq(18).children('input');
                var content = inputObj.val();

                inputObj.replaceWith("<font color='orange'>" + content + "(Put Back)</font>");
                $(this).replaceWith("<button style='width:40px' locationid='" + locationId + "'class='btn btn-link btn-edit' value='" + content + "'>Edit</button><button style='width:30px' locationid='" + locationId + "'class='btn btn-link btn-delete'>X</button>");

                $.ajax({
                    type: "PUT",
                    url: "/api/pickdetailputback/?id=" + locationId + "&location=" + content,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        alert("Success!");
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            });

            //点击X按钮，将当前的Put Back库存对象从数据库移除
            $("#table").on("click", ".btn-delete", function () {
                var locationId = $(this).attr('locationid');

                $.ajax({
                    type: "DELETE",
                    url: "/api/pickdetailputback/?id=" + locationId,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        alert("Delete success!");
                        window.location.reload();
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });

        });
    </script>
}