
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Work Order Overview</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <input id="btn-create" type="button" class="btn btn-group" value="Creat An Empty Work Order" />
        <input id="btn-pl" type="button" class="btn btn-primary" value="Search Packing List" />
        <input id="btn-search" type="button" class="btn btn-primary" value="Search Inventory" />
        <input type="button" class="btn btn-primary btn-shiporder" value="Manage ship order" />
        <input type="button" class="btn btn-primary btn-shiphistory" value="Track ship history" />
        <input id="btn-invoice" type="button" class="btn btn-primary" value="Manage Invoice" />
        <img src="~/Img/c2qb_green_btn_lg_default.png" id="img-connect" class="btn" alt="Connect to QBO" style="height:48px"/>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vendor Name</th>
                    <th>Work Order Type</th>
                    <th>Created Date</th>
                    <th>Inbound Date</th>
                    <th>Created By</th>
                    <th style="width:95px">Container#</th>
                    <th>Fcs Ctns</th>
                    <th>Rcp Ctns</th>
                    <th>Fcs Pcs</th>
                    <th>Rcp Pcs</th>
                    <th>Operation</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="iframe">
    <div>
        <input id="upload2" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="Upload SILKICON" />
    </div>
    <div>
        <input id="uploadfc" type="button" class="btn btn-default" value="Upload FC" />
    </div>
</div>
<div class="iframe-ordertype">
    <div style="margin-top:20px;margin-right:20px;text-align:right">
        <text>Select vendor: </text>
        <select id="select-vendor" style="width:170px;height:30px"></select><br />
        <text>Select work order type: </text>
        <select id="select-ordertype" style="width:170px;height:30px">
            <option value="Regular">Pre-pack/Pick&Pack</option>
            <option value="Replenishment">Replenishment</option>
            <option value="Mix">Mix</option>
        </select><br />
        <button id="create1" style="margin-top:10px" class="btn btn-primary">Create</button>
    </div>
</div>
<div class="iframe-silkicon">
    <div style="margin-top:15px;text-align:center">
        <a href="/thirdpartylogistics/generallocmanagement/">
            <input style="margin-top:5px" type="button" class="btn btn-info btn-managelocation" value="Manage general location" />
        </a>
        <a href="/ThirdPartyLogistics/PurchaseOrderManagement">
            <input style="margin-top:5px" id="btn-po" type="button" class="btn btn-info" value="Manage Purchase Order" />
        </a>
    </div>
</div>
<div class="iframe iframe-update" style="text-align:right;margin:20px">
    <text>Inbound Date: </text><input type="date" class="input-sm" id="input-date" /><br />
    <button id="btn-update" class="btn btn-info" style="margin-top:20px">Update</button>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table;  
            var preId = JSON.stringify(window.location.search.substr(1));
            var index;
            var customer;
            var quantity;
            var workOrderType
            var vendor;
            var url;
            var searchBar = grandChannel.getUrlParameter('search');

            $(".iframe").hide();
            $(".iframe-ordertype").hide();
            //$(".iframe-freecountry").hide();
            $(".iframe-silkicon").hide();

            //动态获取Vendor数据
            $.ajax({
                type: "GET",
                url: "/api/uppervendor/?departmentCode=CD",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++)
                    {
                        $("#select-vendor").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    bootbox.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            $.ajax({
                type: "GET",
                url: "/api/index/?departmentCode=CD",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {

                    if (table) {
                        table.destroy();
                    }

                   table = $("#table").DataTable({
                        order: [[0, "desc"]],
                        destroy: true,
                        data: data,
                        //scrollX: true,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "customerName",
                                render: function (data) {
                                    customer = data;
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "workOrderType",
                                render: function (data) {

                                    if (data == "Regular") {
                                        workOrderType = "Pre-pack/Pick&Pack";
                                        return "<text>" + data + "/Pick&Pack</text>";
                                    }
                                    else {
                                        workOrderType = data;
                                        return "<text>" + data + "</text>";
                                    }
                                }
                            },
                            {
                                data: "creatDate",
                                render: function (data) {
                                    return "<text>" + data.substring(0, 10) + "</text>";
                                }
                            },
                            {
                                data: "inboundDate",
                                render: function (data) {
                                    if (data.substring(0, 10) == "1900-01-01")
                                        return " ";
                                    return "<text>" + data.substring(0, 10) + "</text>";
                                }
                            },
                            {
                                data: "operator",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "containerNumber",
                                render: function (data) {
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "totalCartons",
                                render: function (data) {
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "actualReceivedCtns",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "totalPcs",
                                render: function (data) {
                                    quantity = data;
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "actualReceivedPcs",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button class='btn btn-info btn-update' iid='" + data + "'>Update</button>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    if (quantity != 0) {
                                        //if (customer == "SILK-ICON")
                                        //    return "<a href='/ThirdPartyLogistics/SIPurchaseOrderOverview/?" + data + "'><button class='btn btn-info'>Manage</button></a>";
                                        if (workOrderType == "Pre-pack/Pick&Pack")
                                            return "<a href='/ThirdPartyLogistics/FCPurchaseOrderOverview/?preid=" + data + "&vendor=" + customer + "'><button class='btn btn-info'>Manage</button></a>";
                                        else if (workOrderType == "Replenishment")
                                            return "<a href='/ThirdPartyLogistics/SIPurchaseOrderOverview/?preid=" + data + "&vendor=" + customer + "'><button class='btn btn-info'>Manage</button></a>";
                                        else
                                            return "<a href='/ThirdPartyLogistics/MixPurchaseOrderOverview/?preid=" + data + "&vendor=" + customer + "'><button class='btn btn-info'>Manage</button></a>";
                                    }
                                    else {
                                        //if (customer == "SILK-ICON")
                                        //    return "<a href='/ThirdPartyLogistics/SIPurchaseOrderOverview/?" + data + "'><button class='btn btn-info'>Manage</button></a><button id='" + data + "' class='btn btn-danger btn-delete'>Delete</button>";
                                        if (workOrderType == "Pre-pack/Pick&Pack")
                                            return "<a href='/ThirdPartyLogistics/FCPurchaseOrderOverview/?preid=" + data + "&vendor=" + customer + "'><button class='btn btn-info'>Manage</button></a><button id='" + data + "' class='btn btn-danger btn-delete'>Delete</button>";
                                        else if (workOrderType == "Replenishment")
                                            return "<a href='/ThirdPartyLogistics/SIPurchaseOrderOverview/?preid=" + data + "&vendor=" + customer + "'><button class='btn btn-info'>Manage</button></a><button id='" + data + "' class='btn btn-danger btn-delete'>Delete</button>";
                                        else
                                            return "<a href='/ThirdPartyLogistics/MixPurchaseOrderOverview/?preid=" + data + "&vendor=" + customer + "'><button class='btn btn-info'>Manage</button></a><button id='" + data + "' class='btn btn-danger btn-delete'>Delete</button>";
                                    }
                                }
                            }
                        ]
                    });

                    var tableSearch = $("#table_filter").children('label').children('input');

                    if (searchBar != undefined) {
                        tableSearch.val(searchBar);
                        table.search(searchBar).draw();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    bootbox.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //打开创建空work order弹窗
            $("#btn-create").click(function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["20%", "20%"],
                    content: $(".iframe-ordertype")
                });
            })

            //点击创建按钮，创建新的work order
            $("#create1").click(function () {
                var orderType = $("#select-ordertype option:selected").val();
                var vendor = $("#select-vendor option:selected").val();

                $.ajax({
                    type: "POST",
                    url: "/api/Index/?orderType=" + orderType + "&vendor=" + vendor,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        alert("New Pre-receive Order created success!");
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        bootbox.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            })

            //点击workorder对应的删除按钮，删除所选workorder
            $("#table").on("click", ".btn-delete", function () {
                var button = $(this);
                var id = button.attr('id');
                var customer = button.parent().parent("tr").children('td').eq(1).children('text').html();
                var url;

                if (customer != "SILK-ICON")
                {
                    url = "/api/fcpurchaseOrderOverview/" + id;

                    bootbox.confirm("Are you sure to delete ALL records? All the records will be deleted and this operation is not reversible.", function (result) {
                        if (result) {
                            $.ajax({
                                contentType: false,
                                cache: false,
                                processData: false,
                                type: "DELETE",
                                url: url,
                                beforeSend: function () {
                                    layer.msg('Deleting...', {
                                        icon: 1,
                                        shade: 0.01,
                                        time: 99 * 1000
                                    });
                                },
                                success: function () {
                                    layer.alert("Delete successed!", function () {
                                        location.reload();
                                    });
                                },
                                error: function () {
                                    layer.alert("Error!");
                                }
                            });
                        }
                    });
                }
                else
                {
                    alert("This feature did not finish yet.");
                }
            });

            //点击每一条记录后面的update按钮，打开update菜单
            $("#table").on("click", ".btn-update", function () {
                preId = $(this).attr('iid');
                var currentInboundDate = $(this).parent().parent("tr").children("td").eq(4).children("text").html();
                if (currentInboundDate != "")
                {
                    $("#input-date").val(currentInboundDate);
                }
                else
                {
                    $("#input-date").val("");
                }
                grandChannel.openiframe(index, ".iframe-update", "400px", "150px");
            });

            //点击update菜单中的update按钮，更新信息
            $("#btn-update").on("click", function () {
                var date = $("#input-date").val();

                if (date != "")
                {
                    url = "/api/index/?preId=" + preId + "&inboundDate=" + date;
                    grandChannel.sendAjaxMethod("PUT", url, {});
                }
                else
                {
                    alert("Inbound date cannot be empty!");
                }
            });

            $("#btn-search").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/InventorySearch/');
            });

            $("#btn-pl").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/PackingListSearch/');
            });

            $(".btn-shiporder").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/shiporder/?departmentCode=CD');
            });

            $(".btn-shiphistory").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/shipdetailhistory/');
            });

            $("#btn-invoice").on("click", function () {
                $(window.location).attr('href', '/ThirdPartyLogistics/invoicemanagement/?departmentCode=CD');
            });

            //获取QBO授权
            $("#img-connect").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/api/QuickBooksOnlineOAuth/",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        $(window.location).attr('href', data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });
            
            //点击任何按钮，都将searchBar中的内容保存到url中但不刷新页面
            $("#table").on("click", ".btn", function () {

                tableSearch = $("#table_filter").children('label').children('input').val();

                window.history.pushState({}, {}, "/thirdpartylogistics/index/?search=" + tableSearch);
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });

    </script>
}