
@{
    ViewBag.Title = "LocationDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Third-party Logistics Distribution System</h1>
<h2>Replenishment Location Distribution</h2>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <input id="btn-upload" type="button" class="btn btn-info" value="Upload location distribution" /> 
        <input id="btn-download" type="button" class="btn btn-info" value="Download location distribution template" />
        <input id="btn-undo" type="button" class="btn btn-danger" value="Undo" />

    </div>
    <div>
        <font>Po#: <font color="red" id="potext"></font></font>
    </div>
    <div>
        <div>
            <font>
                Style:
                <input id="style" style="width:100px" />
            </font>
            <font>
                Color:
                <input id="color" style="width:100px" />
            </font>
            <font>
                Size:
                <input id="size" style="width:100px" />
            </font>
            <font>
                Ctns:
                <input id="ctns" style="width:100px" />
            </font>
            <font>
                Quantity:
                <input id="quantity" style="width:100px" />
            </font>
            <font>
                Location:
                <input id="location" style="width:100px" />
            </font>
            <input id="btn-inbound" type="button" class="btn btn-info" value="Single inbound" />
        </div>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Inbound Date</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Org Ctn</th>
                    <th>Inv Ctn</th>
                    <th>Org Pcs</th>
                    <th>Inv Pcs</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe">
    <div>
        <input id="upload" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="上传文件" />
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var index;
            var table;
            $(".iframe").hide();


            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            //从地址栏获取参数
            var po = getUrlParameter('po').toString();

            $("#potext").html(po);

            $.ajax({
                type: "GET",
                url: "/api/LocationDetail/?po=" + po,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (table)
                    {
                        table.destroy();
                    }

                    table = $("#table").DataTable({
                        destroy: true,
                        data: data,
                        columns: [
                            {
                                data: "inboundDate",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "size",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "orgNumberOfCartons",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "invNumberOfCartons",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "orgPcs",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "invPcs",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "location",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            }
                        ]
                    });
                },
                error: function () {
                    alert("An error occured!");
                    alert(JSON.stringify(obj));
                }
            });

            $("#btn-upload").on("click", function () {
                layui.use("layer", function () {
                    var layer = layui.layer;

                    index = layer.open({
                        title: false,
                        type: 1,
                        shadeclose: true,
                        area: ["40%", "40%"],
                        content: $(".iframe")
                    });
                });
            });

            $("#uploadfile").on("click", function () {
                var formData = new FormData();
                var files = $("#upload").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/LocationDetail/?po=" + po,
                    data: formData,
                    beforeSend: function () {
                        layer.close(index);

                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('Extracting files...', {
                                icon: 16,
                                shade: 0.01,
                                time: 99 * 1000
                            });;
                        });
                    },
                    success: function () {
                        layer.alert("Extract successed!", function () {
                            location.reload();
                        });
                    },
                    error: function () {
                        layer.alert("An error occured on the server! Please make sure the po in file matches the po of this page.");
                    }
                });
                $(".iframe").hide();
            });

            //单件入库
            $("#btn-inbound").on("click", function () {
                var style = $("#style").val().toString();
                var color = $("#color").val().toString();
                var size = $("#size").val().toString();
                var ctns = $("#ctns").val();
                var quantity = $("#quantity").val();
                var tlocation = $("#location").val().toString();

                if (style == "" || color == "" || size == "" || ctns == "" || quantity == "" || tlocation == "")
                {
                    alert("All fields are required!");
                }
                else
                {
                    var obj = {
                        "purchaseOrder": po,
                        "style": style,
                        "color": color,
                        "size": size,
                        "ctns": ctns,
                        "quantity": quantity,
                        "location": tlocation
                    };

                    $.ajax({
                        type: "POST",
                        url: "/api/LocationDetailSingleInbound",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(obj),
                        dataType: "json",
                        success: function (data) {
                            $("#table").DataTable({
                                destroy: true,
                                data: data,
                                columns: [
                                    {
                                        data: "inboundDate",
                                        render: function (data) {
                                            return "<text>" + data + "</text>";
                                        }
                                    },
                                    {
                                        data: "style",
                                        render: function (data) {
                                            return "<text>" + data + "</text>";
                                        }
                                    },
                                    {
                                        data: "color",
                                        render: function (data) {
                                            return "<text>" + data + "</text>";
                                        }
                                    },
                                    {
                                        data: "size",
                                        render: function (data) {
                                            return "<text>" + data + "</text>";
                                        }
                                    },
                                    {
                                        data: "orgNumberOfCartons",
                                        render: function (data) {
                                            return "<font color='blue'>" + data + "</font>";
                                        }
                                    },
                                    {
                                        data: "invNumberOfCartons",
                                        render: function (data) {
                                            return "<font color='orange'>" + data + "</font>";
                                        }
                                    },
                                    {
                                        data: "orgPcs",
                                        render: function (data) {
                                            return "<font color='blue'>" + data + "</font>";
                                        }
                                    },
                                    {
                                        data: "invPcs",
                                        render: function (data) {
                                            return "<font color='orange'>" + data + "</font>";
                                        }
                                    },
                                    {
                                        data: "location",
                                        render: function (data) {
                                            return "<text>" + data + "</text>";
                                        }
                                    }
                                ]
                            });
                        },
                        error: function () {
                            alert("error!");
                        }
                    });
                }
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}