
@{
    ViewBag.Title = "NewBulkload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Bulkload</h2>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <input id="createbulkload" type="button" class="btn btn-info" value="Upload bulkload collection" />
    <input id="download" type="button" class="btn btn-primary" value="Download Bulkload Sheet Template" />
    <div>
        <div>
            <font>
                PO Number:
                <input id="poNumber" style="width:80px" />
            </font>
            <font>
                Style:
                <input id="style" style="width:80px" />
            </font>
            <font>
                Color:
                <input id="color" style="width:80px" />
            </font>
            <font>
                Size:
                <input id="size" style="width:80px" />
            </font>
            <font>
                Total Pcs:
                <input id="total" style="width:80px" />
            </font>
            <font>
                Location:
                <input id="location" style="width:120px" />
            </font>
            <input id="btn-retrieve" type="button" class="btn btn-info" value="Receive a single bulk carton" />
        </div>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>PO#</th>
                    <th>Style#</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Number of Ctns</th>
                    <th>Pcs QTY</th>
                    <th>Location</th>
                    <th>Inbound Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe">
    <div>
        <input id="upload2" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="上传文件" />
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table;

            $("#createbulkload").click(function () {
                layui.use("layer", function () {
                    var layer = layui.layer;

                    layer.open({
                        title: false,
                        type: 1,
                        shadeclose: true,
                        area: ["40%", "40%"],
                        content: $(".iframe")
                    });
                });
            })

            $("#uploadfile").on("click", function () {
                var formData = new FormData();
                var files = $("#upload2").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/NewBulkload",
                    data: formData,
                    beforeSend: function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('Extracting files...', {
                                icon: 16,
                                shade: 0.01,
                                time: 99 * 1000
                            });;
                        });
                    },
                    success: function () {
                        //批量抽取散货成功后，返回刚刚抽取的记录
                        layer.alert("Extract successed!");
                        if (table != null) {
                            table.destroy();
                        }
                        table = $("#table").DataTable({
                            ajax: {
                                url: "/api/newbulkloadresults",
                                dataSrc: ""
                            },
                            columns: [
                                {
                                    data: "purchaseOrder",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "style",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "color",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "size",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "numberOfCartons",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "pcs",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "location",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "inboundDate",
                                    render: function (data) {
                                        return "<font>" + data + "</font>";
                                    }
                                }
                            ]
                        });
                    },
                    error: function () {
                        layer.alert("An error occured on the server!");
                    }
                });
                $(".iframe").hide();
            });

            //获取单个散货取件信息
            $("#btn-retrieve").on("click", function () {
                $("#poNumber").val() == "" ? alert("All feilds cannot be empty!") : arr[0] = $("#poNumber").val();
                $("#style").val() == "" ? alert("All feilds cannot be empty!") : arr[1] = $("#style").val();
                $("#color").val() == "" ? alert("All feilds cannot be empty!") : arr[2] = $("#color").val();
                $("#size").val() == "" ? alert("All feilds cannot be empty!") : arr[3] = $("#size").val();
                $("#total").val() == "" ? alert("All feilds cannot be empty!") : arr[4] = $("#total").val();
                $("#location").val() == "" ? alert("All feilds cannot be empty!") : arr[5] = $("#location").val();

                var obj = {
                    "purchaseOrder": $("#poNumber").val(),
                    "style": $("#style").val(),
                    "color": $("#color").val(),
                    "size": $("#size").val(),
                    "grandTotal": $("#total").val(),
                    "location" : $("location").val()
                };

                alert(JSON.stringify(obj));

                $.ajax({
                    type: "POST",
                    url: "/api/NewBulkloadSingleReceiving",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: function (data, status, xhr) {
                        if (table) {
                            table.destroy();
                        }
                        table = $("#table").DataTable({
                            destroy: true,
                            data: data,
                            columns: [

                            ]
                        });
                    },
                    error: function () {
                        alert("Retrieving failed. Reason: One or multiple Sizes are out of stock.")
                    }
                });
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
