﻿
@{
    ViewBag.Title = "PackingListOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Third-party Logistics Distribution System</h1>
<h2>Purchase Order Overview</h2>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>PO#</th>
                    <th>Style#</th>
                    <th>Vol.</th>
                    <th>G.W.(lb)</th>
                    <th>N.W.(lb)</th>
                    <th>Forecast Cartons</th>
                    <th>Receipt Cartons</th>
                    <th>Available Cartons</th>
                    <th>Forecast Pcs</th>
                    <th>Receipt Pcs</th>
                    <th>Available Pcs</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var id = window.location.search;
            var preId = window.location.search.substr(1);

            var urlstring = "/api/Inventory/" + id.substr(1);

            $("#table").DataTable({
                ajax: {
                    url: urlstring,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "purchaseOrder",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "styleNumber",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "cft",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "grossWeight",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "netWeight",
                        render: function (data) {
                            return "<text>" + data + "</text>";
                        }
                    },
                    {
                        data: "packedCartons",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualReceived",
                        render: function (data) {
                            return "<font color='blue'>" + data + "</font>";
                        }
                    },
                    {
                        data: "available",
                        render: function (data) {
                            return "<font color='red'>" + data + "</font>";
                        }
                    },
                    {
                        data: "totalPcs",
                        render: function (data) {
                            return "<font color='green'>" + data + "</font>";
                        }
                    },
                    {
                        data: "actualReceivedPcs",
                        render: function (data) {
                            return "<font color='blue'>" + data + "</font>";
                        }
                    },
                    {
                        data: "availablePcs",
                        render: function (data) {
                            return "<font color='red'>" + data + "</font>";
                        }
                    },
                    {
                        data: "purchaseOrder",
                        render: function (data) {
                            return "<a href='/ThirdPartyLogistics/CartonDetail/?preid=" + preId + "&po=" + data + "'><button class='btn btn-link'>Receiving</button></a><br>"
                                + "<a href='/ThirdPartyLogistics/Location/?preid=" + preId + "&po=" + data + "'><button class='btn btn-link'>Allocating Location</button></a>";
                        }
                    }
                ]
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });

        });
    </script>
}
