
@{
    ViewBag.Title = "PermanentHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Permanent SKU History Page</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th>Inbound/Pick Date</th>
                    <th>Ref Type</th>
                    <th>Ref Number</th>
                    <th>PO#</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Ctns consumed</th>
                    <th>Pcs Change</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table;
            var index;
            var url;
            var refType;

            var locId = grandChannel.getUrlParameter('locId');

            GetDefaultTable(index, table);

            //点击putback按钮，可以putback指定的入库条目
            $("#table").on("click", ".btn-putback", function () {
                var cartonDetailId = $(this).attr('iid');
                url = "/api/PermanentLocManagement/?cartonDetailId=" + cartonDetailId;

                grandChannel.sendAjaxMethod("PUT", url, null, index);
            });

            function GetDefaultTable(index, table) {

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    type: "GET",
                    url: "/api/PermanentLocManagement/?locId=" + locId,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);

                        if (table) {
                            table.destroy();
                        }
                        table = $("#table").DataTable({
                            data: data,
                            destroy: true,
                            //scrollX: true,
                            order: [[0, "asc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: [
                                {
                                    data: "inOrPickDate",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "refType",
                                    render: function (data) {
                                        refType = data;
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "refNumber",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "purchaseOrder",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "style",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "color",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "size",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "cartonChange",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "displayQuantityChange",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "id",
                                    render: function (data) {
                                        if (refType == "Inbound")
                                            return "<button class='btn btn-link btn-putback' iid='" + data + "'>Put all back</button>";
                                        return "";
                                    }
                                }
                            ]
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            }

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
