
@{
    ViewBag.Title = "PermanentLocManagment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>PermanentLocManagment</h2>
<div>
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <div>
            <font>
                Container Number:
                <input id="containerNumber" style="width:100px" />
            </font>
            <font>
                PO Number:
                <input id="poNumber" style="width:100px" />
            </font>
            <font>
                Vendor:
                <input id="vendor" style="width:100px" />
            </font>
            <font>
                Style:
                <input id="style" style="width:100px" />
            </font>
            <font>
                Color:
                <input id="color" style="width:100px" />
            </font>
            <font>
                Size:
                <input id="size" style="width:100px" />
            </font>
            <input id="btn-search" type="button" class="btn btn-info" value="Go Search" />
        </div>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Recieved Date</th>
                    <th>PO#</th>
                    <th>Vendor</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>C/NO From</th>
                    <th>C/NO To</th>
                    <th>Run Code</th>
                    <th>Size</th>
                    <th>Received Pcs</th>
                    <th>Available Pcs</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
