
@{
    ViewBag.Title = "PickDetailSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Pick Detail Summary</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Cut PO</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Pick Ctns</th>
                    <th>Pick Pcs</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th colspan="4" style="text-align:right">Total:</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="iframe">
    <div>
        <input id="upload2" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="Upload" />
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".iframe").hide();
            var table;

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            //从地址栏获取参数
            var psid = getUrlParameter('shipOrderId');

            $.ajax({
                type: "GET",
                url: "/api/pickdetailsummary/" + psid,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (table) {
                        table.destroy();
                    }
                    table = $("table").DataTable({
                        destroy: true,
                        data: data,
                        //scrollX: true,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "sizeBundle",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pickCtns",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pickPcs",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            }
                        ],
                        footerCallback: function (row, data, start, end, display) {

                            var api = this.api(), data;

                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                            };

                            var totalCtns = api
                                .column(4)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalPcs = api
                                .column(5)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            $(api.column(4).footer()).html("<font color='red'>" + totalCtns + "</font>");
                            $(api.column(5).footer()).html("<font color='red'>" + totalPcs + "</font>");
                        }
                    });
                },
                error: function (data) {
                    alert("Error!");
                }
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
