
@{
    ViewBag.Title = "PickDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Pick Regular Order</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>

    <div id="div-putback">
        <input type="button" class="btn btn-group btn-create1" value="Upload Pull Sheet/Load plan" /><button style="background-color:indianred;color:white" class="btn btn-group btn-template">Download Template</button><input type="button" class="btn btn-info btn-update" value="Update picking info" /><button class="btn btn-primary btn-putback">Put back items</button>
    </div>
    <div>
        <input style="width:140px" id="input-container" class="input-sm" placeholder="Container" />
        <input style="width:140px" id="input-customer" class="input-sm" placeholder="Customer" />
        <input style="width:140px" id="input-po" class="input-sm" placeholder="Cut PO" />
        <input style="width:140px" id="input-style" class="input-sm" placeholder="Style" />
        <input style="width:140px" id="input-color" class="input-sm" placeholder="Color" />
        <input style="width:140px" id="input-size" class="input-sm" placeholder="Size or Size Combo" />
        <button id="btn-pick" class="btn btn-info">Pick</button>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Carton Range</th>
                    <th>Container</th>
                    <th>Cut PO</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Customer</th>
                    <th>Size</th>
                    <th>Pcs</th>
                    <th>Pack</th>
                    <th>Pick Ctns</th>
                    <th>Pick Pcs</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="iframe">
    <div>
        <input id="upload2" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="Upload" />
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var table;
            var index;
            $(".iframe").hide();

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            //从地址栏获取参数
            var shipOrderId = getUrlParameter('shipOrderId');
            var orderType = getUrlParameter('orderType');

            $.ajax({
                type: "GET",
                url: "/api/pickdetail/" + shipOrderId,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (table) {
                        table.destroy();
                    }
                    table = $("#table").DataTable({
                        destroy: true,
                        data: data,
                        //scrollX: true,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "status",
                                render: function (data) {
                                    if(data == "Picking")
                                        return "<font color='red'>" + data + "</font>";
                                    else
                                        return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "cartonRange",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "container",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "customerCode",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "sizeBundle",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pcsBundle",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pcsPerCarton",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pickCtns",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pickPcs",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "location",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                        ]
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        location.reload();
                    });
                }
            });

            $("#div-putback").on("click", ".btn-create1", function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["40%", "40%"],
                    content: $(".iframe")
                });
            });

            $("#uploadfile").on("click", function () {
                var formData = new FormData();
                var files = $("#upload2").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/pickdetail/" + shipOrderId,
                    data: formData,
                    beforeSend: function () {
                        layer.close(index);

                        layer.msg('Extracting files...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function () {
                        layer.alert("Upload successed!", function () {
                            window.location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            location.reload();
                        });
                    }
                });
                $(".iframe").hide();
            });

            //点击放回物品按钮，出现一系列表单
            $("#div-putback").on("click", ".btn-putback", function () {
                var button = $(this);
                button.prev().remove();
                button.next().remove();
                button.replaceWith("<div><input id='input-container' style='width:170px' class='input-sm' placeholder='Container' /><input id='input-po' style='width:170px' class='input-sm' placeholder='Cut PO' /><input id='input-style' style='width:170px' class='input-sm' placeholder='Style' /><input id='input-color' style='width:170px' class='input-sm' placeholder='Color' /><input id='input-customer' style='width:170px' class='input-sm' placeholder='Customer' /><input id='input-size' style='width:170px' class='input-sm' placeholder='Size or szie bundle' /><input id='input-pcs' style='width:170px' class='input-sm' placeholder='Pcs or pcs bundle' /><input id='input-pack' style='width:170px' class='input-sm' placeholder='Pcs per carton' /><input id='input-pbctns' style='width:170px' class='input-sm' placeholder='Cartons put back' /><input id='input-pbpcs' style='width:170px' class='input-sm' placeholder='Pcs put back' /><input id='input-location' style='width:170px' class='input-sm' placeholder='Put back location' /><br /><button class='btn btn-primary btn-add'>Put back</button><div>");
            });

            //点击放回按钮，将表单中的数据通过api生成对象添加到对应库存中
            $("#div-putback").on("click", ".btn-add", function () {
                var container = $("#input-container").val();
                var po = $("#input-po").val();
                //var range = $("#input-range").val();
                var color = $("#input-color").val();
                var style = $("#input-style").val();
                var customer = $("#input-customer").val();
                var sizeBundle = $("#input-size").val();
                var pcsBundle = $("#input-pcs").val();
                var pack = $("#input-pack").val();
                var cartons = $("#input-pbctns").val();
                var pcs = $("#input-pbpcs").val();
                var pbLocation = $("#input-location").val();

                if (container == "" || po == "" || style == "" || color == ""  || customer == ""  || sizeBundle == ""  || pcsBundle == ""  || pack == ""  || cartons == ""  || pcs == ""  || pbLocation == "")
                {
                    alert("All feilds are required.");
                }
                else
                {
                    var obj = {
                        "shipOrderId": shipOrderId,
                        "container": container.toString(),
                        "purchaseOrder": po.toString(),
                        //"cartonRange": range.toString(),
                        "style": style.toString(),
                        "customer": customer.toString(),
                        "color": color.toString(),
                        "sizeBundle": sizeBundle.toString(),
                        "pcsBundle": pcsBundle.toString(),
                        "pcsPerCarton": pack.toString(),
                        "cartons": cartons.toString(),
                        "quantity": pcs.toString(),
                        "location": pbLocation.toString()
                    };

                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(obj),
                        url: "/api/pickdetailputback/",
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            alert("Items have been put back.");
                            window.location.reload();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            bootbox.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                window.location.reload();
                            });
                        }
                    });
                }

            });

            //点击下载模板按钮下载Regular订单的pullsheet/loadplan模板
            $("#div-putback").on("click", ".btn-template", function () {
                $(window.location).attr('href', '/api/pickdetail/?orderType=' + orderType);
            });

            //点击更新"拣货信息(发货日期，拣货人等)"按钮，出现一系列表单
            $("#div-putback").on("click", ".btn-update", function () {
                var button = $(this);
                button.next().remove();
                button.replaceWith("<div><input id='input-pickingman' style='width:170px' class='input-sm' placeholder='Pick man' /><input id='input-pickdate' style='width:170px' class='input-sm' placeholder='Pick date(dd/MM/yyyy)' /><button class='btn btn-info btn-updatepickinginfo'>Update</button><div>");
            });

            //点击更新按钮，调用ajax更新
            $("#div-putback").on("click", ".btn-updatepickinginfo", function () {
                var pickingMan = $("#input-pickingman").val() == "" ? "Unassigned" : $("#input-pickingman").val().toString();
                var pickDate = $("#input-pickdate").val() == "" ? "Unassigned" : $("#input-pickdate").val().toString();

                var url = "/api/pickdetail/?shipOrderId=" + shipOrderId + "&pickingMan=" + pickingMan + "&pickDate=" + pickDate;

                $.ajax({
                    type: "PUT",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        bootbox.alert("Update success!");
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击拣货按钮，按条件拣货
            $("#btn-pick").on("click", function () {
                var container = $("#input-container").val() == '' ? "NULL" : $("#input-container").val().toString();
                var po = $("#input-po").val() == '' ? "NULL" : $("#input-po").val().toString();
                var style = $("#input-style").val() == '' ? "NULL" : $("#input-style").val().toString();
                var color = $("#input-color").val() == '' ? "NULL" : $("#input-color").val().toString();
                var customer = $("#input-customer").val() == '' ? "NULL" : $("#input-customer").val().toString();
                var size = $("#input-size").val() == '' ? "NULL" : $("#input-size").val().toString();

                var url = "/api/pickdetail/?shipOrderId=" + shipOrderId + "&container=" + container + "&customer=" + customer + "&purchaseOrder=" + po + "&style=" + style + "&color=" + color + "&size=" + size;

                alert(url);

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        layer.alert("Success!", function () {
                            window.location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            $(".btn-back").on("click", function () {
                //window.history.back(-1);
                window.location.replace("/ThirdPartyLogistics/shiporder/?departmentCode=CD");
            });
        });
    </script>
}
