
@{
    ViewBag.Title = "PickDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Ship Order Pick Detail Page</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>

    <div id="div-putback">
        <input type="button" id="btn-upload" class="btn btn-group btn-create1" value="Upload Pull Sheet/Load plan" />
        <button style="background-color:indianred;color:white" class="btn btn-group btn-template">Download Template</button>
        <input type="button" class="btn btn-info btn-update" value="Update picking info" />
        @*<button class="btn btn-primary btn-putback">Put back items</button>*@
    </div>
    <div>
        <input style="width:140px" id="input-container" class="input-sm" placeholder="Container" />
        <input style="width:140px" id="input-customer" class="input-sm" placeholder="Vendor" />
        <input style="width:140px" id="input-po" class="input-sm" placeholder="Cut PO" />
        <input style="width:140px" id="input-style" class="input-sm" placeholder="Style" />
        <input style="width:140px" id="input-color" class="input-sm" placeholder="Color" />
        <input style="width:140px" id="input-size" class="input-sm" placeholder="Size or Size Combo" />
        <button id="btn-pick" class="btn btn-info">Pick All In Regular Location</button>
        <button id="btn-search" class="btn btn-info">Search In Permanent Inventory</button>
        <button id="btn-searchregular" class="btn btn-info">Search In Regular Inventory</button><br />
        <font color="red">*The [Pick All In Regular Location] feature only takes out the first 1000 records.</font>
    </div>
    <div class="iframe-permanent" style="border:double;margin:20px;padding-left:20px;padding-right:20px">
        <h3>Permanent SKU</h3>
        <div>
            <table id="table-permanent" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Location</th>
                        <th>Vendor</th>
                        <th>Po</th>
                        <th>Style</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Available Pcs</th>
                        <th>Picking Pcs</th>
                        <th>Shipped Pcs</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div style="text-align:center">
            <button id="btn-pickpermanent" style="margin:20px;margin-right:0px" class="btn btn-primary">Pick filled permanent SKU</button>
            <button id="btn-close" style="margin:20px;margin-left:0px" class="btn btn-danger">Close</button>
        </div>
    </div>
    <div class="iframe-regular" style="border:double;margin:20px;padding-left:20px;padding-right:20px">
        <h3>Regular Inventory</h3>
        <div>
            <table id="table-regular" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Location</th>
                        <th>Vendor</th>
                        <th>Container</th>
                        <th>CC</th>
                        <th>Po</th>
                        <th>Style</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Org Ctns</th>
                        <th>Available Ctns</th>
                        <th>Picking Ctns</th>
                        <th>Shipped Ctns</th>
                        <th style="width:120px">Pick Ctns</th>
                        <th>Org Qty</th>
                        <th>Available Pcs</th>
                        <th>Picking Pcs</th>
                        <th>Shipped Pcs</th>
                        <th style="width:120px">Pick Pcs</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div style="text-align:center">
            <button id="btn-pickregular" style="margin:20px;margin-right:0px" class="btn btn-primary">Pick filled regular items</button>
            <button id="btn-closeregular" style="margin:20px;margin-left:0px" class="btn btn-danger">Close</button>
        </div>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Carton Range</th>
                    <th>Container</th>
                    <th>Cut PO</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Customer</th>
                    <th>Size</th>
                    <th>Pcs</th>
                    <th>Pack</th>
                    <th>Pick Ctns</th>
                    <th>Pick Pcs</th>
                    <th>Location</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="iframe">
    <div>
        <input id="upload2" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="Upload" />
    </div>
</div>
<div class="iframe-putback" style="text-align:center">
    <div style="margin-top:20px">
        <text>Current Picking Ctns: <font id="font-ctns" color="red">10</font></text>
    </div>
    <div style="margin-top:20px">
        <text>Current Picking Pcs: <font id="font-pcs" color="red">10</font></text>
    </div>
    <div style="margin-top:20px">
        <text>Puting Back Ctns: </text><input id="input-ctns" class="input-sm" style="width:50px" />
    </div>
    <div style="margin-top:20px">
        <text>Puting Back Pcs: </text><input id="input-pcs" class="input-sm" style="width:50px" />
    </div>
    <div style="margin-top:20px">
        <button class="btn btn-primary" id="btn-confirmputback">Confirm</button>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var table;
            var orderType;
            var container;
            var permanentTable;
            var regularTable;
            var url;
            var index;
            var pickDetailId;
            var searchBar = getUrlParameter('search');
            var searchUrl;
            $(".iframe").hide();
            $(".iframe-putback, .iframe-permanent, .iframe-regular").hide();

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            //从地址栏获取参数
            var shipOrderId = getUrlParameter('shipOrderId');
            var orderType = getUrlParameter('orderType');

            GetPickDetailTable();

            $("#btn-upload").on("click", function () {
                index = layer.open({
                    title: false,
                    type: 1,
                    shadeclose: true,
                    area: ["40%", "40%"],
                    content: $(".iframe")
                });
            });

            //点击确认放回按钮，确认放回
            $("#btn-confirmputback").on("click", function () {
                var putBackCtns = $("#input-ctns").val() == "" ? 0 : $("#input-ctns").val();
                var putBackPcs = $("#input-pcs").val() == "" ? 0 : $("#input-pcs").val();
                var pickingCtns = $(this).parent().parent("tr").children('td').eq(9).children('text').html();
                var pickingPcs = $(this).parent().parent("tr").children('td').eq(10).children('text').html();

                if (putBackCtns > pickingCtns || putBackPcs > pickingPcs)
                {
                    layer.alert("Incorrect putting back numbers.");
                }
                else
                {
                    url = "/api/pickdetail/?pickDetailId=" + pickDetailId + "&putBackCtns=" + putBackCtns + "&putBackPcs=" + putBackPcs + "&orderType=" + orderType;

                    grandChannel.sendAjaxMethod("DELETE", url, {});
                }
            });

            $("#uploadfile").on("click", function () {
                var formData = new FormData();
                var files = $("#upload2").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/pickdetail/" + shipOrderId,
                    data: formData,
                    beforeSend: function () {
                        layer.close(index);

                        layer.msg('Extracting files...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function () {
                        layer.alert("Upload successed!", function () {
                            window.location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            location.reload();
                        });
                    }
                });
                $(".iframe").hide();
            });

            //点击下载模板按钮下载Regular订单的pullsheet/loadplan模板
            $("#div-putback").on("click", ".btn-template", function () {
                $(window.location).attr('href', '/api/pickdetail/?orderType=' + orderType);
            });

            //点击更新"拣货信息(发货日期，拣货人等)"按钮，出现一系列表单
            $("#div-putback").on("click", ".btn-update", function () {
                var button = $(this);
                button.next().remove();
                button.replaceWith("<div><input id='input-pickingman' style='width:170px' class='input-sm' placeholder='Pick man' /><input id='input-pickdate' style='width:170px' class='input-sm' placeholder='Pick date(dd/MM/yyyy)' /><button class='btn btn-info btn-updatepickinginfo'>Update</button><div>");
            });

            //点击更新按钮，调用ajax更新
            $("#div-putback").on("click", ".btn-updatepickinginfo", function () {
                var pickingMan = $("#input-pickingman").val() == "" ? "Unassigned" : $("#input-pickingman").val().toString();
                var pickDate = $("#input-pickdate").val() == "" ? "Unassigned" : $("#input-pickdate").val().toString();

                url = "/api/pickdetail/?shipOrderId=" + shipOrderId + "&pickingMan=" + pickingMan + "&pickDate=" + pickDate;
                grandChannel.sendAjaxMethod("PUT", url, {});
            });

            //点击拣货按钮，按条件拣货
            $("#btn-pick").on("click", function () {
                var container = $("#input-container").val() == '' ? "NULL" : $("#input-container").val().toString();
                var po = $("#input-po").val() == '' ? "NULL" : $("#input-po").val().toString();
                var style = $("#input-style").val() == '' ? "NULL" : $("#input-style").val().toString();
                var color = $("#input-color").val() == '' ? "NULL" : $("#input-color").val().toString();
                var customer = $("#input-customer").val() == '' ? "NULL" : $("#input-customer").val().toString();
                var size = $("#input-size").val() == '' ? "NULL" : $("#input-size").val().toString();

                var url = "/api/pickdetail/?shipOrderId=" + shipOrderId + "&container=" + container + "&customer=" + customer + "&purchaseOrder=" + po + "&style=" + style + "&color=" + color + "&size=" + size;

                alert(url);

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        layer.alert("Success!", function () {
                            window.location.reload();
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });

            //点击搜索永久库位按钮，搜索永久库位中的SKU
            $("#btn-search").on("click", function () {
                $(".iframe-permanent").show();
                var po = $("#input-po").val().toString();
                var style = $("#input-style").val().toString();
                var color = $("#input-color").val().toString();
                var customer = $("#input-customer").val().toString();
                var size = $("#input-size").val().toString();

                var url = "/api/pickdetail/?customer=" + customer + "&purchaseOrder=" + po + "&style=" + style + "&color=" + color + "&size=" + size;

                GetPermanentTable(url, permanentTable, index);
            });

            //点击搜索普通库位按钮，搜索普通库位中的物品
            $("#btn-searchregular").on("click", function () {
                var container = $("#input-container").val().toString();
                var po = $("#input-po").val().toString();
                var style = $("#input-style").val().toString();
                var color = $("#input-color").val().toString();
                var customer = $("#input-customer").val().toString();
                var size = $("#input-size").val().toString();

                if (customer == "") {
                    alert("Vendor cannot be empty.");
                }
                else {
                    $(".iframe-regular").show();
                    searchUrl = "/api/pickdetail/?container=" + container + "&customer=" + customer + "&purchaseOrder=" + po + "&style=" + style + "&color=" + color + "&size=" + size;
                    GetRegularTable(searchUrl, regularTable, index);
                }
            });

            //点击PutBack按钮，弹出放回对话框
            $("#table").on("click", ".btn-putback", function () {
                var pickingCtns = $(this).parent().parent("tr").children('td').eq(9).children('text').html();
                var pickingPcs = $(this).parent().parent("tr").children('td').eq(10).children('text').html();
                orderType = $(this).attr('ordertype');
                
                pickDetailId = $(this).attr("iid");

                $("#font-ctns").html(pickingCtns);
                $("#font-pcs").html(pickingPcs);

                $("#input-ctns").val(pickingCtns);
                $("#input-pcs").val(pickingPcs);

                grandChannel.openiframe(index, ".iframe-putback", "300px", "280px");
            });

            //点击任何按钮，都将searchBar中的内容保存到url中但不刷新页面
            $("#table").on("click", ".btn", function () {
                tableSearch = $("#table_filter").children('label').children('input').val();
                window.history.pushState({}, {}, "/thirdpartylogistics/pickdetail/?shipOrderId=" + shipOrderId + "&orderType=" + orderType + "&search=" + tableSearch);
            });

            //点击捡取已填永久库位货按钮
            $("#btn-pickpermanent").on("click", function () {
                url = "/api/pickdetail/?shipOrderId=" + shipOrderId + "&orderType=Permanent";
                var objArray = new Array();

                $(".input-pcs").each(function (i) {
                    if ($(this).val() != "" && $(this).val() != 0) {
                    var obj = {
                        "locId": $(this).attr('iid'),
                        "pcs": $(this).val()
                    };
                    objArray.push(obj);
                    }
                });

                grandChannel.sendAjaxMethod("POST", url, objArray, index);
            });

            //点击捡已填regular库位货按钮
            $("#btn-pickregular").on("click", function () {
                url = "/api/pickdetail/?shipOrderId=" + shipOrderId + "&orderType=Regular";
                var objArray = new Array();

                $(".input-regularpcs").each(function (i) {
                    var thisPcs = $(this).val();
                    if (thisPcs != "" && thisPcs != 0) {
                        var obj = {
                            "id": $(this).attr('iid'),
                            "pcs": $(this).val(),
                            "ctns": 0
                        };
                        objArray.push(obj);
                    }
                });

                $(".input-regularctns").each(function (i) {
                    var thisCtns = $(this).val();
                    if (thisCtns != "" && thisCtns != 0) {
                        var obj = {
                            "id": $(this).attr('iid'),
                            "pcs": 0,
                            "ctns": $(this).val()
                        };
                        objArray.push(obj);
                    }
                });

                alert(JSON.stringify(objArray));

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(objArray),
                    beforeSend: function () {
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        alert("Pick success!");
                        GetRegularTable(searchUrl, regularTable, index);
                        GetPickDetailTable();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            location.reload();
                        });
                    }
                });
            });

            //点击关闭按钮，关闭permanent sku拣货页面
            $("#btn-close").on("click", function () {
                $(".iframe-permanent").hide();
            });

            //点击关闭按钮，关闭regular拣货页面
            $("#btn-closeregular").on("click", function () {
                $(".iframe-regular").hide();
            });

            //点击history按钮，查看出货history
            $("#table-regular").on("click", ".btn-history", function () {
                alert("Coming soon!");
            });

            //点击max按钮，将其对应的input值改为最大值
            $("#table-regular").on("click", ".btn-max", function () {
                $(this).prev().val($(this).prev().attr('max'));
            });

            //限制输入框输入数量超过最大可用数量
            $("#table-regular").on("keyup", ".input-regularpcs, .input-regularctns", function () {
                if ($(this).val() - $(this).attr('max') > 0)
                    $(this).val($(this).attr('max'));
                else if ($(this).val() - 0 < 0)
                    $(this).val(0);
            });

            function GetPickDetailTable() {
                $.ajax({
                    type: "GET",
                    url: "/api/pickdetail/" + shipOrderId,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);

                        if (table) {
                            table.destroy();
                        }
                        table = $("#table").DataTable({
                            destroy: true,
                            data: data,
                            //scrollX: true,
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: [
                                {
                                    data: "cartonRange",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "container",
                                    render: function (data) {
                                        container = data;
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                { 
                                    data: "purchaseOrder",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "style",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "color",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "customerCode",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "sizeBundle",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "pcsBundle",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "pcsPerCarton",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "pickCtns",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "pickPcs",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "location",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "id",
                                    render: function (data) {
                                        if (container == "NA")
                                            return "<button iid='" + data + "' class='btn btn-link btn-putback' ordertype='Permanent'>Put Back</button>";
                                        else
                                            return "<button iid='" + data + "' class='btn btn-link btn-putback' ordertype='Regular'>Put Back</button>";
                                    }
                                }
                            ]
                        });

                        var tableSearch = $("#table_filter").children('label').children('input');

                        if (searchBar != undefined) {
                            tableSearch.val(searchBar);
                            table.search(searchBar).draw();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            location.reload();
                        });
                    }
                });
            }

            function GetPermanentTable(url, table, index) {

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    type: "GET",
                    url: url,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);

                        if (table) {
                            table.destroy();
                        }
                        table = $("#table-permanent").DataTable({
                            data: data,
                            destroy: true,
                            //scrollX: true,
                            //order: [[2, "asc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: [
                                {
                                    data: "id",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "status",
                                    render: function (data) {
                                        if (data == "Active")
                                            return "<font color='green'>" + data + "</font>";
                                        return "<font color='red'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "location",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "vendor",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "purchaseOrder",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "style",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "color",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "size",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "quantity",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "availablePcs",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "pickingPcs",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "shippedPcs",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "id",
                                    render: function (data) {
                                            return "<input class='input-sm input-pcs' type='number' iid='" + data + "' value='0' /><button class='btn btn-link btn-history' iid='" + data + "'>History</button>";
                                    }
                                }
                            ]
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            }

            function GetRegularTable(url, table, index) {
                var cartons;
                var pieces;

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    type: "GET",
                    url: url,
                    beforeSend: function () {
                        layer.close(index);
                        index = layer.msg('Processing...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);

                        if (table) {
                            table.destroy();
                        }
                        table = $("#table-regular").DataTable({
                            data: data,
                            destroy: true,
                            //scrollX: true,
                            //order: [[2, "asc"]],
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            columns: [
                                {
                                    data: "id",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "status",
                                    render: function (data) {
                                        if (data == "Active")
                                            return "<font color='green'>" + data + "</font>";
                                        return "<font color='red'>" + data + "</font>";
                                    }
                                },
                                {
                                    data: "location",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "vendor",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "container",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "customerCode",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "purchaseOrder",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "style",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "color",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "sizeBundle",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "cartons",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "availableCtns",
                                    render: function (data) {
                                        cartons = data;
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "pickingCtns",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "shippedCtns",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "id",
                                    render: function (data) {
                                        if (cartons == 0)
                                            return "";
                                        else
                                            return "<input class='input-sm input-regularctns' type='number' iid='" + data + "' style='width:70px' min='0' max='" + cartons + "' value='0' /><button class='btn btn-link btn-max'>Max</button>";
                                    }
                                },
                                {
                                    data: "quantity",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "availablePcs",
                                    render: function (data) {
                                        pieces = data;
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "pickingPcs",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "shippedPcs",
                                    render: function (data) {
                                        return "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "id",
                                    render: function (data) {
                                        if (pieces == 0)
                                            return "";
                                        else 
                                            return "<input class='input-sm input-regularpcs' type='number' style='width:70px' min='0' max='" + pieces + "' iid='" + data + "' value='0' /><button class='btn btn-link btn-max'>Max</button>";
                                    }
                                },
                                {
                                    data: "id",
                                    render: function (data) {
                                        return "<button iid='" + data + "' class='btn btn-link btn-history' ordertype='Regular' >History</button>";
                                    }
                                }
                            ]
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            }

            function limitInput(o) {
                alert("test");
                var value = o.val();
                var min = 0;
                var max = o.attr('max');
                if (parseInt(value) < min) {
                    alert("min");
                    o.val(min);
                }
                else if (parseInt(value) > max) {
                    alert("max")
                    o.val(max);
                }
            }

            function onKeyUpCallBack() {
                alert("success!");
            }

            $(".btn-back").on("click", function () {
                window.history.back(-1);
                //window.location.replace("/ThirdPartyLogistics/shiporder/?departmentCode=CD");
            });
        });
    </script>
}
