
@{
    ViewBag.Title = "PullSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Pull Sheet Page</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <input id="input-range" type="text" class="input-lg" placeholder="Pick tikets range" />
        <input id="btn-create" type="button" class="btn btn-lg" value="Create pull sheet" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pick tickets range</th>
                    <th>Create date</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "/api/pullsheet/",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#table").DataTable({
                        data: data,
                        destroy: true,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pickTicketsRange",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "createDate",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    if (data == "New Create")
                                    {
                                        return "<text style='color:Green'>" + data + "</text>";
                                    }
                                    else if (data == "Picking")
                                    {
                                        return "<text style='color:Red'>" + data + "</text>";
                                    }
                                    else
                                    {
                                        return "<text style='color:blue'>" + data + "</text>";
                                    }
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    if (data == "Shipped")
                                    {
                                        return "<button class='btn btn-link btn-cancel'>Cancel</button>";
                                    }
                                    else
                                    {
                                        return "<button id='" +  data + "'class='btn btn-link btn-pick'>Pick</button><button class='btn btn-link btn-print'>Print</button><button class='btn btn-link btn-ship'>Ship</button><button class='btn btn-link btn-cancel'>Cancel</button>"
                                    }
                                }
                            }
                        ]
                    });
                },
                error: function () {
                    alert("Error!");
                }
            });

            $("#btn-create").on("click", function () {
                var range = $("#input-range").val().toString();

                if (range == "")
                {
                    alert("The fields are required.");
                }
                else
                {
                    var obj = {"range": range}
                    $.ajax({
                        type: "POST",
                        url: "/api/pullsheet/",
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            window.location.reload();
                        },
                        error: function () {
                            alert("Error!");
                        }
                    });
                }
            });

            $("#table").on("click", ".btn-pick", function () {
                var button = $(this);
                $(window.location).attr('href', '/thirdpartylogistics/pickdetail/?pullsheetid=' + button.attr('id'));
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
