
@{
    ViewBag.Title = "PullSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Pull Sheet Page</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div id="div-create">
        <button class="btn btn-primary btn-create">Created a new ship order</button>
    </div>
    @*<div>
        <input id="input-range" type="text" class="input-sm" placeholder="Pick tikets range" />
        <input id="btn-create" type="button" class="btn btn-primary" value="Create pull sheet" />
    </div>*@
    <div>
        <table id="table" class="table table-condensed table-hover table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th style="width:23px">Id</th>
                    <th @*style="width:49px"*@>PO</th>
                    <th style="width:79px">Customer</th>
                    <th @*style="width:254px"*@>Address</th>
                    <th style="width:141px">Pick tickets range</th>
                    <th style="width:92px">Create date</th>
                    <th style="width:63px">Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var status;

            $.ajax({
                type: "GET",
                url: "/api/pullsheet/",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#table").DataTable({
                        data: data,
                        order: [[0, "desc"]],
                        destroy: true,
                        //scrollX: true,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "orderPurchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "customer",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "address",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "pickTicketsRange",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "createDate",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    status = data;

                                    if (data == "New Create")
                                    {
                                        return "<text style='color:Green'>" + data + "</text>";
                                    }
                                    else if (data == "Picking")
                                    {
                                        return "<text style='color:Red'>" + data + "</text>";
                                    }
                                    else
                                    {
                                        return "<text style='color:blue'>" + data + "</text>";
                                    }
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    if (status == "Shipped")
                                    {
                                        return "<button class='btn btn-link btn-download' value='" + data + "' >Download</button><button value='" + data + "'class='btn btn-link btn-summary'>Summary</button>";
                                    }
                                    else if (status == "Picking")
                                    {
                                        return "<button id='" + data + "'class='btn btn-link btn-pick'>Pick</button><button value='" + data + "'class='btn btn-link btn-diag'>Diagnostic</button><button class='btn btn-link btn-cancel' value='" + data + "'>Cancel</button><button class='btn btn-link btn-download' value='" + data + "' >Download</button><button value='" + data + "'class='btn btn-link btn-summary'>Summary</button><button class='btn btn-link btn-ship' value='" + data + "'>Ship</button>"
                                    }
                                    else
                                    {
                                        return "<button id='" + data + "'class='btn btn-link btn-pick'>Pick</button><button value='" + data + "'class='btn btn-link btn-diag'>Diagnostic</button><button class='btn btn-link btn-cancel' value='" + data + "'>Cancel</button>"
                                    }
                                }
                            }
                        ]
                    });
                },
                error: function () {
                    alert("Error!");
                }
            });

            $("#div-create").on("click", ".btn-add",function () {
                var range = $("#input-range").val();
                var po = $("#input-po").val();
                var customer = $("#input-customer").val();
                var address = $("#input-address").val();

                if (range == "" || po == "" || customer == "" || address == "")
                {
                    alert("All fields are required.");
                }
                else
                {
                    var obj = {
                        "orderPurchaseOrder": po.toString(),
                        "customer": customer.toString(),
                        "address": address.toString(),
                        "pickTicketsRange": range.toString()
                    }
                    $.ajax({
                        type: "POST",
                        url: "/api/pullsheet/",
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            window.location.reload();
                        },
                        error: function () {
                            alert("Error!");
                        }
                    });
                }
            });

            $("#table").on("click", ".btn-pick", function () {
                var button = $(this);
                $(window.location).attr('href', '/thirdpartylogistics/pickdetail/?pullsheetid=' + button.attr('id'));
            });

            $("#table").on("click", ".btn-summary", function () {
                var button = $(this);
                $(window.location).attr('href', '/thirdpartylogistics/pickdetailsummary/?pullsheetid=' + button.attr('value'));
            });

            $("#table").on("click", ".btn-diag", function () {
                var button = $(this);
                $(window.location).attr('href', '/thirdpartylogistics/pullsheetdiagnostics/?pullsheetid=' + button.attr('value'));
            });

            $("#table").on("click", ".btn-ship", function () {
                var button = $(this);
                var id = button.attr('value');

                $.ajax({
                    type: "PUT",
                    url: "/api/pullsheet/" + id,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        alert("Selected pull sheet has been shipped.");
                        window.location.reload();
                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            });

            $("#table").on("click", ".btn-cancel", function () {
                var button = $(this);
                var id = button.attr('value');

                $.ajax({
                    type: "DELETE",
                    url: "/api/pullsheet/" + id,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function () {
                        alert("Selected pull sheet has been cancelled. All units and cartons have been went back to the original location and available now.");
                        window.location.reload();
                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            });

            $("#table").on("click", ".btn-download", function () {
                var button = $(this);
                var id = button.attr('value');

                $(window.location).attr('href', '/api/pullsheetpdf/' + id);
            });

            //点击新建发货单按钮，出现一系列表单
            $("#div-create").on("click", ".btn-create", function () {
                var button = $(this);
                button.next().remove();
                button.replaceWith("<div><input id='input-po' style='width:170px' class='input-sm' placeholder='Purchase order' /><input id='input-customer' style='width:170px' class='input-sm' placeholder='Customer' /><input id='input-address' style='width:270px' class='input-sm' placeholder='Address' /><input id='input-range' style='width:170px' class='input-sm' placeholder='Pick tickets range' /><button class='btn btn-primary btn-add'>New ship order</button><div>");
            });

            $(".btn-back").on("click", function () {
                //window.history.back(-1);
                window.location.replace("/ThirdPartyLogistics/index");
            });
        });
    </script>
}
