
@{
    ViewBag.Title = "PullSheetDiagnostics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Pull Sheet Diagnostics Page</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <input id="btn-clean" type="button" class="btn btn-danger" value="Clean All" />
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Diagnostic Date</th>
                    <th>Diagnostic Description</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var shipOrderId = grandChannel.getUrlParameter('shipOrderId');
            var shipOrderType = grandChannel.getUrlParameter('shipOrderType');
            var url;

            $.ajax({
                type: "GET",
                url: "/api/pullsheetdiagnostics/?shipOrderId=" + shipOrderId + "&shipOrderType=" + shipOrderType,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#table").DataTable({
                        data: data,
                        destroy: true,
                        //scrollX: true,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "type",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "diagnosticDate",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "description",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            }
                        ]
                    });
                },
                error: function () {
                    alert("Error!");
                }
            });
            
            $("#btn-clean").on("click", function () {
                url = "/api/pullsheetdiagnostics/?shipOrderId=" + shipOrderId + "&shipOrderType=" + shipOrderType;
                
                grandChannel.sendAjaxMethod("DELETE", url, {});
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}
