
@{
    ViewBag.Title = "PurchaseOrderStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Purchase Order Statistics</h2>

<div>
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <div>
            <font>
                Style:
                <input id="style" style="width:100px" />
            </font>
            <font>
                Color:
                <input id="color" style="width:100px" />
            </font>
            <font>
                Size:
                <input id="size" style="width:100px" />
            </font>
            <font>
                Adjust:
                <input id="adjust" style="width:100px" />
            </font>
            <input id="btn-adj" type="button" class="btn btn-info" value="Adjust" />
        </div>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Purchase Order</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Org Pcs</th>
                    <th>Adj Pcs</th>
                    <th>Inv Pcs</th>
                    <th>Adjust Detail</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table;
            var purchaseOrder;
            var style;
            var color;
            var size;

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            var po = getUrlParameter('po');

            $.ajax({
                type: "GET",
                url: "/api/purchaseorderstatistics/?po=" + po,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    table = $("#table").DataTable({
                        destroy: true,
                        data: data,
                        columns: [
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    purchaseOrder = data;
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    style = data;
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    color = data;
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "size",
                                render: function (data) {
                                    size = data;
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "orgPcs",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "adjPcs",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "invPcs",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<a href='/ThirdPartyLogistics/AdjustmentDetail/?poid=" + data + "'><button class='btn btn-link'>Adjustment History</button></a>"
                                        + "<a href='/ThirdPartyLogistics/IOHistory/?po=" + purchaseOrder + "&style=" + style + "&color=" + color + "&size=" + size + "'><button class='btn btn-link'>I/O History</button></a>";
                                }
                            }
                        ]
                    });
                },
                error: function () {
                    alert("error!");
                }
            });

            $("#btn-adj").on("click", function () {
                var style = $("#style").val().toString();
                var color = $("#color").val().toString();
                var size = $("#size").val().toString();
                var adjust = $("#adjust").val();

                var obj = {
                    "purchaseOrder": po,
                    "style": style,
                    "color": color,
                    "size": size,
                    "adjust": adjust
                };

                $.ajax({
                    type: "POST",
                    url: "/api/purchaseorderstatistics/",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        alert("success!");
                        location.reload();
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });

        });
    </script>
}
