
@{
    ViewBag.Title = "PurchaseOrderManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*管理Replenishment类型业务的PO*@
<h1>Third-party Logistics Distribution System</h1>
<h2>Purchase Order Management</h2>
<div>
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <div>
            <font>
                Purchase Order:
                <input id="po" style="width:100px" />
            </font>
            @*<font>
                Order Type:
                <input id="type" style="width:100px" />
            </font>*@
            @*<font>
                Vender:
                <input id="vender" style="width:100px" />
            </font>*@
            <input id="btn-addpo" type="button" class="btn btn-info" value="Add new Po" />
        </div>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Purchase Order</th>
                    <th>Vendor</th>
                    <th>Order Type</th>
                    <th>Available Pcs</th>
                    <th>Picking Pcs</th>
                    <th>Shipped Pcs</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table;

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            var vendor = getUrlParameter('vendor');

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: "GET",
                dataType: "json",
                url: "/api/PurchaseOrderManagement/?vendor=" + vendor,
                success: function (data) {

                    if (table) {
                        table.destroy();
                    }

                    table = $("#table").DataTable({
                        ordering: false,
                        destroy: true,
                        data: data,
                        scrollCollapse: true,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "vender",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "orderType",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "availablePcs",
                                render: function (data) {
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pickingPcs",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "shippedPcs",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<a href='/ThirdPartyLogistics/PurchaseOrderStatistics/?po=" + data + "'><button class='btn btn-link'>Inventory Statistics</button></a><br>"
                                        + "<a href='/ThirdPartyLogistics/replenishmentLocationDetail/?po=" + data + "'><button class='btn btn-link'>Location Distribution</button></a>";
                                }
                            }
                        ]
                    });
                }
            });

            $("#btn-addpo").on("click", function () {

                var po = $("#po").val().toString();

                if (po == "")
                {
                    alert("All fields are required!");
                }
                else
                {
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        type: "POST",
                        dataType: "json",
                        url: "/api/PurchaseOrderManagement/?newPurchaseOrder=" + po,
                        success: function (data) {
                            alert("Success!");

                            location.reload();
                        },
                        error: function (data) {
                            alert("error!");
                        }
                    });
                }
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}