
@{
    ViewBag.Title = "ReceivingReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Pre-Receiving Management Page</h2>
<h3 id="container"></h3>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div style="margin:20px;padding-top:20px;text-align:center;border:double">
        <text>Vendor: </text><input id="vendor" class="input-sm" placeholder="Vendor" />
        <text>Receiving Date: </text><input id="receiveddate" class="input-sm" type="date" />
        <text>Reference: </text><input id="reference" class="input-sm" placeholder="REFERENCE" />
        <text>Receipt #: </text><input id="receiptnumber" class="input-sm" placeholder="RECEIPT #" />
        <text>Mark: </text><input id="remark" class="input-sm" placeholder="REMARK" />
        <div style="margin:20px;text-align:center">
            <button id="btn-generate" class="btn btn-primary">Save&Generate Receiving Report</button>
        </div>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th style="width:100px">Cut PO</th>
                    <th style="width:120px">Style</th>
                    <th style="width:80px">Color</th>
                    <th style="width:80px">Customer</th>
                    <th style="width:100px">Size</th>
                    <th style="width:80px">Pcs</th>
                    <th style="width:80px">Fcs Qty</th>
                    <th style="width:80px">Ttl Qty</th>
                    <th style="width:80px">Fcs Ctns</th>
                    <th style="width:80px">Ttl Ctns</th>
                    <th style="width:80px">SKU</th>
                    <th style="width:80px">Received By</th>
                    <th style="width:80px">Adjusted By</th>
                    <th>Comment</th>
                    <th>Pre-location</th>
                    <th>Operation</th>
                    @*<th style="width:80px">Operation</th>*@
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div style="text-align:center">
            <button style="width:300px" id="btn-save" class="btn btn-primary">Save Comment and Pre-location</button>
            <input id="input-download" class="btn btn-info" type="button" value="Download" />
        </div>
    </div>
</div>
<div class="iframe-location" style="margin:20px;text-align:center">
    <h3>Add location</h3>
    <input id="input-location" class="input-sm" placeholder="Location"/>
    <input id="input-ctns" class="input-sm" type="number" placeholder="Ctns" />
    <input id="input-plts" class="input-sm" type="number" placeholder="Number of locations" />
    <input id="btn-add" class="btn btn-info" type="button" value="Add" />
    <table id="table-location" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Location</th>
                <th style="width:150px">Ctns</th>
                <th>Number Of Locations</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <input id="input-confirm" class="btn btn-info" type="button" value="Confirm" />
</div>

<style type="text/css">
        th {
            text-align: center; /** 设置水平方向居中 */
            vertical-align: middle; /** 设置垂直方向居中 */
        }
        td {
            text-align: center; /** 设置水平方向居中 */
            vertical-align: middle; /** 设置垂直方向居中 */
        }
    </style>

@section scripts
{
    <script>
        $(document).ready(function () {

            var url;
            var index;
            var table;
            var carton;
            var cartonDetailId;

            $(".iframe-location").hide();

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            var preId = getUrlParameter('preid');
            var container = getUrlParameter('container');
            $("#container").html("Container:" + container);

            //获取Container的信息
            $.ajax({
                type: "GET",
                url: "/api/container/?container=" + container,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#vendor").val(data.vendor);
                    $("#receiveddate").val(data.inboundDate.substring(0, 10));
                    $("#reference").val(data.reference);
                    $("#receiptnumber").val(data.receiptNumber);
                    $("#remark").val(data.remark);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseJSON.exceptionMessage);
                }
            });

            var urlstring = "/api/receivingreport/?preid=" + preId + "&container=" + container;

            //获取其他收货信息
            $.ajax({
                type: "GET",
                url: urlstring,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data, status, xhr) {
                    $("#table").DataTable({
                        data: data,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "customer",
                                render: function (data) {
                                    return "<font'>" + data + "</font>";
                                }
                            },
                            {
                                data: "sizeBundle",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pcsBundle",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "quantity",
                                render: function (data) {
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "actualPcs",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "cartons",
                                render: function (data) {
                                    carton = data;
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "actualCtns",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "sku",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "receiver",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "adjustor",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "comment",
                                render: function (data) {
                                    if (data == null)
                                        data = "";

                                    if (carton == 0)
                                        return "";

                                    return "<input class='input-sm input-comment' value='" + data + "' />";
                                }
                            },
                            {
                                data: "preLocation",
                                render: function (data) {
                                    if (data == null)
                                        data = "";

                                    if (carton == 0)
                                        return "";

                                    return "<input class='input-sm input-prelocation' value='" + data + "' />";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {

                                    if (carton == 0)
                                        return "";

                                    return "<button iid='" + data + "' class='btn btn-link btn-allocate'>Pre-allocate</button>";
                                }
                            }
                        ]
                    });
                }
            });

            //点击保存预收信息按钮，保存comment和prelocation
            $("#btn-save").on("click", function () {

                var objArray = new Array();

                $(".input-prelocation").each(function (i) {
                    var preLocation = $(this).val();
                    var id = $(this).parents().parents("tr").children("td").eq(0).children("text").html();
                    var comment = $(this).parents().parents("tr").children("td").eq(14).children("input").val();
                    var obj = {
                        "id": id,
                        "comment": comment,
                        "preLocation": preLocation
                    }
                    if (preLocation != "" || comment != "")
                        objArray.push(obj);
                });
                url = "/api/receivingreport/?preId=" + preId + "&container=" + container;

                grandChannel.sendAjaxMethod("PUT", url, objArray, index);
            });

            //点击Edit，将对应Comment列中的<text>元素替换成<input>元素，并用一个Ok按钮替换Edit按钮, 
            $("#table").on("click", ".btn-edit", function () {
                var button = $(this);
                var cartonDetailId = button.attr('id');

                var commentObj = button.parent().parent("tr").children('td').eq(13).children('font');
                var content = button.parent().parent("tr").children('td').eq(13).children('font').html();

                commentObj.replaceWith("<input class='input-lg' value='" + content + "' />");
                button.replaceWith("<button id='" + cartonDetailId + "' class='btn btn-link btn-confirm'>Ok</button>");
            });

            //点击Ok，将对应的Comment列中的<input>元素替换成<font>元素，然后将内容同步到数据库，并用一个Edit按钮替换Ok按钮, 
            $("#table").on("click", ".btn-confirm", function () {
                var button = $(this);
                var cartonDetailId = button.attr('id');

                var commentObj = button.parent().parent("tr").children('td').eq(13).children("input");
                var content = commentObj.val();

                var obj = {
                    "id": cartonDetailId,
                    "comment": content
                };

                $.ajax({
                    type: "PUT",
                    url: "/api/receivingreport/" + preId,
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: function () {

                    },
                    error: function () {
                        alert("Update comment failed.");
                    }
                });

                commentObj.replaceWith("<font>" + content + "</font>");
                button.replaceWith("<button id='" + cartonDetailId + "' class='btn btn-link btn-edit'>Edit</button>");
            });

            //点击生成客制版收货报告
            $("#btn-generate").on("click", function () {
                //更新编辑后的Container信息
                if ($("#vendor").val() == "" || $("#receiveddate").val() == null)
                {
                    alert("Vendor and Received Date cannot be empty.");
                }
                else
                {
                    var obj = {
                        "preId": preId,
                        "containerNumber": container,
                        "vendor": $("#vendor").val().toString(),
                        "receivedDate": $("#receiveddate").val().toString(),
                        "reference": $("#reference").val() == null ? " " : $("#reference").val().toString(),
                        "receiptNumber": $("#receiptnumber").val() == null ? " " : $("#receiptnumber").val().toString(),
                        "remark": $("#remark").val() == null ? " " : $("#remark").val().toString()
                    };

                    $.ajax({
                        type: "PUT",
                        url: "/api/container/?container=" + container,
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(obj),
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            $(window.location).attr('href', "/ThirdPartyLogistics/FCReceivingReport/?preid=" + preId + "&container=" + container);
                        },
                        error: function () {
                            alert("Update container info failed.");
                        }
                    });

                }

            });

            //点击pre-allocate按钮，打开preallocate界面
            $("#table").on("click", ".btn-allocate", function () {
                cartonDetailId = $(this).attr('iid');
                $("#input-location").val("");
                $("#input-plts").val("");
                $("#input-ctns").val("");

                $("#table-location tbody").html("");

                url = "/api/receivingreport/?cartonDetailId=" + cartonDetailId;

                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        for (i in data)
                        {
                            $("#table-location tbody").append("<tr><td>" + data[i].location + "</td><td>" + data[i].ctns + "</td><td>" + data[i].plts + "</td><td><input type='btn' class='btn btn-link btn-delete' value='Delete' /></td></tr>");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.responseJSON.exceptionMessage);
                    }
                });

                grandChannel.openiframe(index, ".iframe-location", "650px", "400px");
            });

            //点击Add按钮，添加行数
            $("#btn-add").on("click", function () {
                var ctns = $("#input-ctns").val();
                var plts = $("#input-plts").val();
                var loc = $("#input-location").val();

                $("#table-location tbody").append("<tr><td>" + loc + "</td><td>" + ctns + "</td><td>" + plts + "</td><td><input type='btn' class='btn btn-link btn-delete' value='Delete' /></td></tr>");
            });

            //点击delete按钮，删除当前行
            $("#table-location").on("click", ".btn-delete", function () {
                $(this).parent().parent("tr").remove();
            });

            //点击confirm按钮，将预分配库位信息上传到服务器解析处理
            $("#input-confirm").on("click", function () {
                var objArray = new Array();

                $(".btn-delete").each(function (i) {
                    var loc = $(this).parent().parent("tr").children("td").eq(0).html();
                    var ctns = $(this).parent().parent("tr").children("td").eq(1).html();
                    var plts = $(this).parent().parent("tr").children("td").eq(2).html();

                    var obj = {
                        "location": loc,
                        "ctns": ctns,
                        "plts": plts
                    }

                    objArray.push(obj);
                });
                url = "/api/receivingreport/?cartonDetailId=" + cartonDetailId;
                grandChannel.sendAjaxMethod("PUT", url, objArray, index);
            });

            //点击下载按钮，下载带库位分配的packing list
            $("#input-download").on("click", function () {
                $(window.location).attr('href', '/api/receivingreport/?container=' + container);
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}