
@{
    ViewBag.Title = "ReceivingReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Receiving Report</h2>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <font>Container: <font id="container" class="input-sm"></font></font><br />
        <input id="vendor" class="input-sm" placeholder="Vendor" /><br />
        <input id="receiveddate" class="input-sm" placeholder="RCVD DATE(MM/dd/yy)" /><br />
        <input id="reference" class="input-sm" placeholder="REFERENCE" /><br />
        <input id="receiptnumber" class="input-sm" placeholder="RECEIPT #" /><br />
        <input id="remark" class="input-sm" placeholder="REMARK" />
    </div>
    <div>
        <button id="btn-generate" class="btn btn-primary">Generate Receiving Report for Customer</button>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:100px">Cut PO</th>
                    <th style="width:120px">Style</th>
                    <th style="width:80px">Color</th>
                    <th style="width:80px">Customer</th>
                    <th style="width:100px">Size</th>
                    <th style="width:80px">Pcs</th>
                    <th style="width:80px">Fcs Qty</th>
                    <th style="width:80px">Ttl Qty</th>
                    <th style="width:80px">Fcs Ctns</th>
                    <th style="width:80px">Ttl Ctns</th>
                    <th>Comment</th>
                    <th style="width:80px">Received By</th>
                    <th style="width:80px">Adjusted By</th>
                    <th style="width:80px">Operation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            var preId = getUrlParameter('preid');
            var container = getUrlParameter('container');
            $("#container").html(container);

            //获取Container的信息
            $.ajax({
                type: "GET",
                url: "/api/container/?container=" + container,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#vendor").val(data.vendor);
                    $("#receiveddate").val(data.receivedDate);
                    $("#reference").val(data.reference);
                    $("#receiptnumber").val(data.receiptNumber);
                    $("#remark").val(data.remark);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseJSON.exceptionMessage);
                }
            });

            var urlstring = "/api/receivingreport/?preid=" + preId + "&container=" + container;

            //获取其他收货信息
            $.ajax({
                type: "GET",
                url: urlstring,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data, status, xhr) {
                    $("#table").DataTable({
                        data: data,
                        scrollY: "600px",
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "customer",
                                render: function (data) {
                                    return "<font'>" + data + "</font>";
                                }
                            },
                            {
                                data: "sizeBundle",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pcsBundle",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "quantity",
                                render: function (data) {
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "actualPcs",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "cartons",
                                render: function (data) {
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "actualCtns",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "comment",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "receiver",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "adjustor",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button id='" + data + "' class='btn btn-link btn-edit'>Edit Comment</button>";
                                }
                            }
                        ]
                    });
                }
            });

            //点击Edit，将对应Comment列中的<text>元素替换成<input>元素，并用一个Ok按钮替换Edit按钮, 
            $("#table").on("click", ".btn-edit", function () {
                var button = $(this);
                var cartonDetailId = button.attr('id');

                var commentObj = button.parent().parent("tr").children('td').eq(10).children('font');
                var content = button.parent().parent("tr").children('td').eq(10).children('font').html();

                commentObj.replaceWith("<input class='input-lg' value='" + content + "' />");
                button.replaceWith("<button id='" + cartonDetailId + "' class='btn btn-link btn-confirm'>Ok</button>");
            });

            //点击Ok，将对应的Comment列中的<input>元素替换成<font>元素，然后将内容同步到数据库，并用一个Edit按钮替换Ok按钮, 
            $("#table").on("click", ".btn-confirm", function () {
                var button = $(this);
                var cartonDetailId = button.attr('id');

                var commentObj = button.parent().parent("tr").children('td').eq(10).children("input");
                var content = commentObj.val();

                var obj = {
                    "id": cartonDetailId,
                    "comment": content
                };

                $.ajax({
                    type: "PUT",
                    url: "/api/receivingreport/" + preId,
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: function () {

                    },
                    error: function () {
                        alert("Update comment failed.");
                    }
                });

                commentObj.replaceWith("<font>" + content + "</font>");
                button.replaceWith("<button id='" + cartonDetailId + "' class='btn btn-link btn-edit'>Edit</button>");
            });

            //点击生成客制版收货报告
            $("#btn-generate").on("click", function () {
                //更新编辑后的Container信息
                if ($("#vendor").val() == "" || $("#receiveddate").val() == null)
                {
                    alert("Vendor and Received Date cannot be empty.");
                }
                else
                {
                    var obj = {
                        "containerNumber": $("#container").html(),
                        "vendor": $("#vendor").val().toString(),
                        "receivedDate": $("#receiveddate").val().toString(),
                        "reference": $("#reference").val() == null ? " " : $("#reference").val().toString(),
                        "receiptNumber": $("#receiptnumber").val() == null ? " " : $("#receiptnumber").val().toString(),
                        "remark": $("#remark").val() == null ? " " : $("#remark").val().toString()
                    };

                    $.ajax({
                        type: "PUT",
                        url: "/api/container/?container=" + container,
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(obj),
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            $(window.location).attr('href', "/ThirdPartyLogistics/FCReceivingReport/?preid=" + preId + "&container=" + container);
                        },
                        error: function () {
                            alert("Update container info failed.");
                        }
                    });

                }

            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}