
@{
    ViewBag.Title = "ReplenishmentLocationDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Third-party Logistics Distribution System</h1>
<h2>Replenishment Location Detail</h2>
<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    @*<div>
        <input id="btn-upload" type="button" class="btn btn-info" value="Upload location distribution" /> 
        <input id="btn-download" type="button" class="btn btn-info" value="Download location distribution template" />
        <input id="btn-undo" type="button" class="btn btn-danger" value="Undo" />
    </div>*@
    <div>
        <font>Po#: <font color="red" id="potext">N/A</font></font>
    </div>
    @*<div>
        <div>
            <font>
                Style:
                <input id="style" style="width:100px" />
            </font>
            <font>
                Color:
                <input id="color" style="width:100px" />
            </font>
            <font>
                Size:
                <input id="size" style="width:100px" />
            </font>
            <font>
                Ctns:
                <input id="ctns" style="width:100px" />
            </font>
            <font>
                Quantity:
                <input id="quantity" style="width:100px" />
            </font>
            <font>
                Location:
                <input id="location" style="width:100px" />
            </font>
            <input id="btn-inbound" type="button" class="btn btn-info" value="Single inbound" />
        </div>
    </div>*@
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Location Id</th>
                    <th>Inbound Date</th>
                    <th>Status</th>
                    <th>Operator</th>
                    <th>Status</th>
                    <th>Cut PO</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Org Pcs</th>
                    <th>Available Pcs</th>
                    <th>Picking Pcs</th>
                    <th>Shipped Pcs</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe">
    <div>
        <input id="upload" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile" type="button" class="btn btn-default" value="上传文件" />
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var index;
            var table;
            var locationId;
            var locationValue;
            $(".iframe").hide();


            //解析url中的参数函数
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            //从地址栏获取参数
            var po = getUrlParameter('po').toString();

            $("#potext").html(po);

            $.ajax({
                type: "GET",
                url: "/api/replenishmentLocationDetail/?po=" + po,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (table)
                    {
                        table.destroy();
                    }

                    table = $("#table").DataTable({
                        destroy: true,
                        data: data,
                        scrollCollapse: true,
                        scrollY: "600px",
                        order: [[0, "desc"]],
                        iDisplayLength: 100,
                        columns: [
                            {
                                data: "id",
                                render: function (data) {
                                    locationId = data;
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "inboundDate",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    if (data == "In Stock")
                                        return "<font color='green'>" + data + "</font>";
                                    else if (data == "Picking")
                                        return "<font color='red'>" + data + "</font>";
                                    else if (data == "Shipped")
                                        return "<font color='blue'>" + data + "</font>";
                                    else
                                        return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "operator",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "size",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "quantity",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "availablePcs",
                                render: function (data) {
                                    return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pickingPcs",
                                render: function (data) {
                                    return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "shippedPcs",
                                render: function (data) {
                                    return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "location",
                                render: function (data) {
                                    return "<text locationid='" + locationId + "' class='text-location'>" + data + "</text>";
                                }
                            }
                        ]
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        location.reload();
                    });
                }
            });

            $("#table").on("click", ".text-location", function () {
                locationValue = $(this).html();
                locationId = $(this).attr('locationid');
                $(this).replaceWith("<input locationid='" + locationId + "' class='input-sm input-location' value='" + locationValue + "' placeholder='" + locationValue + "' />");
            });

            $("#table").on("keypress", ".input-location", function () {

                locationHolder = $(this).attr('placeholder');
                locationValue = $(this).val();
                locationId = $(this).attr('locationid');

                if (locationValue == "")
                {
                    locationValue = locationHolder;
                }

                //按回车，触发事件
                if (event.keyCode == "13") {
                    $.ajax({
                        type: "PUT",
                        url: "/api/replenishmentLocationDetail/?locationId=" + locationId + "&locationValue=" + locationValue,
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function () {
                            alert("Success!");
                            window.location.reload();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                location.reload();
                            });
                        }
                    });
                }
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}