
@{
    ViewBag.Title = "RetrievingDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>Retrieving Detail</h2>
<div>
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <input id="btn-loadplan" type="button" class="btn btn-info" value="Upload File" />
    </div>
    <div>
        <div>
            <font>
                PO Number:
                <input id="poNumber" style="width:100px" />
            </font>
            <font>
                Style:
                <input id="style" style="width:100px" />
            </font>
            <font>
                Color:
                <input id="color" style="width:100px" />
            </font>
            <font>
                Size:
                <input id="size" style="width:100px" />
            </font>
            <font>
                Grand Total:
                <input id="total" style="width:100px" />
            </font>
            <input id="btn-retrieve" type="button" class="btn btn-info" value="Retrieve" />
        </div>
    </div>
    <div>
        <table id="table" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>PO#</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Retrieve Ctns</th>
                    <th>Total Ctns In Location</th>
                    <th>Retrieve Pcs</th>
                    <th>Target Pcs</th>
                    <th>Is Opened CT?</th>
                    <th>Should Open A new CT?</th>
                    <th>Retrieve Date</th>
                    <th>Shortage</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="iframe">
    <div>
        <input id="upload3" type="file" accept="xls/xlsx" />
    </div>
    <div>
        <input id="uploadfile2" type="button" class="btn btn-default" value="上传文件" />
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var arr = new Array("default", "default", "default", "default", 0);
            var table;
            $(".iframe").hide();

            //获取单个散货取件信息
            $("#btn-retrieve").on("click", function () {
                $("#poNumber").val() == "" ? alert("All feilds cannot be empty!") : arr[0] = $("#poNumber").val();
                $("#style").val() == "" ? alert("All feilds cannot be empty!") : arr[1] = $("#style").val();
                $("#color").val() == "" ? alert("All feilds cannot be empty!") : arr[2] = $("#color").val();
                $("#size").val() == "" ? alert("All feilds cannot be empty!") : arr[3] = $("#size").val();
                $("#total").val() == "" ? alert("All feilds cannot be empty!") : arr[4] = $("#total").val();
                
                var obj = {
                    "purchaseOrder": $("#poNumber").val(),
                    "style": $("#style").val(),
                    "color": $("#color").val(),
                    "size": $("#size").val(),
                    "grandTotal": $("#total").val()
                };

                alert(JSON.stringify(obj));

                $.ajax({
                    type: "POST",
                    url: "/api/RetrievingDetail",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: function (data, status, xhr) {
                        if (table) {
                            table.destroy();
                        }
                        table = $("#table").DataTable({
                            destroy: true,
                            data: data,
                            columns: [
                                {
                                    data: "location",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "purchaseOrder",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "style",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "color",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "size",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "numberOfCartons",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "totalOfCartons",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "retrivedPcs",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "targetPcs",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "isOpened",
                                    render: function (data) {
                                        return data == true ? "<text>YES</text>" : "<text>NO</text>";
                                    }
                                },
                                {
                                    data: "ifOpen",
                                    render: function (data) {
                                        return data == null ? "<text>Unnecessary</text>" : "<text>Open 1 CT</text>";
                                    }
                                },
                                {
                                    data: "retrievedDate",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "shortage",
                                    render: function (data) {
                                        return data == 0 ? "" : "<text>" + data + "</text>";
                                    }
                                }
                            ]
                        });
                    },
                    error: function () {
                        alert("Retrieving failed. Reason: One or multiple Sizes are out of stock.")
                    }
                });
            });

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });

            //打开上传按钮界面事件
            $("#btn-loadplan").click(function () {
                layui.use("layer", function () {
                    var layer = layui.layer;

                    layer.open({
                        title: false,
                        type: 1,
                        shadeclose: true,
                        area: ["40%", "40%"],
                        content: $(".iframe")
                    });
                });
            });

            //上传文件按钮事件
            $("#uploadfile2").on("click", function () {
                var formData = new FormData();
                var files = $("#upload3").get(0).files;

                if (files.length > 0) {
                    formData.append("fileName", files[0]);
                }

                $.ajax({
                    contentType: false,
                    cache: false,
                    processData: false,
                    type: "POST",
                    url: "/api/RereivingDetailExcelFile",
                    data: formData,
                    beforeSend: function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('Extracting files...', {
                                icon: 16,
                                shade: 0.01,
                                time: 99 * 1000
                            });;
                        });
                    },
                    success: function (data) {
                        layer.alert("Extract successed!");

                        if (table)
                            table.destroy();

                        table = $("#table").DataTable({
                            destroy: true,
                            data: data,
                            columns: [
                                {
                                    data: "location",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "purchaseOrder",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "style",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "color",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "size",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "numberOfCartons",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "totalOfCartons",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "retrivedPcs",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "targetPcs",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "isOpened",
                                    render: function (data) {
                                        return data == true ? "<text>YES</text>" : "<text>NO</text>";
                                    }
                                },
                                {
                                    data: "ifOpen",
                                    render: function (data) {
                                        return data == null ? "<text>Unnecessary</text>" : "<text>Open 1 CT</text>";
                                    }
                                },
                                {
                                    data: "retrievedDate",
                                    render: function (data) {
                                        return data == null ? "" : "<text>" + data + "</text>";
                                    }
                                },
                                {
                                    data: "shortage",
                                    render: function (data) {
                                        return data == 0 ? "" : "<font color='red'  style='width:30px'>" + data + "</font>";
                                    }
                                }
                            ]
                        });
                    },
                    error: function () {
                        layer.alert("An error occured on the server!");
                    }
                });

                $(".iframe").hide();

            });
        });
    </script>
}
