
@{
    ViewBag.Title = "ShipDetailHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Third-party Logistics Distribution System</h1>
<h2>ShipDeatil History</h2>

<div class="maincontainer">
    <div>
        <input type="button" class="btn btn-default btn-back" value="<< Back" />
    </div>
    <div>
        <select id="select-vendor" style="width:170px;height:30px"></select>
        <input style="width:140px" id="input-container" class="input-sm" placeholder="Container" />
        <input style="width:140px" id="input-po" class="input-sm" placeholder="Cut PO" />
        <input style="width:140px" id="input-style" class="input-sm" placeholder="Style" />
        <input style="width:140px" id="input-color" class="input-sm" placeholder="Color" />
        <input style="width:140px" id="input-customer" class="input-sm" placeholder="Customer" />
        <input style="width:140px" id="input-size" class="input-sm" placeholder="Size or Size Combo" />
        <input style="width:140px" id="input-location" class="input-sm" placeholder="Location" />
        <button id="btn-search" class="btn btn-info">Search</button>
    </div>
    <div>
        <div>
            <table id="table" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Ship PO</th>
                        <th>Container</th>
                        <th>Vendor</th>
                        <th>Cut Po</th>
                        <th>Ship Date</th>
                        <th>Customer Code</th>
                        <th>Style</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Pcs</th>
                        <th>Picked Ctns</th>
                        <th>Picked Pcs</th>
                        <th>Allocated By</th>
                        <th>Carton Range</th>
                        <th>Batch</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var table;
            var index;
            var url;
            var searchBar
            var orderType;
            var orderType = grandChannel.getUrlParameter('orderType');
            var locationId = grandChannel.getUrlParameter('locationId');

            var columnsArray = [
                {
                    data: "status",
                    render: function (data) {
                        if (data == "New Created") {
                            return "<text style='color:Orange'>" + data + "</text>";
                        }
                        else if (data == "Picking") {
                            return "<text style='color:Red'>" + data + "</text>";
                        }
                        else if (data == "Ready") {
                            return "<text style='color:Green'>" + data + "</text>";
                        }
                        else {
                            return "<text style='color:blue'>" + data + "</text>";
                        }
                    }
                },
                {
                    data: "shipPO",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "container",
                    render: function (data) {
                        if (data == undefined)
                            return "<text>N/A</text>";
                        else
                            return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "vendor",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "cutPO",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "shipDate",
                    render: function (data) {
                        return "<text>" + data.toString().substring(0, 10) + "</text>";
                    }
                },
                {
                    data: "customerCode",
                    render: function (data) {
                        return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "style",
                    render: function (data) {
                        return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "color",
                    render: function (data) {
                        return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "size",
                    render: function (data) {
                        return "<font>" + data + "</font>";
                    }
                },
                {
                    data: "pcs",
                    render: function (data) {
                        if (data == undefined)
                            return "<text>N/A</text>";
                        else
                            return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "pickedCtns",
                    render: function (data) {
                        return "<font color='green'>" + data + "</font>";
                    }
                },
                {
                    data: "pickedPcs",
                    render: function (data) {
                        return "<font color='green'>" + data + "</font>";
                    }
                },
                {
                    data: "allocator",
                    render: function (data) {
                        if (data == undefined)
                            return "<text>N/A</text>";
                        else
                            return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "cartonRange",
                    render: function (data) {
                        if (data == undefined)
                            return "<text>N/A</text>";
                        else
                            return "<text>" + data + "</text>";
                    }
                },
                {
                    data: "batch",
                    render: function (data) {
                        if (data == undefined) {
                            return "<text>N/A</text>";
                        }
                        else {
                            return "<text>" + data + "</text>";
                        }
                    }
                },
                {
                    data: "location",
                    render: function (data) {
                        return "<font color='orange'>" + data + "</font>";
                    }
                }
            ];

            //如果locationId和orderType参数都不是undefined，则获取表
            if (orderType != undefined && locationId != undefined)
            {
                url = "/api/shipdetailhistory/?locationId=" + locationId + "&orderType=" + orderType;
                grandChannel.getAjaxMiniTable("GET", url, "#table", table, columnsArray, index);
            }

            //动态获取Vendor数据
            $.ajax({
                type: "GET",
                url: "/api/uppervendor/?departmentCode=CD",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#select-vendor").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    bootbox.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });

            //点击搜索，返回搜索结果
            $("#btn-search").on("click", function () {

                var container = $("#input-container").val().toString();
                var po = $("#input-po").val().toString();
                var style = $("#input-style").val().toString();
                var color = $("#input-color").val().toString();
                var customer = $("#input-customer").val().toString();
                var size = $("#input-size").val().toString();
                var location = $("#input-location").val().toString();
                var vendor = $("#select-vendor option:selected").val();

                url = "/api/shipdetailhistory/?vendor=" + vendor + "&container=" + container + "&purchaseOrder=" + po + "&style=" + style + "&color=" + color + "&customer=" + customer + "&size=" + size + "&location=" + location;

                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    beforeSend: function () {
                        index =  layer.msg('Searching...', {
                            icon: 1,
                            shade: 0.01,
                            time: 99 * 1000
                        });
                    },
                    success: function (data) {
                        layer.close(index);

                        if (table) {
                            table.destroy();
                        }

                        table = $("#table").DataTable({
                            scrollCollapse: true,
                            scrollY: "600px",
                            iDisplayLength: 100,
                            data: data,
                            destroy: true,
                            columns: columnsArray,
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                            window.location.reload();
                        });
                    }
                });
            });
            

            $(".btn-back").on("click", function () {
                window.history.back(-1);
            });
        });
    </script>
}