@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<html>
    <head>
        <style>
        h1{font-size:2.5em;background-color:lightgray;margin:5px;padding:5px;}
        button{font-size:.5em;}
        input{font-size:1.3em;}
        #scanData{width:90%;margin:10px;}
        </style>
    </head>
    <body>
        <h1>
            Barcode
            <button onclick="window.location.href='./index.html'">Home</button>
            <button onclick="EB.Application.quit();">Quit</button>
        </h1>

        <div id=content>
            <input id="scanData" type=text>
            <input type=button value="Enable Scan">
            <input type=button value="Disable Scan">
        </div>
        <div>
            <button id="btn-test" class="btn btn-primary">TEST</button>
        </div>
    </body>
</html>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
@section scripts
{
    <script>
    $(document).ready(function () {
        var index;
        var table;
        var url;

        $("#btn-test").on("click", function () {
            url = "/api/barcode/?operation=test";

            $.ajax({
                type: "GET",
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                beforeSend: function () {
                    layer.close(index);
                    pIndex = layer.msg('Processing...', {
                        icon: 3,
                        shade: 0.01,
                        time: 99 * 1000
                    });
                },
                success: function (data) {
                    alert(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });
        });
    });
    </script>
}