@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grand Channel Inc.</h1>
    <p class="lead">A Commercial Warehouse specially operated for FBA cargo delivery and E-Commerce cargo online order fulfillment.</p>
    <p><b>Location:</b> 3 minutes to Los Angeles 60 Freeway</p>
    <p><b>Address:</b> 13780 Central Ave., Chino, CA 91710</p>
    <p><a href="~/Home/Test" class="btn btn-primary btn-lg">Test! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RWMS</h2>
        <p>
            Derived from FBA System
        </p>
        <p><a class="btn btn-default" href="~/fba/index">Go Legacy &raquo;</a><a class="btn btn-default" style="margin-left:10px" href="~/RegularWMS/Index.html">Go New &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Drop Shipping Sytem</h2>
        <p>Constructing...</p>
        <p><a class="btn btn-default" href="~/DropShipping/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>3PL System</h2>
        <p>
            <font color="red">Development aborted</font>
        </p>
        <p><button id="btn-3pl" class="btn btn-default">Go &raquo;</button></p>
    </div>
</div>
@section scripts
{
    <script>

        $(document).ready(function () {

            var index;
            var date = new Date();
            var timeFrom = formatDate(new Date(2019, 04, 01));
            var timeTo = formatDate(date);

            //var timeFrom = date.addDays(-30).getFullYear().toString() + "-" + (date.getMonth() <  9 ? ("0" + date.getMonth().toString()) : date.getMonth().toString()) + "-" + date.getDate().toString();
            //var timeTo = date.getFullYear().toString() + "-" + ((date.getMonth() + 1) < 9 ? ("0" + (date.getMonth() + 1).toString()) : (date.getMonth() + 1).toString()) + "-" + date.getDate().toString();

            $("#btn-3pl").on("click", function () {

                $(window.location).attr('href', "/thirdpartylogistics/index/?timeFrom=" + timeFrom + "&timeTo=" + timeTo);
            });

            $("#btn-regular").on("click", function () {
                $(window.location).attr('href', "/thirdpartylogistics/index/?timeFrom=" + timeFrom + "&timeTo=" + timeTo);
            });

            var conn = $.connection("/testconnection");

            //conn.start().done(function (data) {
            //    console.log("已连接服务器，当前GUID为：" + data.id);
            //    conn.send("To Admin");
            //});

            //conn.received(function (data) {
            //    console.log("服务器返回消息：" + data);
            //});

            //Push.create("您已成功连接服务器订单/通知推送模块！", {
            //    body: "You have connected to notification server!",
            //    icon: '/Img/c2qb_green_btn_sm_default.png',
            //    timeout: 10000,
            //    onClick: function () {
            //        window.focus;
            //        this.close;
            //    }

            //});

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            }
        });

    </script>

}