@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grand Channel Inc.</h1>
    <p class="lead">A Commercial Warehouse specially operated for FBA cargo delivery and E-Commerce cargo online order fulfillment.</p>
    <p><b>Location:</b> 3 minutes to Los Angeles 60 Freeway</p>
    <p><b>Address:</b> 13780 Central Ave., Chino, CA 91710</p>
    <p><a href="~/Home/Test" class="btn btn-primary btn-lg">Test! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>FBA System</h2>
        <p>
            Constructing...
        </p>
        @*<p><a class="btn btn-default" href="http://www.grandchannel.net/grandchannel/">Go &raquo;</a></p>
        *@
        <p><a class="btn btn-default" href="~/fba/storagecharge">Go &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Drop Shipping Sytem</h2>
        <p>Constructing...</p>
        <p><a class="btn btn-default" href="~/DropShipping/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>3PL System</h2>
        <p>Constructing...</p>
        <p><a class="btn btn-default" href="~/ThirdPartyLogistics/Index">Go &raquo;</a></p>
    </div>
</div>

<div>

</div>